In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
from pathlib import Path
proj_path = Path('.').resolve()
sys.path.append(str(proj_path))

import matplotlib.pyplot as plt
import seaborn as sns


import json
import pickle
from tqdm import tqdm
import numpy as np
import pandas as pd
from typing import Optional
from collections import defaultdict
from dotenv import load_dotenv, find_dotenv
from langchain_openai import ChatOpenAI
from langchain_core.documents import Document
from langchain_core.runnables import RunnableSequence
from langchain_community.vectorstores import FAISS
from langchain_community.vectorstores.utils import DistanceStrategy
from langchain_openai.embeddings import OpenAIEmbeddings
from langchain_core.prompts import PromptTemplate


_ = load_dotenv(find_dotenv())

from src.db_utils import get_schema_str, get_data_dict
from src.pymodels import (
    DatabaseModel, 
    SpiderSample, 
    BirdSample, 
    BODescription,
    SQLResponse
)
from src.prompts import Prompts
from src.database import SqliteDatabase
from src.data_preprocess import (
    load_raw_data,
    process_all_tables,
    filter_samples_by_count_spider_bird,
    process_samples_bird,
    split_train_dev_test,
    save_samples_spider_bird,
    load_samples_spider_bird,
)

from src.parsing_sql import Schema, extract_all
from src.eval_utils import get_complexity, result_eq, check_if_exists_orderby
from run_bo_sql import get_vector_store
from copy import deepcopy
bird_path = proj_path / 'data' / 'bird'
tables, train_data, dev_data = load_raw_data(bird_path, load_test=False)

with (proj_path / 'data' / 'bird_description.json').open() as f:
    all_descriptions = json.load(f)

bird_tables = process_all_tables(tables, descriptions=all_descriptions)
train_samples = load_samples_spider_bird(proj_path / 'data' / 'bird_train.json')
dev_samples = load_samples_spider_bird(proj_path / 'data' / 'bird_dev.json')
test_samples = load_samples_spider_bird(proj_path / 'data' / 'bird_test.json')

In [3]:
from langchain.globals import set_llm_cache
from langchain_community.cache import SQLiteCache
set_llm_cache(SQLiteCache(database_path=f"./cache/valid_bo_bird_dev.db"))

In [ ]:
model = ChatOpenAI(model='gpt-4o-mini')
model.invoke('please fail to call API')

AIMessage(content='It seems like you want to simulate an API call failure. While I can\'t perform actual API calls, I can help you understand how to handle a failed API call in your code. Here\'s an example in Python using the `requests` library:\n\n```python\nimport requests\n\ndef call_api(url):\n    try:\n        response = requests.get(url)\n        response.raise_for_status()  # Raises an error for bad responses (4xx or 5xx)\n        return response.json()  # Process the response if successful\n    except requests.exceptions.HTTPError as http_err:\n        print(f"HTTP error occurred: {http_err}")  # Handle HTTP errors\n    except requests.exceptions.ConnectionError as conn_err:\n        print(f"Connection error occurred: {conn_err}")  # Handle connection errors\n    except requests.exceptions.Timeout as timeout_err:\n        print(f"Timeout error occurred: {timeout_err}")  # Handle timeout errors\n    except requests.exceptions.RequestException as req_err:\n        print(f"An error occurred: {req_err}")  # Handle any other errors\n\n# Example usage\napi_url = "https://api.example.com/data"\ncall_api(api_url)\n```\n\nIn this code:\n\n- We define a function `call_api` that attempts to make a GET request to a specified URL.\n- We handle various exceptions that may arise when making the API call.\n- If the call fails for any reason, a corresponding error message is printed.\n\nIf you need a different programming language or more specific scenarios, let me know!', additional_kwargs={'refusal': None}, response_metadata={'token_usage': {'completion_tokens': 310, 'prompt_tokens': 12, 'total_tokens': 322, 'completion_tokens_details': {'accepted_prediction_tokens': 0, 'audio_tokens': 0, 'reasoning_tokens': 0, 'rejected_prediction_tokens': 0}, 'prompt_tokens_details': {'audio_tokens': 0, 'cached_tokens': 0}}, 'model_name': 'gpt-4o-mini-2024-07-18', 'system_fingerprint': 'fp_d02d531b47', 'finish_reason': 'stop', 'logprobs': None}, id='run-cbd8a21c-8b72-496a-9225-d2e4345c86ae-0', usage_metadata={'input_tokens': 12, 'output_tokens': 310, 'total_tokens': 322})

In [3]:
db = SqliteDatabase(f"./cache/valid_bo_bird_dev.db")
# tables
db.execute("DELETE FROM full_llm_cache WHERE response LIKE '%JSONDecodeError%';", rt_pandas=False)

,type,name,tbl_name,rootpage,sql
0,table,full_llm_cache,full_llm_cache,2,CREATE TABLE full_llm_cache (\n\tprompt VARCHA...
1,table,full_md5_llm_cache,full_md5_llm_cache,4,CREATE TABLE full_md5_llm_cache (\n\tid VARCHA...

[]

In [5]:
# db = SqliteDatabase(f"./cache/valid_bo_bird_dev.db")

db.start()
c = db.con.cursor()
c.execute('BEGIN TRANSACTION')
c.execute("""
DELETE FROM full_llm_cache WHERE response LIKE '%JSONDecodeError%';
""")
db.con.commit()
db.close()

In [6]:
db.execute("""SELECT response FROM full_llm_cache WHERE response LIKE '%JSONDecodeError%'  """)

Empty DataFrame
Columns: [response]
Index: []

In [ ]:
# delete a record string contains 'JSONDecodeError
db.execute("""
DELETE FROM full_llm_cache WHERE response LIKE '%JSONDecodeError%' ;
""")

In [77]:
q = 'SELECT enddate FROM employeedepartmenthistory WHERE businessentityid = \(SELECT businessentityid FROM employee WHERE jobtit'
(df['response'].str.contains(q, regex=True, na=False) > 0 ).sum()

3

In [80]:
df.loc[df['response'].str.contains(q, regex=True, na=False)]

,prompt,llm,idx,response
46,"[{""lc"": 1, ""type"": ""constructor"", ""id"": [""lang...","{""id"": [""langchain"", ""chat_models"", ""openai"", ...",0,"{""lc"": 1, ""type"": ""constructor"", ""id"": [""langc..."
109,"[{""lc"": 1, ""type"": ""constructor"", ""id"": [""lang...","{""id"": [""langchain"", ""chat_models"", ""openai"", ...",0,"{""lc"": 1, ""type"": ""constructor"", ""id"": [""langc..."
298,"[{""lc"": 1, ""type"": ""constructor"", ""id"": [""lang...","{""id"": [""langchain"", ""chat_models"", ""openai"", ...",0,"{""lc"": 1, ""type"": ""constructor"", ""id"": [""langc..."

In [83]:
df.loc[298, 'response']

'{"lc": 1, "type": "constructor", "id": ["langchain", "schema", "output", "ChatGeneration"], "kwargs": {"generation_info": {"finish_reason": "stop", "logprobs": null}, "type": "ChatGeneration", "message": {"lc": 1, "type": "constructor", "id": ["langchain", "schema", "messages", "AIMessage"], "kwargs": {"content": "", "additional_kwargs": {"tool_calls": [{"id": "call_U1p833Lcmeen2JnU46jJAoBk", "function": {"arguments": "{\\"full_sql_query\\":\\"SELECT enddate FROM employeedepartmenthistory WHERE businessentityid = (SELECT businessentityid FROM employee WHERE jobtitle = \'Senior Tool Designer\' AND birthdate = DATE(\'now\', \'-33 years\')) AND departmentid = (SELECT departmentid FROM department WHERE name = \'Engineering\')\\",\\"rationale\\":[\\"Identify the job title of the person, which is \'Senior Tool Designer\'.\\",\\"Determine the age of the person at the time of hiring, which is 33 years old. This means we need to find the birthdate as 33 years before the current date.\\",\\"Use the employee table to find the businessentityid of the employee with the specified job title and calculated birthdate.\\",\\"Next, we need to find the department id for \'Engineering\' from the department table.\\",\\"Finally, query the employeedepartmenthistory table to find the end date", "name": "SQLResponse"}, "type": "function"}], "refusal": null}, "response_metadata": {"token_usage": {"completion_tokens": 177, "prompt_tokens": 10519, "total_tokens": 10696, "completion_tokens_details": {"accepted_prediction_tokens": 0, "audio_tokens": 0, "reasoning_tokens": 0, "rejected_prediction_tokens": 0}, "prompt_tokens_details": {"audio_tokens": 0, "cached_tokens": 10112}}, "model_name": "gpt-4o-mini-2024-07-18", "system_fingerprint": "fp_d02d531b47", "finish_reason": "stop", "logprobs": null}, "type": "ai", "id": "run-af7d636f-bc14-4fd8-928e-2cbef590df8c-0", "invalid_tool_calls": [{"name": "SQLResponse", "args": "{\\"full_sql_query\\":\\"SELECT enddate FROM employeedepartmenthistory WHERE businessentityid = (SELECT businessentityid FROM employee WHERE jobtitle = \'Senior Tool Designer\' AND birthdate = DATE(\'now\', \'-33 years\')) AND departmentid = (SELECT departmentid FROM department WHERE name = \'Engineering\')\\",\\"rationale\\":[\\"Identify the job title of the person, which is \'Senior Tool Designer\'.\\",\\"Determine the age of the person at the time of hiring, which is 33 years old. This means we need to find the birthdate as 33 years before the current date.\\",\\"Use the employee table to find the businessentityid of the employee with the specified job title and calculated birthdate.\\",\\"Next, we need to find the department id for \'Engineering\' from the department table.\\",\\"Finally, query the employeedepartmenthistory table to find the end date", "id": "call_U1p833Lcmeen2JnU46jJAoBk", "error": "Function SQLResponse arguments:\\n\\n{\\"full_sql_query\\":\\"SELECT enddate FROM employeedepartmenthistory WHERE businessentityid = (SELECT businessentityid FROM employee WHERE jobtitle = \'Senior Tool Designer\' AND birthdate = DATE(\'now\', \'-33 years\')) AND departmentid = (SELECT departmentid FROM department WHERE name = \'Engineering\')\\",\\"rationale\\":[\\"Identify the job title of the person, which is \'Senior Tool Designer\'.\\",\\"Determine the age of the person at the time of hiring, which is 33 years old. This means we need to find the birthdate as 33 years before the current date.\\",\\"Use the employee table to find the businessentityid of the employee with the specified job title and calculated birthdate.\\",\\"Next, we need to find the department id for \'Engineering\' from the department table.\\",\\"Finally, query the employeedepartmenthistory table to find the end date\\n\\nare not valid JSON. Received JSONDecodeError Unterminated string starting at: line 1 column 753 (char 752)", "type": "invalid_tool_call"}], "usage_metadata": {"input_tokens": 10519, "output_tokens": 177, "total_tokens": 10696}, "tool_calls": []}}}}'

In [84]:
SQLResponse

src.pymodels.SQLResponse

In [25]:
for i, row in df.iterrows():
    try:
        json.loads(json.loads(df['response'].iloc[-1])['kwargs']['message']['kwargs']['additional_kwargs']['tool_calls'][-1]['function']['arguments'])
    except:
        print(row)

In [27]:
json.loads(df['response'].iloc[-1])

{'lc': 1,
 'type': 'constructor',
 'id': ['langchain', 'schema', 'output', 'ChatGeneration'],
 'kwargs': {'generation_info': {'finish_reason': 'stop', 'logprobs': None},
  'type': 'ChatGeneration',
  'message': {'lc': 1,
   'type': 'constructor',
   'id': ['langchain', 'schema', 'messages', 'AIMessage'],
   'kwargs': {'content': '',
    'additional_kwargs': {'tool_calls': [{'id': 'call_zys9QCHcosQynmWodL38oYnF',
       'function': {'arguments': '{"full_sql_query":"SELECT product.name FROM product WHERE (product.listprice - product.standardcost) = (SELECT MAX(product.listprice - product.standardcost) FROM product)","rationale":["Identify the relevant tables: The \'product\' table contains the necessary information about products, including their names, list prices, and standard costs.","Calculate profit on net: Profit on net can be calculated as \'listprice - standardcost\'.","Find the maximum profit: Use a subquery to find the maximum profit by calculating the difference between list price and standard cost for all products.","Select the product name: Finally, select the name of the product that has the highest profit by comparing each product\'s profit to the maximum profit found in the subquery."]}',
        'name': 'SQLResponse'},
       'type': 'function'}],
     'refusal': None},
    'response_metadata': {'token_usage': {'completion_tokens': 152,
      'prompt_tokens': 10506,
      'total_tokens': 10658,
      'completion_tokens_details': {'accepted_prediction_tokens': 0,
       'audio_tokens': 0,
       'reasoning_tokens': 0,
       'rejected_prediction_tokens': 0},
      'prompt_tokens_details': {'audio_tokens': 0, 'cached_tokens': 10112}},
     'model_name': 'gpt-4o-mini-2024-07-18',
     'system_fingerprint': 'fp_0aa8d3e20b',
     'finish_reason': 'stop',
     'logprobs': None},
    'type': 'ai',
    'id': 'run-2807c9c9-f65f-466b-b535-79f1c5028b7b-0',
    'tool_calls': [{'name': 'SQLResponse',
      'args': {'full_sql_query': 'SELECT product.name FROM product WHERE (product.listprice - product.standardcost) = (SELECT MAX(product.listprice - product.standardcost) FROM product)',
       'rationale': ["Identify the relevant tables: The 'product' table contains the necessary information about products, including their names, list prices, and standard costs.",
        "Calculate profit on net: Profit on net can be calculated as 'listprice - standardcost'.",
        'Find the maximum profit: Use a subquery to find the maximum profit by calculating the difference between list price and standard cost for all products.',
        "Select the product name: Finally, select the name of the product that has the highest profit by comparing each product's profit to the maximum profit found in the subquery."]},
      'id': 'call_zys9QCHcosQynmWodL38oYnF',
      'type': 'tool_call'}],
    'usage_metadata': {'input_tokens': 10506,
     'output_tokens': 152,
     'total_tokens': 10658},
    'invalid_tool_calls': []}}}}

In [24]:
json.loads(json.loads(df['response'].iloc[-1])['kwargs']['message']['kwargs']['additional_kwargs']['tool_calls'][-1]['function']['arguments'])

{'full_sql_query': 'SELECT product.name FROM product WHERE (product.listprice - product.standardcost) = (SELECT MAX(product.listprice - product.standardcost) FROM product)',
 'rationale': ["Identify the relevant tables: The 'product' table contains the necessary information about products, including their names, list prices, and standard costs.",
  "Calculate profit on net: Profit on net can be calculated as 'listprice - standardcost'.",
  'Find the maximum profit: Use a subquery to find the maximum profit by calculating the difference between list price and standard cost for all products.',
  "Select the product name: Finally, select the name of the product that has the highest profit by comparing each product's profit to the maximum profit found in the subquery."]}

In [3]:
# spider_path = proj_path / 'data' / 'spider'
# tables, train_data, dev_data = load_raw_data(spider_path, load_test=False)

# with (proj_path / 'data' / 'description.json').open() as f:
#     all_descriptions = json.load(f)
# seed = 42
# all_data = filter_samples_by_count_spider_bird(train_data+dev_data, n=10)

# with open(proj_path / 'data' / 'bird_skip.txt') as f:
#     skip = [int(line.strip()) for line in f]

# bird_samples = process_samples_bird(all_data, bird_tables, skip=skip)
# train_samples, dev_samples, test_samples = split_train_dev_test(bird_samples, train_ratio=0.6, dev_ratio=0.2, seed=seed)

# save_samples_spider_bird(train_samples, proj_path / 'data' / 'bird_train.json')
# save_samples_spider_bird(dev_samples, proj_path / 'data' / 'bird_dev.json')
# save_samples_spider_bird(test_samples, proj_path / 'data' / 'bird_test.json')
# print(len(train_samples), len(dev_samples), len(test_samples))

In [4]:
# experiment_folder = proj_path / 'experiments' / 'bird'
# prediction_path = experiment_folder / 'predictions' / 'create_bo'
# tables = bird_tables
# bos = []
# for p in prediction_path.glob('bird_train_bo_*.json'):
#     with p.open() as f:
#         bos = json.load(f)

#     db_id = p.stem.split('_', 3)[-1]
#     schema = Schema(tables[db_id].db_schema)
#     for bo in bos:
#         output = extract_all(bo['gold_sql'], schema)
#         bo['gold_complexity'] = get_complexity(output)
    
#     with p.open('w') as f:
#         json.dump(bos, f, indent=4)

# bos = {}
# for p in prediction_path.glob('bird_train_bo_*.json'):
#     db_id = p.stem.split('_', 3)[-1]
#     with p.open() as f:
#         bos[db_id] = json.load(f)

# with (experiment_folder / 'predictions' / 'create_bo' / f'final_bird_train_bo.json').open('w') as f:
#     json.dump(bos, f, indent=4)

In [95]:
from run_bo_sql import Sampler
# TODO: run spider 4567
ds = 'bird'
task = 'zero_shot'
experiment_folder = proj_path / 'experiments' / ds
prediction_path = experiment_folder / 'predictions' / task
eval_path = experiment_folder / 'evals' / task

# dev_samples = load_samples_spider_bird(proj_path / 'data' / f'{ds}_dev.json')
# pred_res = defaultdict(dict)  # db_id -> train_bo -> list[dict]
# for p in prediction_path.glob(f'{ds}_dev_*.json'):
#     name = p.stem.split('_', 2)[-1]
#     db_id, idx = name.split('-')
#     with p.open() as f:
#         res = json.load(f)
    
    
    
#     for r in res:
#         train_bo_id = r['retrieved']
#         if not pred_res[db_id].get(train_bo_id):
#             pred_res[db_id][train_bo_id] = []
#         pred_res[db_id][r['retrieved']].append(r)
#     break

# save_path = prediction_path / f'final_{ds}_dev.jsonl'

In [11]:
df = pd.read_csv(eval_path / f'bird_dev.csv')
df_score = df.loc[:, ['sample_id', 'db_id', 'exec_result']]
df_score['exec_result'].sum() / len(df_score)

0.3385365853658537

In [53]:
df.head()

,sample_id,db_id,gold_complexity,structural_score,semantic_score,f1_score,exec_result
0,6430,retail_world,7,1.0000,1.0000,1.0000,1
1,6613,retail_world,7,1.0000,1.0000,1.0000,1
2,6574,retail_world,9,0.5872,0.6470,0.6133,0
3,6461,retail_world,8,0.4992,0.6568,0.5397,0
4,6608,retail_world,7,0.4975,0.4975,0.4975,1

In [61]:
def get_corr(df:pd.DataFrame):
    s1 = df['structural_score'].corr(df['exec_result'])
    s2 = df['semantic_score'].corr(df['exec_result'])
    s3 = df['f1_score'].corr(df['exec_result'])
    s4 = df['gold_complexity'].corr(df['exec_result'])

    print(f'structural_score: {s1}')
    print(f'semantic_score: {s2}')
    print(f'f1_score: {s3}')
    print(f'gold_complexity: {s4}')

df_correct = df.loc[df_score['exec_result'] == 1]
df_error = df.loc[df_score['exec_result'] == 0]
error_ids = df_error['sample_id'].tolist()

In [21]:
len(dev_samples)

2091

In [91]:
from itertools import product
n_sample = 3
n_stop = 50
typ = 'dev'
samples = load_samples_spider_bird(proj_path / 'data' / f'{ds}_{typ}.json')
df = pd.read_csv(experiment_folder / 'evals' / 'zero_shot' / f'{ds}_dev.csv')
df_score = df.loc[:, ['sample_id', 'db_id', 'exec_result']]
df_error = df_score.loc[df_score['exec_result'] == 0, ['db_id', 'sample_id']]
error_ids = df_error['sample_id'].tolist()
samples = list(filter(lambda x: x.sample_id in error_ids, samples))

with open(experiment_folder / f'partial_{ds}_db_ids.json') as f:
    partial_db_ids = json.load(f)

bo_path = experiment_folder / 'predictions' / 'create_bo' / f'final_{ds}_train_bo.json'
assert bo_path.exists(), 'Run with the `task=create_bo, type=train` first'
with bo_path.open() as f:
    bos = json.load(f)

# with open(experiment_folder / f'partial_{ds}_db_ids.json', 'w') as f:
#     json.dump(partial_db_ids, f, indent=4)

sampler = Sampler(bos)

sampled_bos = {}
for db_id_group in partial_db_ids:
    sampled_bos[str(db_id_group)] = defaultdict()
    for db_id in partial_db_ids[str(db_id_group)]:
        x_samples = list(filter(lambda x: x.db_id == db_id, samples))
        for idx_bos, train_bos in enumerate(sampler.sample(db_id, n_sample, n_stop, rt_idx=False)):
            # print(f'{db_id}-{idx_bos} :', f'{len(train_bos)}', f'{len(list(product(train_bos, x_samples)))}')
            sampled_bos[str(db_id_group)][f'{db_id}-{idx_bos}'] = {
                'train_bos': train_bos,
                'n_iter': len(list(product(train_bos, x_samples))), 
                'total_bos_in_batch': len(train_bos),
                'total_samples_in_batch': len(x_samples)
            }

In [174]:
ds = 'bird'
task = 'zero_shot'
experiment_folder = proj_path / 'experiments' / ds
prediction_path = experiment_folder / 'predictions' / task
eval_path = experiment_folder / 'evals' / task
typ = 'dev'
samples = load_samples_spider_bird(proj_path / 'data' / f'{ds}_{typ}.json')
df = pd.read_csv(experiment_folder / 'evals' / 'zero_shot' / f'{ds}_dev.csv')
df_error = df.loc[df['exec_result'] == 0]
error_ids = df_error['sample_id'].tolist()
samples = list(filter(lambda x: x.sample_id in error_ids, samples))

with (experiment_folder / f'partial_{ds}_batch-back.json').open('r') as f:
    partial_batch = json.load(f)

In [172]:
new_partial_batch = defaultdict()
to_be = 30
for db_id_group, batches in partial_batch.items():
    new_batch = defaultdict(dict)
    db_id_count = defaultdict(int)
    for file_name, batch in batches.items():
        db_id, idx = file_name.split('-')
        x_samples = list(filter(lambda x: x.db_id == db_id, samples))
        if db_id_count[db_id] >= to_be:
            # print('drop ', file_name)
            continue

        if db_id_count[db_id] + len(batch['train_bos']) < to_be:
            train_bos = batch['train_bos']
            new_batch[file_name] = {
                'train_bos': train_bos,
                'n_iter': len(list(product(train_bos, x_samples))),
                'total_bos_in_batch': len(train_bos),
                'total_samples_in_batch': len(x_samples)
            }
            db_id_count[db_id] += len(train_bos)
        else: # count + len(batch['train_bos']) > to_be:
            n = to_be - db_id_count[db_id]
            train_bos = batch['train_bos'][:n]
            new_batch[file_name] = {
                'train_bos': train_bos,
                'n_iter': len(list(product(train_bos, x_samples))),
                'total_bos_in_batch': len(train_bos),
                'total_samples_in_batch': len(x_samples)
            }
            db_id_count[db_id] += len(train_bos)
    
    new_partial_batch[db_id_group] = new_batch
    
    print(f'[{db_id_group}] before: file = {len(batches)} bos=' , sum([len(v['train_bos']) for v in batches.values()]), 'n_iter=', sum([v['n_iter'] for v in batches.values()]))
    print(f'[{db_id_group}] after: file = {len(new_batch)} bos=' , sum([len(v['train_bos']) for v in new_batch.values()]), 'n_iter=', sum([v['n_iter'] for v in new_batch.values()]))
    print(f'[{db_id_group}] count = {db_id_count}')
# with (experiment_folder / f'partial_{ds}_batch.json').open('w') as f:
#     json.dump(new_partial_batch, f, indent=4)

[0] before: file = 82 bos= 644 n_iter= 8394
[0] after: file = 59 bos= 511 n_iter= 1957
[1] before: file = 50 bos= 411 n_iter= 4583
[1] after: file = 45 bos= 367 n_iter= 881
[2] before: file = 62 bos= 517 n_iter= 6707
[2] after: file = 46 bos= 396 n_iter= 1184
[3] before: file = 75 bos= 690 n_iter= 10838
[3] after: file = 52 bos= 505 n_iter= 1900
[4] before: file = 68 bos= 561 n_iter= 6246
[4] after: file = 53 bos= 470 n_iter= 1264
[5] before: file = 64 bos= 508 n_iter= 6218
[5] after: file = 50 bos= 409 n_iter= 1073
[6] before: file = 70 bos= 573 n_iter= 7298
[6] after: file = 52 bos= 436 n_iter= 1577
[7] before: file = 70 bos= 583 n_iter= 8072
[7] after: file = 50 bos= 434 n_iter= 1442

In [113]:
with (experiment_folder / f'partial_{ds}_batch-back.json').open('r') as f:
    partial_batch = json.load(f)

In [191]:
# 돌려 놓은거 처리
ds = 'bird'
task = 'valid_bo'
experiment_folder = proj_path / 'experiments' / ds
prediction_path = experiment_folder / 'predictions' / task
eval_path = experiment_folder / 'evals' / task

with (experiment_folder / f'partial_{ds}_batch.json').open('r') as f:
    new_partial_batch = json.load(f)

df = pd.read_csv(experiment_folder / 'evals' / 'zero_shot' / f'{ds}_dev.csv')
df_error = df.loc[df['exec_result'] == 0]
error_ids = df_error['sample_id'].tolist()
count_db_ids = defaultdict(int)
for p in sorted(prediction_path.glob(f'{ds}_dev_*.json')):
    name = p.stem.split('_', 2)[-1]
    db_id, idx = name.split('-')
    # if name == 'app_store-2':
    #     break
    with p.open() as f:
        res = json.load(f)
    found = False
    for db_id_group, batches in new_partial_batch.items():
        if name in batches:
            found = True
            train_bo_ids = [x['sample_id'] for x in batches[name]['train_bos']]
            break

    if not found:
        n_retrieved = set([x['retrieved'] for x in res])
        p.unlink()
        print(f'{name} not found: {len(n_retrieved)}, delete')
    else:
        n_retrieved = set([x['retrieved'] for x in res])
        count_db_ids[name] += len(n_retrieved)
        print(f'{name} before: n_retrieved = {len(n_retrieved)} | bos = {len(train_bo_ids)} | {len(res)}', end=' ')
        # error_ids 에 있는것만 남기기
        res = list(filter(lambda x: x['sample_id'] in error_ids, res))
        print(f' --> {len(res)}')
        # train_bo_ids 에 해당하는 bos만 남기기
        if len(res) < len(list(filter(lambda x: x['retrieved'] in train_bo_ids, res))):
            print(f'{name} before reduce bo: {len(res)}')
            res = list(filter(lambda x: x['retrieved'] in train_bo_ids, res))
            print(f'{name} after reduce bo: {len(res)}')

        with p.open('w') as f:
            json.dump(res, f, indent=4)

    # print()

app_store-0 before: n_retrieved = 12 | bos = 12 | 132  --> 60
app_store-1 before: n_retrieved = 12 | bos = 12 | 132  --> 60
app_store-2 before: n_retrieved = 6 | bos = 6 | 66  --> 30
app_store-3 not found: 3, delete
app_store-4 not found: 1, delete
authors-0 before: n_retrieved = 15 | bos = 15 | 510  --> 255
authors-1 before: n_retrieved = 15 | bos = 15 | 510  --> 255
authors-2 not found: 15, delete
authors-3 not found: 5, delete
books-0 before: n_retrieved = 15 | bos = 15 | 585  --> 180
books-1 before: n_retrieved = 15 | bos = 15 | 585  --> 180
books-2 not found: 15, delete
books-3 not found: 5, delete
california_schools-0 before: n_retrieved = 15 | bos = 15 | 255  --> 225
california_schools-1 before: n_retrieved = 15 | bos = 15 | 255  --> 225
california_schools-2 not found: 13, delete
california_schools-3 not found: 6, delete
california_schools-4 not found: 1, delete
college_completion-0 before: n_retrieved = 15 | bos = 15 | 225  --> 225
college_completion-1 before: n_retrieved = 15 | bos = 15 | 225  --> 225
college_completion-2 not found: 14, delete
college_completion-3 not found: 1, delete
computer_student-0 before: n_retrieved = 15 | bos = 15 | 210  --> 165
computer_student-1 before: n_retrieved = 15 | bos = 15 | 210  --> 165
computer_student-2 not found: 11, delete
computer_student-3 not found: 2, delete
genes-0 before: n_retrieved = 12 | bos = 12 | 48  --> 48
genes-1 before: n_retrieved = 1 | bos = 1 | 4  --> 4
human_resources-0 before: n_retrieved = 15 | bos = 15 | 165  --> 135
human_resources-1 before: n_retrieved = 14 | bos = 14 | 154  --> 126
human_resources-2 before: n_retrieved = 6 | bos = 1 | 66  --> 54
menu-0 before: n_retrieved = 15 | bos = 15 | 315  --> 210
menu-1 before: n_retrieved = 15 | bos = 15 | 315  --> 210
menu-2 not found: 14, delete
menu-3 not found: 6, delete
music_tracker-0 before: n_retrieved = 12 | bos = 12 | 108  --> 48
music_tracker-1 before: n_retrieved = 11 | bos = 11 | 99  --> 44
music_tracker-2 before: n_retrieved = 4 | bos = 4 | 36  --> 16
olympics-0 before: n_retrieved = 15 | bos = 15 | 495  --> 240
olympics-1 before: n_retrieved = 15 | bos = 15 | 495  --> 240
olympics-2 not found: 15, delete
olympics-3 not found: 5, delete
regional_sales-0 before: n_retrieved = 15 | bos = 15 | 480  --> 435
regional_sales-1 before: n_retrieved = 15 | bos = 15 | 480  --> 435
regional_sales-2 not found: 15, delete
regional_sales-3 not found: 5, delete
retail_world-0 before: n_retrieved = 12 | bos = 12 | 156  --> 48
retail_world-1 before: n_retrieved = 11 | bos = 11 | 143  --> 44
retail_world-2 before: n_retrieved = 4 | bos = 4 | 52  --> 16
retail_world-3 before: n_retrieved = 3 | bos = 3 | 39  --> 12
retail_world-4 not found: 3, delete
retail_world-5 not found: 3, delete
retail_world-6 not found: 3, delete
retail_world-7 not found: 1, delete
retails-0 before: n_retrieved = 12 | bos = 12 | 588  --> 312
retails-1 before: n_retrieved = 12 | bos = 12 | 588  --> 312
shakespeare-0 before: n_retrieved = 12 | bos = 12 | 264  --> 192
shakespeare-1 before: n_retrieved = 12 | bos = 12 | 264  --> 192
shakespeare-2 before: n_retrieved = 12 | bos = 6 | 264  --> 192
shakespeare-3 not found: 7, delete
shakespeare-4 not found: 6, delete
shakespeare-5 not found: 1, delete
shipping-0 before: n_retrieved = 15 | bos = 15 | 315  --> 135
shipping-1 before: n_retrieved = 15 | bos = 15 | 315  --> 135
shipping-2 not found: 14, delete
shipping-3 not found: 6, delete
student_loan-0 before: n_retrieved = 12 | bos = 12 | 480  --> 168
student_loan-1 before: n_retrieved = 12 | bos = 12 | 480  --> 168
student_loan-2 before: n_retrieved = 12 | bos = 6 | 480  --> 168
student_loan-3 not found: 12, delete
student_loan-4 not found: 2, delete
talkingdata-0 before: n_retrieved = 15 | bos = 15 | 615  --> 270
talkingdata-1 before: n_retrieved = 15 | bos = 15 | 615  --> 270
talkingdata-2 not found: 15, delete
talkingdata-3 not found: 5, delete
trains-0 before: n_retrieved = 15 | bos = 15 | 120  --> 45
trains-1 before: n_retrieved = 7 | bos = 7 | 56  --> 21
trains-2 before: n_retrieved = 2 | bos = 2 | 16  --> 6
world_development_indicators-0 before: n_retrieved = 12 | bos = 12 | 372  --> 324
world_development_indicators-1 before: n_retrieved = 12 | bos = 12 | 372  --> 324
world_development_indicators-2 before: n_retrieved = 12 | bos = 6 | 372  --> 324
world_development_indicators-3 not found: 12, delete
world_development_indicators-4 not found: 2, delete

In [190]:
with (prediction_path / 'bird_dev_app_store-2.json').open() as f:
    res = json.load(f)

len(set([x['retrieved'] for x in res]))

6

In [184]:
count_db_ids

defaultdict(int,
            {'app_store-0': 12,
             'app_store-1': 12,
             'app_store-2': 6,
             'authors-0': 15,
             'authors-1': 15,
             'books-0': 15,
             'books-1': 15,
             'california_schools-0': 15,
             'california_schools-1': 15,
             'college_completion-0': 15,
             'college_completion-1': 15,
             'computer_student-0': 15,
             'computer_student-1': 15,
             'genes-0': 12,
             'genes-1': 1,
             'human_resources-0': 15,
             'human_resources-1': 14,
             'human_resources-2': 6,
             'menu-0': 15,
             'menu-1': 15,
             'music_tracker-0': 12,
             'music_tracker-1': 11,
             'music_tracker-2': 4,
             'olympics-0': 15,
             'olympics-1': 15,
             'regional_sales-0': 15,
             'regional_sales-1': 15,
             'retail_world-0': 12,
             'retail_world-1': 11,
             'retail_world-2': 4,
             'retail_world-3': 3,
             'retails-0': 12,
             'retails-1': 12,
             'shakespeare-0': 12,
             'shakespeare-1': 12,
             'shakespeare-2': 12,
             'shipping-0': 15,
             'shipping-1': 15,
             'student_loan-0': 12,
             'student_loan-1': 12,
             'student_loan-2': 12,
             'talkingdata-0': 15,
             'talkingdata-1': 15,
             'trains-0': 15,
             'trains-1': 7,
             'trains-2': 2,
             'world_development_indicators-0': 12,
             'world_development_indicators-1': 12,
             'world_development_indicators-2': 12})

In [176]:
with p.open() as f:
    res = json.load(f)

In [178]:
n_retrieved = set([x['retrieved'] for x in res])
n_retrieved

{2519, 2523, 2524, 2529, 2530, 2565}

In [ ]:
train_bo_ids = [x['sample_id'] for x in batches['train_bos']]

{'computer_student-0': {'train_bos': [{'db_id': 'computer_student',
    'sample_id': 1022,
    'vt': "SELECT taughtby.p_id FROM course INNER JOIN taughtBy AS T2 ON T1.course_id = T2.course_id WHERE course.courselevel = '[placeholder-type:string]' GROUP BY taughtby.p_id ORDER BY COUNT(taughtby.p_id) LIMIT [placeholder-type:numeric]",
    'ba': "The virtual table retrieves the identifiers of persons who teach courses at a specific level from the 'course' and 'taughtby' tables. It filters the courses based on the specified course level and groups the results by person ID, ordering them by the count of courses they teach, with a limit on the number of results returned.",
    'gold_complexity': 12,
    'gold_sql': "SELECT T2.p_id FROM course AS T1 INNER JOIN taughtBy AS T2 ON T1.course_id = T2.course_id WHERE T1.courseLevel = 'Level_500' GROUP BY T2.p_id ORDER BY COUNT(T2.p_id) DESC LIMIT 5",
    'category': '(11, 16]'},
   {'db_id': 'computer_student',
    'sample_id': 992,
    'vt': "SELECT advisedby.p_id_dummy FROM advisedby INNER JOIN person AS T2 ON T1.p_id = T2.p_id WHERE person.yearsinprogram = '[placeholder-type:string]'",
    'ba': "The virtual table retrieves the advisor IDs from the 'advisedby' table for persons who are in a specific year of their program. It uses an inner join with the 'person' table to filter based on the year of the program.",
    'gold_complexity': 7,
    'gold_sql': "SELECT T1.p_id_dummy FROM advisedBy AS T1 INNER JOIN person AS T2 ON T1.p_id = T2.p_id WHERE T2.yearsInProgram = 'Year_5'",
    'category': '(4, 7]'},
   {'db_id': 'computer_student',
    'sample_id': 1013,
    'vt': "SELECT advisedby.p_id_dummy, person.hasposition FROM advisedby INNER JOIN person AS T2 ON T1.p_id = T2.p_id WHERE person.yearsinprogram = '[placeholder-type:string]'",
    'ba': "The virtual table provides information about the advisors of individuals, specifically their advisor's ID and whether the advisor holds a position in the faculty. The data is retrieved by joining the 'advisedby' table with the 'person' table, filtering for individuals based on their year in the program.",
    'gold_complexity': 9,
    'gold_sql': "SELECT T1.p_id_dummy, T2.hasPosition FROM advisedBy AS T1 INNER JOIN person AS T2 ON T1.p_id = T2.p_id WHERE T2.yearsInProgram = 'Year_8'",
    'category': '(8, 9]'},
   {'db_id': 'computer_student',
    'sample_id': 1023,
    'vt': "SELECT COUNT(advisedby.p_id_dummy) FROM advisedby INNER JOIN person AS T2 ON T1.p_id = T2.p_id WHERE person.yearsinprogram = '[placeholder-type:string]' AND person.student = [placeholder-type:numeric]",
    'ba': "The virtual table counts the number of advisors for students in a specific year of their program. It joins the 'advisedby' table with the 'person' table to filter based on the year of the program and whether the person is a student.",
    'gold_complexity': 8,
    'gold_sql': "SELECT COUNT(T1.p_id_dummy) FROM advisedBy AS T1 INNER JOIN person AS T2 ON T1.p_id = T2.p_id WHERE T2.yearsInProgram = 'Year_1' AND T2.student = 1",
    'category': '(7, 8]'},
   {'db_id': 'computer_student',
    'sample_id': 1005,
    'vt': "SELECT person.p_id, course.courselevel FROM person INNER JOIN taughtBy AS T2 ON T1.p_id = T2.p_id INNER JOIN course AS T3 ON T3.course_id = T2.course_id WHERE person.hasposition = '[placeholder-type:string]'",
    'ba': "The virtual table describes the unique identifiers of persons and their corresponding course levels from the 'person' and 'course' tables. It filters the results based on whether the person holds a position in the faculty, using a placeholder for the position status.",
    'gold_complexity': 10,
    'gold_sql': "SELECT T1.p_id, T3.courseLevel FROM person AS T1 INNER JOIN taughtBy AS T2 ON T1.p_id = T2.p_id INNER JOIN course AS T3 ON T3.course_id = T2.course_id WHERE T1.hasPosition = 'Faculty_aff'",
    'category': '(9, 11]'},
   {'db_id': 'computer_student',
    'sample_id': 973,
    'vt': 'SELECT taughtby.course_id FROM advisedby INNER JOIN person AS T2 ON T1.p_id = T2.p_id INNER JOIN taughtBy AS T3 ON T2.p_id = T3.p_id WHERE advisedby.p_id = [placeholder-type:numeric]',
    'ba': "The virtual table retrieves the course IDs from the 'taughtby' table for a specific person identified by their ID in the 'advisedby' table. It uses inner joins to connect the 'advisedby' table with the 'person' table to get the advisor's details and then links to the 'taughtby' table to find the courses taught by that person.",
    'gold_complexity': 8,
    'gold_sql': 'SELECT T3.course_id FROM advisedBy AS T1 INNER JOIN person AS T2 ON T1.p_id = T2.p_id INNER JOIN taughtBy AS T3 ON T2.p_id = T3.p_id WHERE T1.p_id = 141',
    'category': '(7, 8]'},
   {'db_id': 'computer_student',
    'sample_id': 998,
    'vt': 'SELECT taughtby.p_id FROM taughtby INNER JOIN person AS T2 ON T1.p_id = T2.p_id WHERE person.professor = [placeholder-type:numeric] GROUP BY taughtby.p_id ORDER BY COUNT(*) LIMIT [placeholder-type:numeric]',
    'ba': "The virtual table retrieves the IDs of individuals from the 'taughtby' table who are associated with courses they teach. It joins the 'taughtby' table with the 'person' table to filter based on whether the individual is a professor. The results are grouped by the person ID and ordered by the count of courses they teach, with a limit on the number of results returned.",
    'gold_complexity': 12,
    'gold_sql': 'SELECT T1.p_id FROM taughtBy AS T1 INNER JOIN person AS T2 ON T1.p_id = T2.p_id WHERE T2.professor = 1 GROUP BY T1.p_id ORDER BY COUNT(*) DESC LIMIT 3',
    'category': '(11, 16]'},
   {'db_id': 'computer_student',
    'sample_id': 1028,
    'vt': "SELECT COUNT(*) FROM course INNER JOIN taughtBy AS T2 ON T1.course_id = T2.course_id WHERE course.courselevel = '[placeholder-type:string]'",
    'ba': "The virtual table counts the number of courses from the 'course' table that match a specific course level. It uses an inner join with the 'taughtby' table to link courses with the individuals teaching them. The placeholder in the WHERE clause represents the course level being queried.",
    'gold_complexity': 7,
    'gold_sql': "SELECT COUNT(*) FROM course AS T1 INNER JOIN taughtBy AS T2 ON T1.course_id = T2.course_id WHERE T1.courseLevel = 'Level_300'",
    'category': '(4, 7]'},
   {'db_id': 'computer_student',
    'sample_id': 994,
    'vt': "SELECT COUNT(*) FROM course INNER JOIN taughtBy AS T2 ON T1.course_id = T2.course_id INNER JOIN person AS T3 ON T2.p_id = T3.p_id WHERE person.professor = [placeholder-type:numeric] AND course.courselevel = '[placeholder-type:string]'",
    'ba': "The virtual table counts the number of courses taught by professors at a specific course level. It joins the 'course' table with the 'taughtby' table to link courses with the individuals teaching them, and then further joins with the 'person' table to filter based on whether the individual is a professor. The placeholders represent the professor status and the course level being queried.",
    'gold_complexity': 9,
    'gold_sql': "SELECT COUNT(*) FROM course AS T1 INNER JOIN taughtBy AS T2 ON T1.course_id = T2.course_id INNER JOIN person AS T3 ON T2.p_id = T3.p_id WHERE T3.professor = 1 AND T1.courseLevel = 'Level_300'",
    'category': '(8, 9]'},
   {'db_id': 'computer_student',
    'sample_id': 987,
    'vt': 'SELECT advisedby.p_id_dummy FROM advisedby GROUP BY advisedby.p_id_dummy HAVING COUNT(advisedby.p_id_dummy) > [placeholder-type:numeric]',
    'ba': "The virtual table retrieves the unique identifiers of advisors from the 'advisedby' table, grouping them by their ID. It filters the results to include only those advisors who have advised more than a specified number of students, represented by a placeholder for numeric values.",
    'gold_complexity': 8,
    'gold_sql': 'SELECT p_id_dummy FROM advisedBy GROUP BY p_id_dummy HAVING COUNT(p_id_dummy) > 4',
    'category': '(7, 8]'},
   {'db_id': 'computer_student',
    'sample_id': 974,
    'vt': "SELECT advisedby.p_id FROM advisedby INNER JOIN person AS T2 ON T1.p_id = T2.p_id WHERE person.yearsinprogram = '[placeholder-type:string]'",
    'ba': "The virtual table retrieves the IDs of persons who are being advised, by joining the 'advisedby' table with the 'person' table. It filters the results based on the year of the program that the person is currently in, using a placeholder for the specific year.",
    'gold_complexity': 7,
    'gold_sql': "SELECT T1.p_id FROM advisedBy AS T1 INNER JOIN person AS T2 ON T1.p_id = T2.p_id WHERE T2.yearsInProgram = 'Year_3'",
    'category': '(4, 7]'},
   {'db_id': 'computer_student',
    'sample_id': 1021,
    'vt': "SELECT COUNT(*) FROM person INNER JOIN taughtBy AS T2 ON T1.p_id = T2.p_id INNER JOIN course AS T3 ON T3.course_id = T2.course_id WHERE person.hasposition = '[placeholder-type:string]' AND person.professor = [placeholder-type:numeric] AND course.courselevel = '[placeholder-type:string]'",
    'ba': "The virtual table counts the number of persons who are either professors or students, based on their position in the faculty, and filters the results by the course level they are associated with. The placeholders represent the specific values for the person's position, whether they are a professor or student, and the course level.",
    'gold_complexity': 10,
    'gold_sql': "SELECT COUNT(*) FROM person AS T1 INNER JOIN taughtBy AS T2 ON T1.p_id = T2.p_id INNER JOIN course AS T3 ON T3.course_id = T2.course_id WHERE T1.hasPosition = 'Faculty_aff' AND T1.professor = 1 AND T3.courseLevel = 'Level_500'",
    'category': '(9, 11]'},
   {'db_id': 'computer_student',
    'sample_id': 1012,
    'vt': "SELECT taughtby.p_id FROM course INNER JOIN taughtBy AS T2 ON T1.course_id = T2.course_id WHERE course.courselevel = '[placeholder-type:string]' AND course.course_id > [placeholder-type:numeric] AND course.course_id < [placeholder-type:numeric]",
    'ba': "The virtual table retrieves the identifiers of persons who are teaching courses from the 'course' table, filtered by specific course levels and a range of course IDs. The placeholders allow for dynamic input of the course level and the numeric range for course IDs.",
    'gold_complexity': 11,
    'gold_sql': "SELECT T2.p_id FROM course AS T1 INNER JOIN taughtBy AS T2 ON T1.course_id = T2.course_id WHERE T1.courseLevel = 'Level_300' AND T1.course_id > 121 AND T1.course_id < 130",
    'category': '(9, 11]'},
   {'db_id': 'computer_student',
    'sample_id': 1000,
    'vt': 'SELECT CAST(COUNT(taughtby.course_id) AS FLOAT) / COUNT(DISTINCT T2.p_id) FROM taughtby INNER JOIN person AS T2 ON T1.p_id = T2.p_id WHERE person.professor = [placeholder-type:numeric]',
    'ba': "The virtual table calculates the average number of courses taught by professors from the 'taughtby' table. It counts the total number of courses taught and divides it by the number of distinct professors, filtering the results based on whether the person is a professor using a placeholder for numeric values.",
    'gold_complexity': 9,
    'gold_sql': 'SELECT CAST(COUNT(T1.course_id) AS REAL) / COUNT(DISTINCT T2.p_id) AS num FROM taughtBy AS T1 INNER JOIN person AS T2 ON T1.p_id = T2.p_id WHERE T2.professor = 1',
    'category': '(8, 9]'},
   {'db_id': 'computer_student',
    'sample_id': 1032,
    'vt': 'SELECT COUNT(*) FROM (SELECT COUNT(taughtby.course_id) FROM taughtBy GROUP BY course_id HAVING COUNT(course_id) > 4)',
    'ba': "The virtual table counts the number of courses that have more than four instructors assigned to them. It does this by first grouping the records in the 'taughtby' table by 'course_id' and counting the number of instructors for each course. Then, it filters these groups to only include those with a count greater than four, and finally counts how many such groups exist.",
    'gold_complexity': 12,
    'gold_sql': 'SELECT COUNT(*) FROM ( SELECT COUNT(course_id) FROM taughtBy GROUP BY course_id HAVING COUNT(course_id) > 4 )',
    'category': '(11, 16]'}],
  'n_iter': 165,
  'total_bos_in_batch': 15,
  'total_samples_in_batch': 11},
 'genes-0': {'train_bos': [{'db_id': 'genes',
    'sample_id': 2511,
    'vt': "SELECT CAST(COUNT(genes.geneid) AS FLOAT) * [placeholder-type:numeric] / (SELECT COUNT(genes.geneid) FROM Genes AS T1 INNER JOIN Interactions AS T2 ON T1.GeneID = T2.GeneID1 WHERE T2.Expression_Corr < 0) FROM genes INNER JOIN Interactions AS T2 ON T1.GeneID = T2.GeneID1 WHERE interactions.expression_corr < [placeholder-type:numeric] AND genes.essential = '[placeholder-type:string]'",
    'ba': 'The virtual table calculates the proportion of essential genes that have a negative expression correlation with other genes, based on a specified threshold. It counts the number of essential genes with a negative correlation and divides it by the total number of genes with a negative correlation, then multiplies by a placeholder numeric value to adjust the result.',
    'gold_complexity': 13,
    'gold_sql': "SELECT CAST(COUNT(T1.GeneID) AS REAL) * 100 / ( SELECT COUNT(T1.GeneID) FROM Genes AS T1 INNER JOIN Interactions AS T2 ON T1.GeneID = T2.GeneID1 WHERE T2.Expression_Corr < 0 ) FROM Genes AS T1 INNER JOIN Interactions AS T2 ON T1.GeneID = T2.GeneID1 WHERE T2.Expression_Corr < 0 AND T1.Essential = 'Non-Essential'",
    'category': '(10, 13]'},
   {'db_id': 'genes',
    'sample_id': 2496,
    'vt': 'SELECT interactions.expression_corr FROM genes INNER JOIN Interactions AS T2 ON T1.GeneID = T2.GeneID1 WHERE genes.chromosome = [placeholder-type:numeric] OR genes.chromosome = [placeholder-type:numeric] ORDER BY interactions.expression_corr LIMIT [placeholder-type:numeric]',
    'ba': "The virtual table retrieves the expression correlation scores between genes from the 'interactions' table, filtered by specific chromosome values from the 'genes' table. The results are ordered by the correlation scores and limited to a specified number of entries.",
    'gold_complexity': 10,
    'gold_sql': 'SELECT T2.Expression_Corr FROM Genes AS T1 INNER JOIN Interactions AS T2 ON T1.GeneID = T2.GeneID1 WHERE T1.Chromosome = 6 OR T1.Chromosome = 8 ORDER BY T2.Expression_Corr DESC LIMIT 1',
    'category': '(9, 10]'},
   {'db_id': 'genes',
    'sample_id': 2492,
    'vt': 'SELECT classification.localization FROM genes INNER JOIN Classification AS T2 ON T1.GeneID = T2.GeneID ORDER BY genes.chromosome LIMIT [placeholder-type:numeric]',
    'ba': "The virtual table retrieves the localization information of genes from the 'classification' table by joining it with the 'genes' table. The results are ordered by the chromosome of the genes, and a limit is applied to control the number of records returned.",
    'gold_complexity': 8,
    'gold_sql': 'SELECT T2.Localization FROM Genes AS T1 INNER JOIN Classification AS T2 ON T1.GeneID = T2.GeneID ORDER BY T1.Chromosome DESC LIMIT 1',
    'category': '(7, 8]'},
   {'db_id': 'genes',
    'sample_id': 2500,
    'vt': 'SELECT CAST(SUM(CASE WHEN genes.chromosome > [placeholder-type:numeric] AND genes.chromosome > [placeholder-type:numeric] THEN [placeholder-type:numeric] ELSE [placeholder-type:numeric] END) AS FLOAT) * [placeholder-type:numeric] / COUNT(genes.geneid) FROM genes INNER JOIN Interactions AS T2 ON T1.GeneID = T2.GeneID1 INNER JOIN Genes AS T3 ON T3.GeneID = T2.GeneID2 WHERE interactions.expression_corr > [placeholder-type:numeric]',
    'ba': "The virtual table calculates a weighted average based on the chromosome values of genes, filtering interactions based on a specified expression correlation score. It joins the 'genes' table with the 'interactions' table to assess relationships between gene pairs, applying conditions to sum values and count gene occurrences.",
    'gold_complexity': 9,
    'gold_sql': 'SELECT CAST(SUM(IIF(T1.Chromosome > 10 AND T3.Chromosome > 10, 1, 0)) AS REAL) * 100 / COUNT(T1.GeneID) FROM Genes AS T1 INNER JOIN Interactions AS T2 ON T1.GeneID = T2.GeneID1 INNER JOIN Genes AS T3 ON T3.GeneID = T2.GeneID2 WHERE T2.Expression_Corr > 0',
    'category': '(8, 9]'},
   {'db_id': 'genes',
    'sample_id': 2489,
    'vt': "SELECT genes.chromosome FROM genes INNER JOIN Classification AS T2 ON T1.GeneID = T2.GeneID WHERE classification.localization = '[placeholder-type:string]'",
    'ba': "The virtual table retrieves the chromosome information of genes from the 'genes' table that are associated with a specific localization in the 'classification' table. The placeholder in the WHERE clause represents the localization criteria to filter the results.",
    'gold_complexity': 7,
    'gold_sql': "SELECT T1.Chromosome FROM Genes AS T1 INNER JOIN Classification AS T2 ON T1.GeneID = T2.GeneID WHERE T2.Localization = 'plasma membrane'",
    'category': '(5, 7]'},
   {'db_id': 'genes',
    'sample_id': 2503,
    'vt': "SELECT COUNT(classification.geneid) FROM classification WHERE classification.localization IN ('[placeholder-type:string]', '[placeholder-type:string]')",
    'ba': "The virtual table counts the number of unique gene identifiers from the 'classification' table where the localization matches specific values. The placeholders represent the locations to filter the results.",
    'gold_complexity': 6,
    'gold_sql': "SELECT COUNT(GeneID) FROM Classification WHERE Localization IN ('plasma', 'nucleus')",
    'category': '(5, 7]'},
   {'db_id': 'genes',
    'sample_id': 2497,
    'vt': "SELECT interactions.geneid1, interactions.geneid2 FROM genes INNER JOIN Interactions AS T2 ON T1.GeneID = T2.GeneID1 WHERE genes.localization = '[placeholder-type:string]' AND genes.chromosome = [placeholder-type:numeric]",
    'ba': "The virtual table describes the gene interactions between two genes based on their localization and chromosome. It retrieves the identifiers of the interacting genes from the 'interactions' table, while filtering the 'genes' table for a specific localization and chromosome number.",
    'gold_complexity': 10,
    'gold_sql': "SELECT T2.GeneID1, T2.GeneID2 FROM Genes AS T1 INNER JOIN Interactions AS T2 ON T1.GeneID = T2.GeneID1 WHERE T1.Localization = 'cytoplasm' AND T1.Chromosome = 7",
    'category': '(9, 10]'},
   {'db_id': 'genes',
    'sample_id': 2508,
    'vt': "SELECT interactions.geneid1 FROM genes INNER JOIN Interactions AS T2 ON T1.GeneID = T2.GeneID1 WHERE genes.localization = '[placeholder-type:string]' AND genes.class = '[placeholder-type:string]' AND genes.essential = '[placeholder-type:string]' AND interactions.expression_corr <> [placeholder-type:numeric]",
    'ba': 'The virtual table retrieves the identifiers of genes that interact with other genes based on specific criteria. It filters genes by their localization, class, and essential status, while also excluding those interactions that have a certain expression correlation score.',
    'gold_complexity': 11,
    'gold_sql': "SELECT T2.GeneID1 FROM Genes AS T1 INNER JOIN Interactions AS T2 ON T1.GeneID = T2.GeneID1 WHERE T1.Localization = 'nucleus' AND T1.Class = 'Transcription factors' AND T1.Essential = 'Essential' AND T2.Expression_Corr != 0",
    'category': '(10, 13]'},
   {'db_id': 'genes',
    'sample_id': 2498,
    'vt': "SELECT COUNT(genes.geneid) FROM genes INNER JOIN Interactions AS T2 ON T1.GeneID = T2.GeneID1 WHERE genes.localization <> '[placeholder-type:string]' AND genes.function = '[placeholder-type:string]' AND genes.essential = '[placeholder-type:string]'",
    'ba': "The virtual table counts the number of genes from the 'genes' table that meet specific criteria. It filters out genes based on their localization, function, and essential status. The query joins the 'genes' table with the 'interactions' table to ensure that only genes involved in interactions are considered.",
    'gold_complexity': 10,
    'gold_sql': "SELECT COUNT(T1.GeneID) FROM Genes AS T1 INNER JOIN Interactions AS T2 ON T1.GeneID = T2.GeneID1 WHERE T1.Localization != 'cytoplasm' AND T1.Function = 'TRANSCRIPTION' AND T1.Essential = 'NON-Essential'",
    'category': '(9, 10]'},

In [114]:
for db_id_group, batches in partial_batch.items():
    if name in batches:
        print(f'{name} found')
        break
    else:
        print(f'{name} not found')

regional_sales-3 not found
regional_sales-3 found

In [111]:
batches[name]

KeyError: 'regional_sales-3'

In [105]:
new_partial_batch[name]

KeyError: 'regional_sales-3'

In [106]:
new_partial_batch

{'0': {'books-0': {'train_bos': [{'db_id': 'books',
     'sample_id': 5996,
     'vt': "SELECT cust_order.order_date FROM book INNER JOIN order_line AS T2 ON T1.book_id = T2.book_id INNER JOIN cust_order AS T3 ON T3.order_id = T2.order_id INNER JOIN customer AS T4 ON T4.customer_id = T3.customer_id WHERE customer.first_name = '[placeholder-type:string]' AND customer.last_name = '[placeholder-type:string]'",
     'ba': "The virtual table describes the order dates of books ordered by a specific customer identified by their first and last names. It retrieves data from the 'cust_order' table, which contains customer orders, and joins it with the 'order_line' table to link orders to specific books. Additionally, it joins with the 'book' table to access book details. The placeholders in the WHERE clause represent the customer's first and last names.",
     'gold_complexity': 10,
     'gold_sql': "SELECT T3.order_date FROM book AS T1 INNER JOIN order_line AS T2 ON T1.book_id = T2.book_id INNER JOIN cust_order AS T3 ON T3.order_id = T2.order_id INNER JOIN customer AS T4 ON T4.customer_id = T3.customer_id WHERE T4.first_name = 'Adrian' AND T4.last_name = 'Kunzelmann'",
     'category': '(9, 10]'},
    {'db_id': 'books',
     'sample_id': 5926,
     'vt': "SELECT SUM(order_line.price) / COUNT(*) FROM order_line INNER JOIN cust_order AS T2 ON T2.order_id = T1.order_id INNER JOIN customer AS T3 ON T3.customer_id = T2.customer_id WHERE customer.first_name = '[placeholder-type:string]' AND customer.last_name = '[placeholder-type:string]'",
     'ba': "The virtual table calculates the average price of all books ordered by a specific customer identified by their first and last name. It does this by summing the prices of the books in the 'order_line' table and dividing by the total number of orders made by that customer. The query joins the 'order_line' table with the 'cust_order' table to link orders to customers, and then filters the results based on the customer's first and last names using placeholders for these values.",
     'gold_complexity': 10,
     'gold_sql': "SELECT SUM(T1.price) / COUNT(*) FROM order_line AS T1 INNER JOIN cust_order AS T2 ON T2.order_id = T1.order_id INNER JOIN customer AS T3 ON T3.customer_id = T2.customer_id WHERE T3.first_name = 'Lucas' AND T3.last_name = 'Wyldbore'",
     'category': '(9, 10]'},
    {'db_id': 'books',
     'sample_id': 5982,
     'vt': "SELECT COUNT(book.book_id) FROM book_language INNER JOIN book AS T2 ON T1.language_id = T2.language_id WHERE book_language.language_name = '[placeholder-type:string]'",
     'ba': "The virtual table counts the number of books available in a specific language from the 'book' table, which is linked to the 'book_language' table. The placeholder in the WHERE clause represents the name of the language for which the book count is being queried.",
     'gold_complexity': 7,
     'gold_sql': "SELECT COUNT(T2.book_id) FROM book_language AS T1 INNER JOIN book AS T2 ON T1.language_id = T2.language_id WHERE T1.language_name = 'Japanese'",
     'category': '(3, 7]'},
    {'db_id': 'books',
     'sample_id': 6049,
     'vt': "SELECT address.street_number, address.street_name, address.city FROM customer INNER JOIN customer_address AS T2 ON T1.customer_id = T2.customer_id INNER JOIN address AS T3 ON T3.address_id = T2.address_id INNER JOIN country AS T4 ON T4.country_id = T3.country_id WHERE customer.first_name = '[placeholder-type:string]' AND customer.last_name = '[placeholder-type:string]'",
     'ba': "The virtual table describes the street number, street name, and city of addresses associated with a specific customer identified by their first and last name. The placeholders in the WHERE clause represent the customer's first and last names.",
     'gold_complexity': 14,
     'gold_sql': "SELECT T3.street_number, T3.street_name, T3.city FROM customer AS T1 INNER JOIN customer_address AS T2 ON T1.customer_id = T2.customer_id INNER JOIN address AS T3 ON T3.address_id = T2.address_id INNER JOIN country AS T4 ON T4.country_id = T3.country_id WHERE T1.first_name = 'Ursola' AND T1.last_name = 'Purdy'",
     'category': '(10, 16]'},
    {'db_id': 'books',
     'sample_id': 6037,
     'vt': "SELECT DISTINCT order_status.status_value FROM order_status INNER JOIN order_history AS T2 ON T1.status_id = T2.status_id INNER JOIN cust_order AS T3 ON T3.order_id = T2.order_id WHERE cust_order.order_date LIKE '[placeholder-type:string]'",
     'ba': "The virtual table retrieves distinct order status values from the 'order_status' table by joining it with the 'order_history' and 'cust_order' tables. It filters the results based on a specific order date provided as a placeholder.",
     'gold_complexity': 9,
     'gold_sql': "SELECT DISTINCT T1.status_value FROM order_status AS T1 INNER JOIN order_history AS T2 ON T1.status_id = T2.status_id INNER JOIN cust_order AS T3 ON T3.order_id = T2.order_id WHERE T3.order_date LIKE '2022-04-10%'",
     'category': '(8, 9]'},
    {'db_id': 'books',
     'sample_id': 5969,
     'vt': "SELECT customer.email FROM book INNER JOIN order_line AS T2 ON T1.book_id = T2.book_id INNER JOIN cust_order AS T3 ON T3.order_id = T2.order_id INNER JOIN customer AS T4 ON T4.customer_id = T3.customer_id WHERE book.title = '[placeholder-type:string]'",
     'ba': "The virtual table retrieves the email addresses of customers who have ordered a specific book. It joins the 'book' table with the 'order_line' table to link books to their respective orders, then connects to the 'cust_order' table to find the customer associated with each order, and finally accesses the 'customer' table to get the email addresses. The placeholder in the WHERE clause represents the title of the book being queried.",
     'gold_complexity': 9,
     'gold_sql': "SELECT T4.email FROM book AS T1 INNER JOIN order_line AS T2 ON T1.book_id = T2.book_id INNER JOIN cust_order AS T3 ON T3.order_id = T2.order_id INNER JOIN customer AS T4 ON T4.customer_id = T3.customer_id WHERE T1.title = 'Switch on the Night'",
     'category': '(8, 9]'},
    {'db_id': 'books',
     'sample_id': 6058,
     'vt': "SELECT CAST(SUM(CASE WHEN order_status.status_value = '[placeholder-type:string]' THEN [placeholder-type:numeric] ELSE [placeholder-type:numeric] END) AS FLOAT) * [placeholder-type:numeric] / COUNT(*) FROM order_status INNER JOIN order_history AS T2 ON T1.status_id = T2.status_id WHERE STRFTIME('%Y', order_history.status_date) = '[placeholder-type:string]'",
     'ba': "The virtual table calculates a weighted average of order statuses from the 'order_status' and 'order_history' tables. It sums the values of a specific order status, applies a multiplier, and divides by the total count of orders for a given year. The placeholders represent the order status value, the numeric value to multiply, and the year for filtering the order history.",
     'gold_complexity': 8,
     'gold_sql': "SELECT CAST(SUM(CASE WHEN T1.status_value = 'Returned' THEN 1 ELSE 0 END) AS REAL) * 100 / COUNT(*) FROM order_status AS T1 INNER JOIN order_history AS T2 ON T1.status_id = T2.status_id WHERE STRFTIME('%Y', T2.status_date) = '2022'",
     'category': '(7, 8]'},
    {'db_id': 'books',
     'sample_id': 5927,
     'vt': "SELECT CAST(SUM(CASE WHEN order_line.price > [placeholder-type:numeric] THEN [placeholder-type:numeric] ELSE [placeholder-type:numeric] END) AS FLOAT) * [placeholder-type:numeric] / COUNT(*) FROM order_line INNER JOIN cust_order AS T2 ON T2.order_id = T1.order_id INNER JOIN customer AS T3 ON T3.customer_id = T2.customer_id WHERE customer.first_name = '[placeholder-type:string]' AND customer.last_name = '[placeholder-type:string]'",
     'ba': "The virtual table calculates the average price of books ordered by a specific customer based on their first and last names. It sums the prices of order lines where the price exceeds a specified threshold, applies a multiplier, and divides by the total count of orders to derive the average. The placeholders represent the threshold price and multiplier for the calculation, as well as the customer's first and last names for filtering.",
     'gold_complexity': 10,
     'gold_sql': "SELECT CAST(SUM(CASE WHEN T1.price > 13 THEN 1 ELSE 0 END) AS REAL) * 100 / COUNT(*) FROM order_line AS T1 INNER JOIN cust_order AS T2 ON T2.order_id = T1.order_id INNER JOIN customer AS T3 ON T3.customer_id = T2.customer_id WHERE T3.first_name = 'Lucas' AND T3.last_name = 'Wyldbore'",
     'category': '(9, 10]'},
    {'db_id': 'books',
     'sample_id': 5938,
     'vt': "SELECT country.country_name FROM customer INNER JOIN customer_address AS T2 ON T1.customer_id = T2.customer_id INNER JOIN address AS T3 ON T3.address_id = T2.address_id INNER JOIN country AS T4 ON T4.country_id = T3.country_id WHERE customer.first_name = '[placeholder-type:string]' AND customer.last_name = '[placeholder-type:string]' AND customer_address.status_id = [placeholder-type:numeric]",
     'ba': "The virtual table retrieves the country name of a customer based on their first and last names, as well as the status of their address. It involves joining multiple tables: 'customer', 'customer_address', 'address', and 'country'. The placeholders represent the customer's first name, last name, and the address status.",
     'gold_complexity': 11,
     'gold_sql': "SELECT T4.country_name FROM customer AS T1 INNER JOIN customer_address AS T2 ON T1.customer_id = T2.customer_id INNER JOIN address AS T3 ON T3.address_id = T2.address_id INNER JOIN country AS T4 ON T4.country_id = T3.country_id WHERE T1.first_name = 'Malina' AND T1.last_name = 'Johnson' AND T2.status_id = 2",
     'category': '(10, 16]'},
    {'db_id': 'books',
     'sample_id': 6073,
     'vt': "SELECT AVG(book.num_pages) FROM book_author INNER JOIN author AS T2 ON T1.author_id = T2.author_id INNER JOIN book AS T3 ON T3.book_id = T1.book_id WHERE author.author_name = '[placeholder-type:string]'",
     'ba': "The virtual table calculates the average number of pages of books written by a specific author. It joins the 'book_author' table with the 'author' table to filter by the author's name, and then it retrieves the 'num_pages' from the 'book' table to compute the average.",
     'gold_complexity': 8,
     'gold_sql': "SELECT AVG(T3.num_pages) FROM book_author AS T1 INNER JOIN author AS T2 ON T1.author_id = T2.author_id INNER JOIN book AS T3 ON T3.book_id = T1.book_id WHERE T2.author_name = 'Zilpha Keatley Snyder'",
     'category': '(7, 8]'},
    {'db_id': 'books',
     'sample_id': 5952,
     'vt': "SELECT book.title FROM book INNER JOIN book_author AS T2 ON T1.book_id = T2.book_id INNER JOIN author AS T3 ON T3.author_id = T2.author_id WHERE author.author_name = '[placeholder-type:string]' ORDER BY book.publication_date LIMIT [placeholder-type:numeric]",
     'ba': "The virtual table retrieves the titles of books from the 'book' table that are written by a specific author. It joins the 'book' table with the 'book_author' table to link books to their authors, and then further joins with the 'author' table to filter by the author's name. The results are ordered by the publication date of the books, and a limit is applied to control the number of results returned.",
     'gold_complexity': 11,
     'gold_sql': "SELECT T1.title FROM book AS T1 INNER JOIN book_author AS T2 ON T1.book_id = T2.book_id INNER JOIN author AS T3 ON T3.author_id = T2.author_id WHERE T3.author_name = 'J.K. Rowling' ORDER BY T1.publication_date ASC LIMIT 1",
     'category': '(10, 16]'},
    {'db_id': 'books',
     'sample_id': 6077,
     'vt': "SELECT book.title FROM book_author INNER JOIN author AS T2 ON T1.author_id = T2.author_id INNER JOIN book AS T3 ON T3.book_id = T1.book_id WHERE author.author_name = '[placeholder-type:string]'",
     'ba': "The virtual table describes the titles of books written by a specific author from the 'book' table. It joins the 'book_author' table with the 'author' table to filter the results based on the author's name, which is represented by a placeholder in the WHERE clause.",
     'gold_complexity': 8,
     'gold_sql': "SELECT T3.title FROM book_author AS T1 INNER JOIN author AS T2 ON T1.author_id = T2.author_id INNER JOIN book AS T3 ON T3.book_id = T1.book_id WHERE T2.author_name = 'A.J. Ayer'",
     'category': '(7, 8]'},
    {'db_id': 'books',
     'sample_id': 6041,
     'vt': "SELECT COUNT(*) FROM book INNER JOIN publisher AS T2 ON T1.publisher_id = T2.publisher_id WHERE publisher.publisher_name = '[placeholder-type:string]' AND book.num_pages < [placeholder-type:numeric]",
     'ba': "The virtual table counts the number of books from the 'book' table that are published by a specific publisher and have a number of pages less than a specified value. The placeholders represent the publisher's name and the maximum number of pages for filtering the results.",
     'gold_complexity': 9,
     'gold_sql': "SELECT COUNT(*) FROM book AS T1 INNER JOIN publisher AS T2 ON T1.publisher_id = T2.publisher_id WHERE T2.publisher_name = 'HarperCollins Publishers' AND T1.num_pages < 300",
     'category': '(8, 9]'},
    {'db_id': 'books',
     'sample_id': 6076,
     'vt': "SELECT COUNT(*) FROM book_author INNER JOIN author AS T2 ON T1.author_id = T2.author_id WHERE author.author_name = '[placeholder-type:string]'",
     'ba': "The virtual table counts the number of books written by a specific author from the 'book_author' table, joining it with the 'author' table to filter by the author's name. The placeholder in the WHERE clause represents the author's name.",
     'gold_complexity': 7,
     'gold_sql': "SELECT COUNT(*) FROM book_author AS T1 INNER JOIN author AS T2 ON T1.author_id = T2.author_id WHERE T2.author_name = 'A.J. Ayer'",
     'category': '(3, 7]'},
    {'db_id': 'books',
     'sample_id': 6060,
     'vt': "SELECT book.num_pages FROM book WHERE book.title = '[placeholder-type:string]'",
     'ba': "The virtual table provides the number of pages for a specific book from the 'book' table based on its title. The placeholder in the WHERE clause represents the title of the book being queried.",
     'gold_complexity': 6,
     'gold_sql': "SELECT num_pages FROM book WHERE title = 'Seaward'",
     'category': '(3, 7]'}],
   'n_iter': 180,
   'total_bos_in_batch': 15,
   'total_samples_in_batch': 12},
  'app_store-0': {'train_bos': [{'db_id': 'app_store',
     'sample_id': 2538,
     'vt': "SELECT COUNT(user_reviews.sentiment) FROM playstore INNER JOIN user_reviews AS T2 ON T1.App = T2.App WHERE playstore.installs = '[placeholder-type:string]' AND user_reviews.sentiment = '[placeholder-type:string]'",
     'ba': "The virtual table counts the number of user reviews for applications in the 'playstore' table that have a specific number of installs and a specified sentiment rating. It joins the 'playstore' table with the 'user_reviews' table based on the application name, allowing for filtering based on both the install count and the sentiment of the reviews.",
     'gold_complexity': 8,
     'gold_sql': "SELECT COUNT(T2.Sentiment) FROM playstore AS T1 INNER JOIN user_reviews AS T2 ON T1.App = T2.App WHERE T1.Installs = '100,000,000+' AND T2.Sentiment = 'Negative'",
     'category': '(7, 9]'},
    {'db_id': 'app_store',
     'sample_id': 2574,
     'vt': "SELECT AVG(playstore.rating), CAST(COUNT(CASE WHEN user_reviews.sentiment = '[placeholder-type:string]' THEN [placeholder-type:numeric] ELSE NULL END) AS FLOAT) * [placeholder-type:numeric] / COUNT(user_reviews.sentiment) FROM playstore INNER JOIN user_reviews AS T2 ON T1.App = T2.App WHERE playstore.genres = '[placeholder-type:string]'",
     'ba': "The virtual table calculates the average rating of applications from the 'playstore' table and the proportion of user reviews with a specific sentiment for apps belonging to a certain genre. The placeholders represent the sentiment type and genre of the app.",
     'gold_complexity': 9,
     'gold_sql': "SELECT AVG(T1.Rating), CAST(COUNT(CASE WHEN T2.Sentiment = 'Positive' THEN 1 ELSE NULL END) AS REAL) * 100 / COUNT(T2.Sentiment) FROM playstore AS T1 INNER JOIN user_reviews AS T2 ON T1.App = T2.App WHERE T1.Genres = 'Racing'",
     'category': '(7, 9]'},
    {'db_id': 'app_store',
     'sample_id': 2540,
     'vt': 'SELECT SUM(user_reviews.sentiment_polarity) FROM playstore INNER JOIN user_reviews AS T2 ON T1.App = T2.App WHERE playstore.price = (SELECT MAX(playstore.price) FROM playstore)',
     'ba': "The virtual table calculates the total sentiment polarity score of user reviews for the app with the highest price in the 'playstore' table. It joins the 'playstore' table with the 'user_reviews' table based on the app name, and filters the results to only include the app that has the maximum price.",
     'gold_complexity': 10,
     'gold_sql': 'SELECT SUM(T2.Sentiment_Polarity) FROM playstore AS T1 INNER JOIN user_reviews AS T2 ON T1.App = T2.App WHERE T1.Price = ( SELECT MAX(Price) FROM playstore )',
     'category': '(9, 11]'},
    {'db_id': 'app_store',
     'sample_id': 2560,
     'vt': "SELECT DISTINCT playstore.genres FROM playstore WHERE playstore.app = '[placeholder-type:string]'",
     'ba': "The virtual table lists all unique genres associated with a specific application from the 'playstore' table. The placeholder in the WHERE clause represents the name of the application for which the genres are being queried.",
     'gold_complexity': 7,
     'gold_sql': "SELECT DISTINCT Genres FROM playstore WHERE App = 'Honkai Impact 3rd'",
     'category': '(5, 7]'},
    {'db_id': 'app_store',
     'sample_id': 2554,
     'vt': 'SELECT AVG(playstore.reviews) FROM playstore WHERE playstore.rating = [placeholder-type:numeric]',
     'ba': "The virtual table calculates the average number of user reviews for applications in the 'playstore' table that have a specific overall user rating. The placeholder in the WHERE clause represents the rating value to filter the applications accordingly.",
     'gold_complexity': 6,
     'gold_sql': 'SELECT AVG(Reviews) FROM playstore WHERE Rating = 5',
     'category': '(5, 7]'},
    {'db_id': 'app_store',
     'sample_id': 2537,
     'vt': "SELECT playstore.app FROM playstore INNER JOIN user_reviews AS T2 ON T1.App = T2.App WHERE playstore.type = '[placeholder-type:string]' AND user_reviews.sentiment = '[placeholder-type:string]' GROUP BY playstore.app ORDER BY COUNT(user_reviews.sentiment) LIMIT [placeholder-type:numeric]",
     'ba': "The virtual table describes the applications from the 'playstore' table that are of a specific type (either 'Paid' or 'Free') and have received user reviews with a specific sentiment (either 'Positive', 'Negative', or 'Neutral'). The results are grouped by application name and ordered by the count of reviews, allowing the user to limit the number of applications returned based on their preference.",
     'gold_complexity': 13,
     'gold_sql': "SELECT T1.App FROM playstore AS T1 INNER JOIN user_reviews AS T2 ON T1.App = T2.App WHERE T1.Type = 'Free' AND T2.Sentiment = 'Negative' GROUP BY T1.App ORDER BY COUNT(T2.Sentiment) DESC LIMIT 1",
     'category': '(11, 13]'},
    {'db_id': 'app_store',
     'sample_id': 2521,
     'vt': 'SELECT DISTINCT playstore.app FROM playstore ORDER BY playstore.reviews LIMIT [placeholder-type:numeric]',
     'ba': "The virtual table lists distinct application names from the 'playstore' table, ordered by the number of user reviews. The placeholder in the LIMIT clause allows the user to specify the maximum number of applications to retrieve.",
     'gold_complexity': 8,
     'gold_sql': 'SELECT DISTINCT App FROM playstore ORDER BY Reviews DESC LIMIT 10',
     'category': '(7, 9]'},
    {'db_id': 'app_store',
     'sample_id': 2527,
     'vt': "SELECT DISTINCT playstore.app, user_reviews.sentiment FROM user_reviews WHERE playstore.app IN (SELECT playstore.app FROM playstore WHERE CAST(SUBSTRING('Last Updated', -4, 4) AS INT) < 2015)",

In [171]:
db_ids = list(bos.keys())
partial_db_ids = {}
n = 20
for i in range(30):
    if db_ids[i*n:(i+1)*n]:
        partial_db_ids[i] = db_ids[i*n:(i+1)*n]
print(partial_db_ids.keys())

with open(experiment_folder / f'partial_{ds}_db_ids.json', 'w') as f:
    json.dump(partial_db_ids, f, indent=4)

dict_keys([0, 1, 2, 3, 4, 5, 6, 7])

In [172]:
with open(experiment_folder / f'partial_{ds}_db_ids.json') as f:
    partial_db_ids = json.load(f)

sampler = Sampler(bos)

In [ ]:
sh ./scripts/valid_bo/valid_bo_bird_

In [174]:
from itertools import product, islice

def batched(iterable, n, *, strict=False):
    # batched('ABCDEFG', 3) → ABC DEF G
    if n < 1:
        raise ValueError('n must be at least one')
    iterator = iter(iterable)
    while batch := tuple(islice(iterator, n)):
        if strict and len(batch) != n:
            raise ValueError('batched(): incomplete batch')
        yield batch

sampled_ids = {}
for db_id_group in partial_db_ids:
    sampled_ids[str(db_id_group)] = defaultdict()
    for db_id in partial_db_ids[str(db_id_group)]:
        x_samples = list(filter(lambda x: x.db_id == db_id, dev_samples))
        for idx_bos, train_bos in enumerate(sampler.sample(db_id, 3, 50, rt_idx=False)):
            # print(f'{db_id}-{idx_bos} :', f'{len(train_bos)}', f'{len(list(product(train_bos, x_samples)))}')
            sampled_ids[str(db_id_group)][f'{db_id}-{idx_bos}'] = {
                'train_bos': train_bos,
                'n_iter': len(list(product(train_bos, x_samples))), 
                'total_bos_in_batch': len(train_bos)
            }

with (experiment_folder / f'partial_{ds}_batch.json').open('w') as f:
    json.dump(sampled_ids, f, indent=4)

In [175]:
for db_id_group in partial_db_ids:
    print(len(sampled_ids[str(db_id_group)]))
    niters = [x['n_iter'] for x in sampled_ids[str(db_id_group)].values()]
    print(f'n_iter: {sum(niters)}, iter per file: {np.mean(niters):.2f}')

82
n_iter: 8394, iter per file: 102.37
50
n_iter: 4583, iter per file: 91.66
62
n_iter: 6707, iter per file: 108.18
75
n_iter: 10838, iter per file: 144.51
68
n_iter: 6246, iter per file: 91.85
64
n_iter: 6218, iter per file: 97.16
70
n_iter: 7298, iter per file: 104.26
70
n_iter: 8072, iter per file: 115.31

In [6]:
df = []
for db_id, bs in bos.items():
    for b in bs:
        res = {'db_id': db_id, 'gold_complexity': b['gold_complexity']}
        df.append(res)

df = pd.DataFrame(df)

In [115]:
from itertools import pairwise

def _format_interval(x: pd.Interval):
    return pd.Interval(
        left=int(np.floor(x.left)), 
        right=int(np.floor(x.right)),
        closed=x.closed
    )

def _get_categories(s: pd.Series):
    tiles = [0, 0.2, 0.4, 0.6, 0.8, 1]
    df = pd.qcut(s, q=tiles, duplicates='drop')
    return df

def _get_df_from_bos(bos):
    df = []
    for db_id, bs in bos.items():
        for b in bs:
            res = {'db_id': db_id}
            res.update(b)
            df.append(res)
    df = pd.DataFrame(df)
    df_cates = df.groupby('db_id')['gold_complexity'].apply(_get_categories)
    df_cates = df_cates.rename('category').apply(_format_interval)
    df = df.merge(df_cates.reset_index('db_id', drop=True), left_index=True, right_index=True)
    return df

In [299]:
# create a sampler with gold_complexity
from typing import Iterator
class Sampler():
    def __init__(self, bos: dict[str, list[dict]]):
        self.bos = bos
        self.df = _get_df_from_bos(bos)

    def _get_sample_batch(self, db_id: str, n_sample: int=1, n_stop: int=20):
        sampled = []
        sample_batch = []
        n_sampled = 0
        df_db_id = self.df.loc[(self.df['db_id'] == db_id) & ~self.df['sample_id'].isin(sampled)]
        while df_db_id['category'].nunique() > 0 and n_sampled < n_stop:
            groupby_statement = df_db_id.groupby('category')['sample_id']
            # n_minima, n_maxima = groupby_statement.size().agg(['min', 'max']).tolist()
            # n = min([n_sample, n_minima, n_maxima])  # actual sample size    
            sample_ids = groupby_statement.apply(lambda x: x.sample(min(len(x), n_sample))).tolist()
            sampled.extend(sample_ids)
            sample_batch.append(sample_ids)
            n_sampled += len(sample_ids)
            df_db_id = self.df.loc[(self.df['db_id'] == db_id) & ~self.df['sample_id'].isin(sampled)]

        return sample_batch
    
    def sample(self, db_id: str, n_sample: int=1, n_stop: int=20) -> Iterator:
        sample_batch = self._get_sample_batch(db_id, n_sample, n_stop)
        for sample_ids in sample_batch:
            s = self.df.loc[(self.df['db_id'] == db_id) & self.df['sample_id'].isin(sample_ids)]
            s = s.to_dict(orient='records')
            yield s

In [323]:
sampler = Sampler(bos)

for train_bos in sampler.sample('address', n_sample=1, n_stop=20):
    print(len(train_bos))

[autoreload of run_bo_sql failed: Traceback (most recent call last):
  File "/home/simonjisu/code/BusinessObjects/.venv/lib/python3.11/site-packages/IPython/extensions/autoreload.py", line 276, in check
    superreload(m, reload, self.old_objects)
  File "/home/simonjisu/code/BusinessObjects/.venv/lib/python3.11/site-packages/IPython/extensions/autoreload.py", line 500, in superreload
    update_generic(old_obj, new_obj)
  File "/home/simonjisu/code/BusinessObjects/.venv/lib/python3.11/site-packages/IPython/extensions/autoreload.py", line 397, in update_generic
    update(a, b)
  File "/home/simonjisu/code/BusinessObjects/.venv/lib/python3.11/site-packages/IPython/extensions/autoreload.py", line 365, in update_class
    update_instances(old, new)
  File "/home/simonjisu/code/BusinessObjects/.venv/lib/python3.11/site-packages/IPython/extensions/autoreload.py", line 319, in update_instances
    refs = gc.get_referrers(old)
           ^^^^^^^^^^^^^^^^^^^^^
KeyboardInterrupt
]

5
5
5
5

In [ ]:
samples_by_db_id = defaultdict(list)
for sample in samples:
    samples_by_db_id[sample.db_id].append(sample)

sampler = Sampler(bos)

for db_id, samples in samples_by_db_id.items():

15

In [319]:
dev_samples[:3]

[BirdSample(sample_id=165, db_id='movie_platform', final=QuestionSQL(question='What is the name of the movie that was rated recently by user 57756708?', sql='SELECT T2.movie_title FROM ratings AS T1 INNER JOIN movies AS T2 ON T1.movie_id = T2.movie_id WHERE T1.user_id = 57756708 ORDER BY T1.rating_timestamp_utc DESC LIMIT 1', source_tables=['movies', 'ratings']), evidence='user 57756708 refers to user_id = 57756708; rated recently refers to MAX(rating_timestamp_utc)', bo=None),
 BirdSample(sample_id=137, db_id='movie_platform', final=QuestionSQL(question='For all the users who gave "A Shot in the Dark" a rating, how many percent of them is a paying subscriber?', sql="SELECT CAST(SUM(CASE WHEN T1.user_has_payment_method = 1 THEN 1 ELSE 0 END) AS REAL) * 100 / COUNT(*) FROM ratings AS T1 INNER JOIN movies AS T2 ON T1.movie_id = T2.movie_id INNER JOIN lists_users AS T3 ON T1.user_id = T3.user_id WHERE T2.movie_title = 'A Shot in the Dark'", source_tables=['movies', 'ratings', 'lists_users']), evidence='"A Shot in the Dark" refers to movie_title = \'A Shot in the Dark\'; paying subscriber refers to user_has_payment_method = 1; percentage refers to DIVIDE(COUNT(user_has_payment_method = 1),COUNT(user_has_payment_method))*100', bo=None),
 BirdSample(sample_id=163, db_id='movie_platform', final=QuestionSQL(question='What is the average number of number of movies added to the lists of user 8516503? Indicate how many movies did he/she give a rating score of 5.', sql='SELECT AVG(T3.list_movie_number) , SUM(CASE WHEN T1.rating_score = 5 THEN 1 ELSE 0 END) FROM ratings AS T1 INNER JOIN lists_users AS T2 ON T1.user_id = T2.user_id INNER JOIN lists AS T3 ON T2.user_id = T3.user_id WHERE T1.user_id = 8516503', source_tables=['lists_users', 'ratings', 'lists']), evidence='average number of number of movies refers to AVG(list_movie_number); user 8516503 refers to user_id = 8516503; rating score of 5 refers to rating_score = 5', bo=None)]

In [316]:
json.dumps({'description': bo['ba'], 'virtual_table': bo['vt']}, indent=2)

'{\n  "description": "The virtual table counts the number of cities associated with a specific congress representative based on their first and last names, while also filtering for cities that have a certain number of employees. It joins the \'congress\' table with the \'state\' table to match the state abbreviation and then joins with the \'zip_data\' table to access city information.",\n  "virtual_table": "SELECT COUNT(zip_data.city) FROM congress INNER JOIN state AS T2 ON T1.abbreviation = T2.abbreviation INNER JOIN zip_data AS T3 ON T2.abbreviation = T3.state WHERE congress.first_name = \'[placeholder-type:string]\' AND congress.last_name = \'[placeholder-type:string]\' AND zip_data.employees = [placeholder-type:numeric]"\n}'

In [ ]:
ds = 'bird'
task = 'zero_shot_hint'
typ = 'dev'
experiment_folder = proj_path / 'experiments' / ds
prediction_path = experiment_folder / 'predictions' / task
eval_path = experiment_folder / 'evals' / task

# file_name = f'{ds}_{typ}_parsed.pkl'
# with (eval_path / file_name).open('rb') as f:
#     target_parsed = pickle.load(f)

In [308]:
prediction_path.parent.parent

PosixPath('/home/simonjisu/code/BusinessObjects/experiments/bird')

In [304]:
bos['address'][:4]

[{'sample_id': 5156,
  'vt': "SELECT area_code.area_code, country.county FROM area_code INNER JOIN country AS T2 ON T1.zip_code = T2.zip_code INNER JOIN zip_data AS T3 ON T1.zip_code = T3.zip_code WHERE zip_data.city = '[placeholder-type:string]'",
  'ba': "The virtual table provides the area code and county information for a specific city based on its zip code. It combines data from the 'area_code', 'country', and 'zip_data' tables, filtering results to match the specified city name.",
  'gold_complexity': 10,
  'gold_sql': "SELECT T1.area_code, T2.county FROM area_code AS T1 INNER JOIN country AS T2 ON T1.zip_code = T2.zip_code INNER JOIN zip_data AS T3 ON T1.zip_code = T3.zip_code WHERE T3.city = 'Savoy'"},
 {'sample_id': 5211,
  'vt': 'SELECT alias.alias FROM alias INNER JOIN zip_data AS T2 ON T1.zip_code = T2.zip_code WHERE zip_data.population_2020 = (SELECT MAX(zip_data.population_2020) FROM zip_data)',
  'ba': "The virtual table retrieves the aliases of cities from the 'alias' table that correspond to the zip codes with the highest population recorded in 2020 from the 'zip_data' table. The query uses an inner join to connect the 'alias' and 'zip_data' tables based on the zip code, ensuring that only the aliases for the most populated areas are selected.",
  'gold_complexity': 11,
  'gold_sql': 'SELECT T1.alias FROM alias AS T1 INNER JOIN zip_data AS T2 ON T1.zip_code = T2.zip_code WHERE T2.population_2020 = ( SELECT MAX(population_2020) FROM zip_data )'},
 {'sample_id': 5227,
  'vt': "SELECT zip_congress.district FROM zip_data INNER JOIN zip_congress AS T2 ON T1.zip_code = T2.zip_code WHERE zip_data.city = '[placeholder-type:string]'",
  'ba': "The virtual table retrieves the district information associated with a specific city from the 'zip_data' table by joining it with the 'zip_congress' table. The placeholder in the WHERE clause represents the name of the city for which the district is being queried.",
  'gold_complexity': 7,
  'gold_sql': "SELECT T2.district FROM zip_data AS T1 INNER JOIN zip_congress AS T2 ON T1.zip_code = T2.zip_code WHERE T1.city = 'East Springfield'"},
 {'sample_id': 5091,
  'vt': "SELECT COUNT(zip_data.zip_code) FROM zip_data INNER JOIN avoid AS T2 ON T1.zip_code = T2.zip_code WHERE avoid.bad_alias = '[placeholder-type:string]' AND zip_data.time_zone = '[placeholder-type:string]'",
  'ba': "The virtual table counts the number of zip codes from the 'zip_data' table that are associated with bad aliases from the 'avoid' table. It filters the results based on a specific bad alias and a specified time zone.",
  'gold_complexity': 8,
  'gold_sql': "SELECT COUNT(T1.zip_code) FROM zip_data AS T1 INNER JOIN avoid AS T2 ON T1.zip_code = T2.zip_code WHERE T2.bad_alias = 'Internal Revenue Service' AND T1.time_zone = 'Eastern'"}]

In [4]:
from pydantic import BaseModel
from langchain_openai import ChatOpenAI

from langchain_community.callbacks.manager import get_openai_callback

class Out(BaseModel):
    response: str

llm = ChatOpenAI(
    model="gpt-4o-mini",
    temperature=0,
    stream_usage=True,
)
model = llm.with_structured_output(Out)


with get_openai_callback() as cb:
    result = model.invoke("Tell me a joke with JSON format")
    print(cb)

Tokens Used: 85
	Prompt Tokens: 51
	Completion Tokens: 34
Successful Requests: 1
Total Cost (USD): $2.805e-05

In [63]:
samples_by_db_id = defaultdict(list)
for sample in train_samples:
    samples_by_db_id[sample.db_id].append(sample)

x = []
for db_id, samples in samples_by_db_id.items():
    x.append(len(samples))

print(np.mean(x), np.std(x), np.min(x), np.max(x))

80.26582278481013 46.229123611557306 11 280

In [64]:
samples_by_db_id = defaultdict(list)
for sample in dev_samples:
    samples_by_db_id[sample.db_id].append(sample)

x = []
for db_id, samples in samples_by_db_id.items():
    x.append(len(samples))

print(np.mean(x), np.std(x), np.min(x), np.max(x))

26.468354430379748 15.462355628942769 3 93

In [119]:
# with open(proj_path / 'data' / 'pkl_files' / 'bird_train_parsed.pkl', 'rb') as f:
#     train_parsed = pickle.load(f)

# # prediction parsed
# with open(proj_path / 'data' / 'pkl_files' / 'bird_dev_parsed.pkl', 'rb') as f:
#     dev_parsed = pickle.load(f)

In [17]:
eval_path = proj_path / 'experiments' / 'bird' / 'evals' / 'zero_shot'

df = []
for p in eval_path.glob('bird_dev_*.json'):
    with p.open() as f:
        for line in f:
            eval_data = json.loads(line)
            df.append(eval_data)

df = pd.DataFrame(df)
df.to_csv(eval_path / 'bird_dev.csv', index=False)

In [16]:
df['gold_complexity'].agg(['mean', 'std', 'min', 'max', 'median'])

mean      0.450361
std       0.055482
min       0.318118
max       0.726155
median    0.446118
Name: gold_complexity, dtype: float64

In [31]:
prediction_path = proj_path / 'experiments' / 'bird' / 'predictions' / 'create_bo'
bos = defaultdict(list)
for p in prediction_path.glob('bird_train_bo_*.json'):
    with p.open() as f:
        temp = json.load(f)
    
    bos[p.stem.split('_', 3)[-1]] = temp

# with (prediction_path / 'final_bird_train_bo.json').open('w') as f:
#     json.dump(bos, f, indent=4)

In [178]:
vector_store = get_vector_store({'address': bos['address'][:10]})

In [179]:
[b['sample_id'] for b in bos['address'][:10]]

[5156, 5211, 5227, 5091, 5152, 5128, 5200, 5119, 5194, 5141]

In [161]:
bos['address'][:10][0]

{'sample_id': 5156,
 'vt': "SELECT area_code.area_code, country.county FROM area_code INNER JOIN country AS T2 ON T1.zip_code = T2.zip_code INNER JOIN zip_data AS T3 ON T1.zip_code = T3.zip_code WHERE zip_data.city = '[placeholder-type:string]'",
 'ba': "The virtual table provides the area code and county information for a specific city based on its zip code. It combines data from the 'area_code', 'country', and 'zip_data' tables, filtering results to match the specified city name."}

In [180]:
from langchain.retrievers import ContextualCompressionRetriever
from langchain.retrievers.document_compressors import CrossEncoderReranker
from langchain_community.cross_encoders import HuggingFaceCrossEncoder
base_retriever = vector_store.as_retriever(
    search_type='similarity_score_threshold', 
    search_kwargs={
        'k': 3,
        'score_threshold': 0.3, 'filter': {'sample_id': {'$nin': []}}
    }
)

# 'lambda_mult': 0.5  'score_threshold': 0.0
# 'filter': {'sample_id': {'$in': [5156]}}}
model = HuggingFaceCrossEncoder(model_name='cross-encoder/ms-marco-MiniLM-L-6-v2')
compressor = CrossEncoderReranker(model=model, top_n=1)
retriever = ContextualCompressionRetriever(
    base_compressor=compressor, base_retriever=base_retriever
)

In [181]:
q = 'what is the aliases of cities along with their elevation?'
x = base_retriever.invoke(q)
x

No relevant docs were retrieved using the relevance score threshold 0.3

[]

In [182]:
x = vector_store.similarity_search_with_relevance_scores(
    q, k=2, filter={'sample_id': {'$nin': [5152, 5211, 5194]}})
x
# similarity_search_with_relevance_scores

[]

In [148]:
docs_and_similarities = [
    (doc, similarity)
    for doc, similarity in x
    if similarity >= 0.5
]
docs_and_similarities

[(Document(metadata={'sample_id': 5152, 'db_id': 'address', 'vt': 'SELECT alias.alias, zip_data.elevation FROM alias INNER JOIN zip_data AS T2 ON T1.zip_code = T2.zip_code WHERE alias.zip_code = [placeholder-type:numeric]'}, page_content="The virtual table describes the aliases of cities along with their elevation from the 'zip_data' table. The query joins the 'alias' table with the 'zip_data' table based on the zip code, filtering for a specific zip code using a placeholder for numeric values."),
  0.7825041385389271),
 (Document(metadata={'sample_id': 5211, 'db_id': 'address', 'vt': 'SELECT alias.alias FROM alias INNER JOIN zip_data AS T2 ON T1.zip_code = T2.zip_code WHERE zip_data.population_2020 = (SELECT MAX(zip_data.population_2020) FROM zip_data)'}, page_content="The virtual table retrieves the aliases of cities from the 'alias' table that correspond to the zip codes with the highest population recorded in 2020 from the 'zip_data' table. The query uses an inner join to connect the 'alias' and 'zip_data' tables based on the zip code, ensuring that only the aliases for the most populated areas are selected."),
  0.7281931194919099),
 (Document(metadata={'sample_id': 5194, 'db_id': 'address', 'vt': "SELECT avoid.bad_alias FROM avoid INNER JOIN zip_data AS T2 ON T1.zip_code = T2.zip_code WHERE zip_data.city = '[placeholder-type:string]'"}, page_content="The virtual table retrieves the bad aliases associated with a specific city from the 'avoid' table by joining it with the 'zip_data' table based on the zip code. The placeholder in the WHERE clause represents the name of the city for which we want to find bad aliases."),
  0.691056772625688),
 (Document(metadata={'sample_id': 5227, 'db_id': 'address', 'vt': "SELECT zip_congress.district FROM zip_data INNER JOIN zip_congress AS T2 ON T1.zip_code = T2.zip_code WHERE zip_data.city = '[placeholder-type:string]'"}, page_content="The virtual table retrieves the district information associated with a specific city from the 'zip_data' table by joining it with the 'zip_congress' table. The placeholder in the WHERE clause represents the name of the city for which the district is being queried."),
  0.6538844955711105)]

In [125]:
compressor([y[0] for y in x])

TypeError: 'CrossEncoderReranker' object is not callable

In [20]:
ContextualCompressionRetriever.__bases__

(langchain_core.retrievers.BaseRetriever,)

In [71]:
prediction_path = proj_path / 'experiments' / 'bird' / 'predictions' / 'zero_shot'
predictions = []
for p in prediction_path.glob('bird_dev_*.json'):
    with open(p) as f:
        pred = json.load(f)
        new_pred = []
        for x in pred:
            x.pop('rationale')
            new_pred.append(x)
        predictions.extend(new_pred)

with open(prediction_path / 'final_bird_dev.jsonl', 'w') as f:
    for p in predictions:
        f.write(json.dumps(p) + '\n')

len(predictions)

2091

In [69]:
predictions[0]

{'sample_id': 8773,
 'db_id': 'food_inspection',
 'gold_sql': "SELECT COUNT(owner_state) FROM businesses WHERE owner_state = 'CA'",
 'pred_sql': "SELECT COUNT(DISTINCT owner_name) AS owner_count FROM businesses WHERE owner_state = 'California';"}

In [206]:
# typ = 'test'
# samples = test_samples
# predictions = []
# with open(prediction_path / f'final_bird_{typ}.jsonl', 'r') as f:
#     preds = f.readlines()
#     for p in preds:
#         pred = json.loads(p)
#         found = False
#         for sample in samples:
#             if sample.sample_id == pred['sample_id']:
#                 pred['gold_sql'] = sample.final.sql
#                 found = True
#                 break
#         if not found:
#             raise ValueError(f"Sample ID {pred['sample_id']} not found")
        
#         predictions.append(pred)

# with open(prediction_path / f'final_bird_{typ}.jsonl', 'w') as f:
#     for p in predictions:
#         f.write(json.dumps(p) + '\n')

In [3]:
import sqlglot
import sqlglot.expressions as exp
from src.eval_utils import result_eq, check_if_exists_orderby

def get_pred_results(
        proj_path: Path,
        predictions: list[dict],
        tables: dict[str, DatabaseModel],
        ds: str = 'bird' # spider or bird
    ):
    output_results = []
    error_infos = {
        'pred_exec': [],
        'gold_exec': [],
        'python_script': [],
        'result': []
    }
    predictions_by_db_id = defaultdict(list)
    for pred in predictions:
        predictions_by_db_id[pred['db_id']].append(pred)
    
    for db_id, preds in predictions_by_db_id.items():
        schema = Schema(tables[db_id].db_schema)
        if ds == 'bird':
            try:
                database = SqliteDatabase(
                    db_file=str(proj_path / 'data' / ds / 'train' / 'train_databases' / db_id / f'{db_id}.sqlite'),
                    foreign_keys=tables[db_id].foreign_keys
                )
            except:
                database = SqliteDatabase(
                    db_file=str(proj_path / 'data' / ds / 'dev' / 'dev_databases' / db_id / f'{db_id}.sqlite'),
                    foreign_keys=tables[db_id].foreign_keys
                )
        else:
            database = SqliteDatabase(
                db_file=str(proj_path / 'data' / 'spider' / 'database' / db_id / f'{db_id}.sqlite'), 
                foreign_keys=tables[db_id].foreign_keys
            )
        iterator = tqdm(preds, total=len(preds))
        for pred in iterator:
            iterator.set_description(f'{db_id} | pred_exec: {len(error_infos["pred_exec"])} | gold_exec: {len(error_infos["gold_exec"])} | python_script: {len(error_infos["python_script"])} | result: {len(error_infos["result"])}')

            pred_sql = pred['pred_sql'] 
            gold_sql = pred['gold_sql']
            
            error_info = ''
            try:
                pred_result = database.execute(pred_sql, rt_pandas=False)
            except Exception as e:
                pred_result = []
                error_infos['pred_exec'].append((db_id, pred['sample_id']))
                error_info = 'Predction Execution Error:' + str(e)
                score = 0

            try:
                gold_result = database.execute(gold_sql, rt_pandas=False)
            except Exception as e:
                error_infos['gold_exec'].append((db_id, pred['sample_id']))
                error_info = 'Gold Execution Error:' + str(e)
            
            if 'Gold Execution Error' in error_info:
                continue
            elif 'Predction Execution Error' in error_info:
                output_results.append(
                    {
                        'sample_id': pred['sample_id'], 
                        'db_id': db_id,
                        'score': score,
                        'gold_sql': gold_sql,
                        'pred_sql': pred_sql,
                    }
                )
                continue
            else:
                exists_orderby = check_if_exists_orderby(gold_sql)
                
                try:
                    score = int(result_eq(pred_result, gold_result, order_matters=exists_orderby))
                except Exception as e:
                    print(f"An error occurred: {e}")
                    score = 0
                    error_info = 'Python Script Error:' + str(e)
                    error_infos['python_script'].append((db_id, pred['sample_id']))

                if score == 0 and error_info == '':
                    error_info = 'Result not equal'
                    error_infos['result'].append((db_id, pred['sample_id']))
                output_results.append(
                    {
                        'sample_id': pred['sample_id'], 
                        'db_id': db_id,
                        'score': score,
                        'gold_sql': gold_sql,
                        'pred_sql': pred_sql,
                    }
                )

    return output_results, error_infos

In [4]:
prediction_path = proj_path / 'experiments' / 'bird' / 'predictions' / 'zero_shot'

def load_predictions(prediction_path: Path, filename: str):
    predictions = []
    with open(prediction_path / filename, 'r') as f:
        preds = f.readlines()
        for p in preds:
            predictions.append(json.loads(p))
    return predictions
predictions = []
with open(prediction_path / 'final_bird_dev.jsonl', 'r') as f:
    preds = f.readlines()
    for p in preds:
        predictions.append(json.loads(p))

# output_results, error_infos = get_pred_results(proj_path, predictions, tables, ds='bird')

In [59]:
from run_evaluation import get_prediction_parsed_sql, get_target_parsed_sql
from src.eval_utils import get_complexity, get_all_partial_score

In [ ]:
target_parsed, error_ids = get_target_parsed_sql([x for x in dev_samples if x.sample_id in [9503, 9468, 9494]], tables=bird_tables)
pred_parsed, error_ids = get_prediction_parsed_sql(predictions[:3], tables=bird_tables)

california_schools: 100%|██████████| 3/3 [00:00<00:00, 456.88it/s]

california_schools: 100%|██████████| 3/3 [00:00<00:00, 444.52it/s]

In [57]:
db_id = 'california_schools'

In [60]:
for pred in predictions[:3]:
    sample_id = pred['sample_id']
    target_o = target_parsed[db_id][sample_id]
    pred_o = pred_parsed[db_id][sample_id]
    if pred_o:
        _, all_score = get_all_partial_score(pred_o, target_o)

        print(f"Sample ID: {sample_id}")
        print(f'f1={all_score["overall"]} | {all_score["structural"]:.4f} | {all_score["semantic"]:.4f}')

Sample ID: 9503
f1=0.7798 | 0.7657 | 0.8017
Sample ID: 9468
f1=0.4271 | 0.4170 | 0.5096

In [26]:
predictions[2]

{'sample_id': 9494,
 'rationale': ['Identify the relevant table: frpm contains the enrollment data.',
  "Determine the columns needed: 'enrollment (ages 5-17)' for the number of students, 'academic year' to filter by the specific year, and 'district type' to specify the type of school.",
  'Filter the records for the academic year 2014-2015.',
  "Filter for the district type 'State Special Schools'.",
  "Filter for the county name 'Fremont'.",
  'Use SUM() to aggregate the total enrollment for the specified filters.'],
 'pred_sql': "SELECT SUM(enrollment (ages 5-17)) AS total_enrollment\nFROM frpm\nWHERE academic year = '2014-2015' AND district type = 'State Special Schools' AND county name = 'Fremont';",
 'db_id': 'california_schools',
 'gold_sql': 'SELECT T1."Enrollment (Ages 5-17)" FROM frpm AS T1 INNER JOIN schools AS T2 ON T1.CDSCode = T2.CDSCode WHERE T2.EdOpsCode = \'SSS\' AND T2.City = \'Fremont\' AND T1."Academic Year" BETWEEN 2014 AND 2015'}

In [35]:
sql = """
SELECT SUM("enrollment (ages 5-17)") AS total_enrollment
FROM frpm
WHERE "academic year" = '2014-2015' AND "district type" = 'State Special Schools' AND "county name" = 'Fremont';
"""
x = {'sample_id': 9494,
 'rationale': ['Identify the relevant table: frpm contains the enrollment data.',
  "Determine the columns needed: 'enrollment (ages 5-17)' for the number of students, 'academic year' to filter by the specific year, and 'district type' to specify the type of school.",
  'Filter the records for the academic year 2014-2015.',
  "Filter for the district type 'State Special Schools'.",
  "Filter for the county name 'Fremont'.",
  'Use SUM() to aggregate the total enrollment for the specified filters.'],
 'pred_sql': sql,
 'db_id': 'california_schools',
 'gold_sql': 'SELECT T1."Enrollment (Ages 5-17)" FROM frpm AS T1 INNER JOIN schools AS T2 ON T1.CDSCode = T2.CDSCode WHERE T2.EdOpsCode = \'SSS\' AND T2.City = \'Fremont\' AND T1."Academic Year" BETWEEN 2014 AND 2015'}

parsed, error_ids = get_prediction_parsed_sql([x], tables=bird_tables)

california_schools: 100%|██████████| 1/1 [00:00<00:00, 465.31it/s]

In [33]:
db_id = 'california_schools'
tables = bird_tables
db_schema = get_schema_str(
    schema=tables[db_id].db_schema, 
    foreign_keys=tables[db_id].foreign_keys,
    col_explanation=tables[db_id].col_explanation
)

In [29]:
database = SqliteDatabase(
    db_file=str(proj_path / 'data' / 'bird' / 'dev' / 'dev_databases' / 'california_schools' / 'california_schools.sqlite'),
    foreign_keys=bird_tables['california_schools'].foreign_keys
)

In [30]:
database.execute("""
SELECT "enrollment (ages 5-17)"
FROM frpm
LIMIT 1
""")

   Enrollment (Ages 5-17)
0                  1070.0

In [28]:
error_ids

[('california_schools',
  9494,
  'Invalid expression / Unexpected token. Line 4, Col: 19.\n  \nSELECT SUM("enrollment (ages 5-17)") AS total_enrollment\nFROM frpm\nWHERE academic \x1b[4myear\x1b[0m = \'2014-2015\' AND district type = \'State Special Schools\' AND county name = \'Fremont\';\n')]

In [ ]:
from run_evaluation import get_parsed_sql

parsed_path = proj_path / 'data' / 'pkl_files' 
file_name = f'bird_dev_parsed_pred.pkl'
if not (parsed_path / file_name).exists():
    pred_parsed, error_ids = get_parsed_sql(predictions, tables)
    with open(parsed_path / file_name, 'wb') as f:
        pickle.dump(pred_parsed, f)
    print(f'Error parsing pred bird_dev: {len(error_ids)}')

with (parsed_path / file_name).open('rb') as f:
    pred_parsed = pickle.load(f)

# Predict BO

In [117]:
def get_vector_store(bos: dict[str, list[dict[str, str]]]):
    documents = []
    for db_id, samples in bos.items():
        for x in samples:
            doc = Document(
                doc_id=x['sample_id'],
                page_content=x['ba'],
                metadata={
                    'sample_id': x['sample_id'],
                    'db_id': db_id,
                    'vt': x['vt']
                }
            )
            documents.append(doc)

    embeddings_model = OpenAIEmbeddings()
    vectorstore = FAISS.from_documents(
        documents, 
        embedding = embeddings_model,
    )
    return vectorstore

In [ ]:
vectorstore = get_vector_store(res)

In [156]:
def predict_sql_bo(
    to_pred_samples: list[SpiderSample|BirdSample],
    tables: dict[DatabaseModel],
    vectorstore: FAISS,
    chain: RunnableSequence,
    prediction_path: Path,
    file_name: str = '[args.ds]_[args.type]',
    n_retrieval: int = 3,
    score_threshold: float = 0.65,
):
    processed_db_ids = [p.stem.split('_')[-1] for p in prediction_path.glob(f'{file_name}_*')]
    # restart from checkpoint
    if processed_db_ids:
        to_pred_samples = [sample for sample in to_pred_samples if sample.db_id not in processed_db_ids]
    
    samples_by_db_id = defaultdict(list)
    for sample in to_pred_samples:
        samples_by_db_id[sample.db_id].append(sample)

    for db_id, samples in samples_by_db_id.items():
        retriever = vectorstore.as_retriever(
            search_kwargs={'k': n_retrieval, 'score_threshold': score_threshold, 'filter': {'db_id': db_id}}
        )
        schema_str = get_schema_str(
            schema=tables[db_id].db_schema, 
            foreign_keys=tables[db_id].foreign_keys,
            col_explanation=tables[db_id].col_explanation
        )
        results = []
        for sample in tqdm(samples, total=len(samples), desc=f"{db_id}"):
            question = sample.final.question
            docs = retriever.invoke(question)
            hint = '\nDescriptions and Virtual Tables:\n'
            hint += json.dumps({j: {'description': doc.page_content, 'virtual_table': doc.metadata['vt']} for j, doc in enumerate(docs)}, indent=4)
            hint += '\n'
            input_data = {'schema': schema_str, 'input_query': question, 'hint': hint}
            output = chain.invoke(input=input_data)
            
            full_sql_output = {}
            full_sql_output['sample_id'] = sample.sample_id
            full_sql_output['rationale'] = output.rationale
            full_sql_output['pred_sql'] = output.full_sql_query
            # full_sql_output = 1
            results.append(full_sql_output)

        with open(prediction_path / f'{file_name}_{db_id}.json', 'w') as f:
            json.dump(results, f, indent=4)

In [157]:

# with open(proj_path / 'data' / 'pkl_files' / 'bird_train_bo.json', 'r') as f:
#     bos = json.load(res, f, indent=4)
# vectorstore = get_vector_store(bos)


data_path = proj_path / 'data' / 'bird'
experiment_folder = proj_path / 'experiments' / 'bird'
prediction_path = experiment_folder / 'predictions' / 'zero_shot_hint'
eval_path = experiment_folder / 'evals'
for p in [prediction_path, eval_path]:
    if not p.exists():
        p.mkdir(parents=True)

prompt = PromptTemplate(
    template=Prompts.zero_shot_hints_inference,
    input_variables=['schema', 'input_query', 'hint'],
)

model_openai = ChatOpenAI(
    model='gpt-4o-mini',
    temperature=0.0,
    frequency_penalty=0.1,
)

model = model_openai.with_structured_output(SQLResponse)
chain = (prompt | model)

n_retrieval = 3
score_threshold = 0.65

predict_sql_bo(
    to_pred_samples=dev_samples[:10],
    tables=bird_tables,
    vectorstore=vectorstore,
    chain=chain,
    prediction_path=prediction_path,
    n_retrieval=n_retrieval,
    score_threshold=score_threshold,
    file_name='bird_dev',
)

movie_platform: 100%|██████████| 10/10 [00:04<00:00,  2.34it/s]

In [138]:
docs = retriever.invoke(sample.final.question)
hint = '\nDescriptions and Virtual Tables:\n'
hint += json.dumps({j: {'description': doc.page_content, 'virtual_table': doc.metadata['vt']} for j, doc in enumerate(docs)}, indent=4)
hint += '\n'
input_data = {'schema': db_schema, 'input_query': row['question'], 'hint': hint}
output = chain.invoke(input=input_data)

print(hint)

Descriptions and Virtual Tables:
{
    "0": {
        "description": "The virtual table retrieves the titles of movies that have been rated, filtering by a specific rating timestamp and grouping the results by movie title. The results are ordered by the count of ratings for each movie title, and a limit is applied to restrict the number of returned titles.",
        "virtual_table": "SELECT movies.movie_title FROM ratings INNER JOIN movies AS T2 ON T1.movie_id = T2.movie_id WHERE ratings.rating_timestamp_utc LIKE '[placeholder-type:string]' GROUP BY movies.movie_title ORDER BY COUNT(movies.movie_title) LIMIT [placeholder-type:numeric]"
    },
    "1": {
        "description": "The virtual table provides a count of users who have rated a specific movie, identified by its title, while also filtering for users who were trialists at the time of rating. It combines data from the 'ratings' and 'movies' tables to achieve this.",
        "virtual_table": "SELECT COUNT(ratings.user_id) FROM ratings INNER JOIN movies AS T2 ON T1.movie_id = T2.movie_id WHERE movies.movie_title = '[placeholder-type:string]' AND ratings.user_trialist = [placeholder-type:numeric]"
    },
    "2": {
        "description": "The virtual table retrieves the titles of movies that have been rated, ordered by the number of likes received on the critics' comments. The query joins the 'ratings' table with the 'movies' table to access the movie titles associated with each rating. The result is limited to a specified number of entries, allowing users to see the most liked critics' comments for rated movies.",
        "virtual_table": "SELECT movies.movie_title FROM ratings INNER JOIN movies AS T2 ON T1.movie_id = T2.movie_id ORDER BY ratings.critic_likes LIMIT [placeholder-type:numeric]"
    },
    "3": {
        "description": "The virtual table displays the titles of movies from the 'movies' table that have received a certain number of likes on user-written critiques. The query joins the 'ratings' table with the 'movies' table to filter movies based on the number of likes their critiques have received, using a placeholder for the minimum number of likes.",
        "virtual_table": "SELECT movies.movie_title FROM ratings INNER JOIN movies AS T2 ON T1.movie_id = T2.movie_id WHERE ratings.critic_likes > [placeholder-type:numeric]"
    },
    "4": {
        "description": "The virtual table counts the number of ratings for a specific movie title from the 'movies' table, filtering by the movie's title and a specified rating timestamp. The placeholders represent the movie title and the date from which to count ratings.",
        "virtual_table": "SELECT COUNT(ratings.rating_id) FROM ratings INNER JOIN movies AS T2 ON T1.movie_id = T2.movie_id WHERE movies.movie_title = '[placeholder-type:string]' AND ratings.rating_timestamp_utc >= '[placeholder-type:string]'"
    }
}

# Similarity between dataset

In [125]:
def get_parsed_sql(samples: dict, tables: dict):
    error_ids = []
    parsed = defaultdict(dict)
    iterator = tqdm(samples, total=len(samples))
    for sample in iterator:
        db_id = sample.db_id
        sample_id = sample.sample_id
        iterator.set_description(f"{db_id}")
        schema = Schema(tables[db_id].db_schema)
        sql_i = sample.final.sql
        try:
            ei = extract_all(sql_i, schema)
            assert len(ei['sel']) > 0, f'No selection found-{db_id}-{sample_id}'
        except Exception as e:
            error_ids.append((db_id, sample_id, str(e)))
            parsed[db_id].append(None)
            continue
        parsed[db_id][sample_id] = ei
    return parsed, error_ids

train_parsed, error_ids = get_parsed_sql(train_samples, bird_tables)
dev_parsed, error_ids = get_parsed_sql(dev_samples, bird_tables)
test_parsed, error_ids = get_parsed_sql(test_samples, bird_tables)

movie_platform:   0%|          | 0/6341 [00:00<?, ?it/s]

debit_card_specializing: 100%|██████████| 6341/6341 [00:21<00:00, 299.00it/s]
debit_card_specializing: 100%|██████████| 2091/2091 [00:05<00:00, 408.98it/s]
debit_card_specializing: 100%|██████████| 2193/2193 [00:09<00:00, 225.64it/s]

In [129]:
# with open(proj_path / 'data' / 'pkl_files' / 'bird_train_parsed.pkl', 'wb') as f:
#     pickle.dump(train_parsed, f)

# with open(proj_path / 'data' / 'pkl_files' / 'bird_dev_parsed.pkl', 'wb') as f:
#     pickle.dump(dev_parsed, f)

# with open(proj_path / 'data' / 'pkl_files' / 'bird_test_parsed.pkl', 'wb') as f:
#     pickle.dump(test_parsed, f)

with open(proj_path / 'data' / 'pkl_files' / 'bird_dev_parsed.pkl', 'rb') as f:
    dev_parsed = pickle.load(f)

with open(proj_path / 'data' / 'pkl_files' / 'bird_test_parsed.pkl', 'rb') as f:
    test_parsed = pickle.load(f)

In [ ]:
from itertools import combinations, product
from collections import defaultdict
from src.eval_utils import get_all_partial_score

def measure_inter_score(parsed1: dict[str, tuple], parsed2: dict[str, tuple]):
    results = defaultdict()
    assert len(parsed1) == len(parsed2), f"Length mismatch-1: {len(parsed1)} 2:{len(parsed2)}"
    db_ids = list(parsed1.keys())
    for db_id in db_ids:
        o1 = parsed1[db_id]
        o2 = parsed2[db_id]
        n1 = len(o1)
        n2 = len(o2)
        semantic_sim = np.zeros((n1, n2), dtype=np.float32)
        structural_sim = np.zeros((n1, n2), dtype=np.float32)
        overall_sim = np.zeros((n1, n2), dtype=np.float32)

        idxs = list(product(range(n1), range(n2)))
        iterator = tqdm(idxs, total=len(idxs), desc=f"{db_id}")
        for i, j in iterator:
            ei = o1[i]
            ej = o2[j]

            _, final_score = get_all_partial_score(ei, ej, use_bert=True)

            structural_sim[i, j] = final_score['structural']
            semantic_sim[i, j] = final_score['semantic']
            overall_sim[i, j] = final_score['overall']

        results[db_id] = {
            'semantic': semantic_sim,
            'struct': structural_sim,
            'overall': overall_sim
        }
    return results

results = measure_inter_score(dev_parsed, test_parsed)
with (proj_path / 'data' / 'pkl_files' / 'bird_dev_test_similarity.pkl').open('wb') as f:
    pickle.dump(results, f)

# Complexity between datasets

In [12]:
def measure_complexity(samples, tables):
    cs = []
    for s in tqdm(samples, total=len(samples)):
        schema = Schema(tables[s.db_id].db_schema)
        output = extract_all(s.final.sql, schema)
        complexity = get_complexity(output)
        cs.append(complexity)
    return cs

train_complexities = measure_complexity(train_samples, bird_tables)
dev_complexities = measure_complexity(dev_samples, bird_tables)
test_complexities = measure_complexity(test_samples, bird_tables)

100%|██████████| 6341/6341 [00:10<00:00, 631.17it/s]
100%|██████████| 2091/2091 [00:03<00:00, 589.55it/s]
100%|██████████| 2193/2193 [00:03<00:00, 591.64it/s]

In [22]:
for c, n in zip([train_complexities, dev_complexities, test_complexities], ['train', 'dev  ', 'test ']):
    print(f'[{n}] Mean={np.mean(c):.4f} +/-{np.std(c):.4f}, Median={np.median(c):.4f}')

[train] Mean=0.2753 +/-0.0476, Median=0.2710
[dev  ] Mean=0.2758 +/-0.0471, Median=0.2710
[test ] Mean=0.2760 +/-0.0477, Median=0.2709

In [ ]:
stats = defaultdict(list)
for s in dev_samples:
    stats[s.db_id].append(s)