In [1]:
%load_ext autoreload
%autoreload 2

In [7]:
import sys
from pathlib import Path
proj_path = Path('.').resolve()
sys.path.append(str(proj_path))

import json
import sqlglot
import sqlglot.expressions as exp
from tqdm import tqdm
import numpy as np
import pandas as pd
from typing import Optional
from collections import defaultdict
from dotenv import load_dotenv, find_dotenv
from langchain_openai import ChatOpenAI
from langchain_core.prompts import PromptTemplate
from langchain_core.output_parsers import JsonOutputParser
_ = load_dotenv(find_dotenv())

from src.db_utils import get_schema_str, get_data_dict
from src.pymodels import DatabaseModel, QuestionSQL, SparcSample, SpiderSample, Description
from src.prompts import Prompts
from src.database import SqliteDatabase
from src.data_preprocess import (
    load_raw_data,
    process_all_tables,
    filter_samples_by_count_spider_bird,
    process_samples_bird,
    split_train_dev_test,
    save_samples_spider_bird,
    load_samples_spider_bird,
)
from src.parsing_sql import extract_all, Schema

bird_path = proj_path / 'data' / 'bird'
tables, train_data, dev_data = load_raw_data(bird_path, load_test=False)

with (proj_path / 'data' / 'bird_description.json').open() as f:
    all_descriptions = json.load(f)

bird_tables = process_all_tables(tables, descriptions=all_descriptions)

In [26]:
all_data = filter_samples_by_count_spider_bird(train_data+dev_data, n=10)
skip = [622, 6916, 6917, 6930, 6967, 6987]
bird_samples = process_samples_bird(all_data, bird_tables, skip=skip)
train_samples, dev_samples, test_samples = split_train_dev_test(bird_samples, train_ratio=0.6, dev_ratio=0.2)
# makesure the dev/test sql is not in the train sql

save_samples_spider_bird(train_samples, proj_path / 'data' / 'bird_train.json')
save_samples_spider_bird(dev_samples+test_samples, proj_path / 'data' / 'bird_dev.json')
print(len(train_samples), len(dev_samples), len(test_samples))

100%|██████████| 10956/10956 [00:03<00:00, 2829.24it/s]

6535 2155 2260

In [ ]:
df_train = pd.DataFrame({
    'db_id': [x.db_id for x in train_samples], 
    'sql': [x.final.sql for x in train_samples],
    'sample_id': [x.sample_id for x in train_samples]
})
df_dev = pd.DataFrame({
    'db_id': [x.db_id for x in dev_samples] + [x.db_id for x in test_samples],
    'sql': [x.final.sql for x in dev_samples] + [x.final.sql for x in test_samples],
    'sample_id': [x.sample_id for x in dev_samples] + [x.sample_id for x in test_samples]
})

In [4]:
# df_train.to_csv(proj_path / 'data' / 'bird_train.csv', index=False)
# df_dev.to_csv(proj_path / 'data' / 'bird_dev.csv', index=False)

df_train = pd.read_csv(proj_path / 'data' / 'bird_train.csv')
df_dev = pd.read_csv(proj_path / 'data' / 'bird_dev.csv')

In [8]:
from src.eval_utils import (
    partial_match
)
import sqlglot
import spacy
nlp_spacy = spacy.load('en_core_web_md')

In [17]:
db_ids = df_dev['db_id'].unique()
error_ids = []
results = defaultdict()
for k, db_id in enumerate(db_ids):
    sql_db_id_dev = df_dev.loc[df_dev['db_id'] == db_id, ['sql', 'sample_id']]
    sql_db_id_train = df_train.loc[df_train['db_id'] == db_id, ['sql', 'sample_id']]
    # spacy similarity
    sql_dev = sql_db_id_dev['sql'].apply(lambda x: nlp_spacy(x))
    sql_train = sql_db_id_train['sql'].apply(lambda x: nlp_spacy(x))
    semantic_sim = np.zeros((len(sql_dev), len(sql_train)))
    for i, sql_d in enumerate(sql_dev):
        for j, sql_t in enumerate(sql_train):
            semantic_sim[i, j] = sql_d.similarity(sql_t)

    # structural similarity
    schema = Schema(bird_tables[db_id].db_schema)
    
    for i, (_, row_d) in tqdm(enumerate(sql_db_id_dev.iterrows()), total=len(sql_db_id_dev), desc=f'[{k}] DB {db_id}'):
        sql_d = row_d['sql']
        sid_d = row_d['sample_id']
        struct_sim = np.zeros((len(sql_dev), len(sql_train)))
        try:
            parsed_sql_d = sqlglot.parse_one(sql_d)
            results_d = extract_all(parsed_sql_d, schema)
            assert len(results_d['sel']) > 0, 'No selection found'
        except Exception as e:
            error_ids.append(('dev', sid_d, str(e)))
            continue

        for j, (_, row_t) in enumerate(sql_db_id_train.iterrows()):
            sql_t = row_t['sql']
            sid_t = row_t['sample_id']
            try:    
                parsed_sql_t = sqlglot.parse_one(sql_t)
                results_t = extract_all(parsed_sql_t, schema)
                assert len(results_t['sel']) > 0, 'No selection found'
            except Exception as e:
                if ('tr', sid_t, str(e)) not in error_ids:
                    error_ids.append(('tr', sid_t, str(e)))
                continue

            sel_iou, *_ = partial_match(results_d['sel'], results_t['sel'])
            cond_iou, *_ = partial_match(results_d['cond'], results_t['cond'])
            agg_iou, *_ = partial_match(results_d['agg'], results_t['agg'])
            dis_iou, *_ = partial_match(results_d['distinct'], results_t['distinct'])
            ord_iou, *_ = partial_match(results_d['order by'], results_t['order by'])
            lim = int(results_d['limit'] == results_t['limit'])
            nested = int(results_d['nested'] == results_t['nested'])
            struct_sim[i, j] = sel_iou + cond_iou + agg_iou + dis_iou + ord_iou + (lim + nested) / 2

    results[db_id] = {
        'sem': semantic_sim,
        'struct': struct_sim
    }

DB movie_platform: 100%|██████████| 67/67 [00:03<00:00, 19.85it/s]
DB book_publishing_company: 100%|██████████| 30/30 [00:00<00:00, 47.19it/s]
DB retail_complains: 100%|██████████| 68/68 [00:01<00:00, 46.45it/s]
DB movies_4: 100%|██████████| 64/64 [00:03<00:00, 17.03it/s]
DB codebase_comments: 100%|██████████| 50/50 [00:02<00:00, 23.00it/s]
DB trains: 100%|██████████| 16/16 [00:00<00:00, 71.72it/s]
DB movie: 100%|██████████| 19/19 [00:00<00:00, 282.73it/s]
DB social_media: 100%|██████████| 32/32 [00:00<00:00, 46.69it/s]
DB cs_semester: 100%|██████████| 46/46 [00:01<00:00, 24.71it/s]
DB computer_student: 100%|██████████| 29/29 [00:00<00:00, 42.45it/s]
DB talkingdata: 100%|██████████| 83/83 [00:03<00:00, 22.07it/s]
DB law_episode: 100%|██████████| 46/46 [00:01<00:00, 28.92it/s]
DB synthea: 100%|██████████| 74/74 [00:05<00:00, 13.50it/s]
DB car_retails: 100%|██████████| 51/51 [00:02<00:00, 23.14it/s]
DB restaurant: 100%|██████████| 47/47 [00:01<00:00, 30.85it/s]
DB soccer_2016: 100%|██████████| 104/104 [00:06<00:00, 15.31it/s]
DB music_tracker: 100%|██████████| 18/18 [00:00<00:00, 127.47it/s]
DB world_development_indicators: 100%|██████████| 63/63 [00:03<00:00, 19.16it/s]
DB movielens: 100%|██████████| 40/40 [00:01<00:00, 37.57it/s]
DB superstore: 100%|██████████| 47/47 [00:00<00:00, 1630.16it/s]
DB shooting: 100%|██████████| 12/12 [00:00<00:00, 216.69it/s]
DB genes: 100%|██████████| 10/10 [00:00<00:00, 190.32it/s]
DB app_store: 100%|██████████| 26/26 [00:00<00:00, 59.39it/s]
DB regional_sales: 100%|██████████| 66/66 [00:00<00:00, 4178.73it/s]
DB european_football_1: 100%|██████████| 23/23 [00:00<00:00, 40.83it/s]
DB professional_basketball: 100%|██████████| 63/63 [00:03<00:00, 18.79it/s]
DB shakespeare: 100%|██████████| 44/44 [00:01<00:00, 29.73it/s]
DB cars: 100%|██████████| 34/34 [00:00<00:00, 39.27it/s]
DB donor: 100%|██████████| 64/64 [00:03<00:00, 20.58it/s]
DB video_games: 100%|██████████| 81/81 [00:06<00:00, 13.01it/s]
DB authors: 100%|██████████| 70/70 [00:03<00:00, 18.29it/s]
DB college_completion: 100%|██████████| 31/31 [00:00<00:00, 46.01it/s]
DB public_review_platform: 100%|██████████| 153/153 [00:21<00:00,  7.27it/s]
DB citeseer: 100%|██████████| 8/8 [00:00<00:00, 126.65it/s]
DB simpson_episodes: 100%|██████████| 84/84 [00:05<00:00, 14.80it/s]
DB student_loan: 100%|██████████| 82/82 [00:03<00:00, 22.52it/s]
DB mental_health_survey: 100%|██████████| 20/20 [00:00<00:00, 42.59it/s]
DB disney: 100%|██████████| 46/46 [00:00<00:00, 60.10it/s]
DB legislator: 100%|██████████| 71/71 [00:00<00:00, 159.18it/s]
DB olympics: 100%|██████████| 68/68 [00:04<00:00, 14.11it/s]
DB address: 100%|██████████| 60/60 [00:03<00:00, 18.96it/s]
DB beer_factory: 100%|██████████| 53/53 [00:00<00:00, 55.81it/s]
DB sales: 100%|██████████| 43/43 [00:01<00:00, 31.15it/s]
DB menu: 100%|██████████| 44/44 [00:01<00:00, 29.25it/s]
DB shipping: 100%|██████████| 43/43 [00:01<00:00, 26.35it/s]
DB language_corpus: 100%|██████████| 55/55 [00:02<00:00, 24.67it/s]
DB airline: 100%|██████████| 37/37 [00:00<00:00, 104.00it/s]
DB books: 100%|██████████| 80/80 [00:05<00:00, 14.76it/s]
DB food_inspection_2: 100%|██████████| 56/56 [00:03<00:00, 17.75it/s]
DB coinmarketcap: 100%|██████████| 20/20 [00:00<00:00, 55.10it/s]
DB retail_world: 100%|██████████| 150/150 [00:12<00:00, 12.16it/s]
DB retails: 100%|██████████| 98/98 [00:08<00:00, 11.82it/s]
DB ice_hockey_draft: 100%|██████████| 32/32 [00:00<00:00, 32.04it/s]
DB works_cycles: 100%|██████████| 190/190 [00:26<00:00,  7.08it/s]
DB image_and_language: 100%|██████████| 56/56 [00:02<00:00, 20.03it/s]
DB hockey: 100%|██████████| 83/83 [00:04<00:00, 17.18it/s]
DB world: 100%|██████████| 40/40 [00:01<00:00, 35.73it/s]
DB music_platform_2: 100%|██████████| 28/28 [00:00<00:00, 51.61it/s]
DB university: 100%|██████████| 60/60 [00:02<00:00, 26.13it/s]
DB sales_in_weather: 100%|██████████| 32/32 [00:00<00:00, 164.61it/s]
DB mondial_geo: 100%|██████████| 118/118 [00:11<00:00, 10.41it/s]
DB software_company: 100%|██████████| 30/30 [00:00<00:00, 48.50it/s]
DB chicago_crime: 100%|██████████| 76/76 [00:05<00:00, 15.15it/s]
DB food_inspection: 100%|██████████| 34/34 [00:00<00:00, 59.75it/s]
DB cookbook: 100%|██████████| 28/28 [00:00<00:00, 44.46it/s]
DB human_resources: 100%|██████████| 24/24 [00:00<00:00, 45.66it/s]
DB bike_share_1: 100%|██████████| 46/46 [00:01<00:00, 23.40it/s]
DB movie_3: 100%|██████████| 130/130 [00:14<00:00,  8.79it/s]
DB california_schools: 100%|██████████| 36/36 [00:00<00:00, 78.13it/s]
DB financial: 100%|██████████| 43/43 [00:01<00:00, 32.99it/s]
DB toxicology: 100%|██████████| 58/58 [00:03<00:00, 16.77it/s]
DB card_games: 100%|██████████| 77/77 [00:03<00:00, 24.27it/s]
DB codebase_community: 100%|██████████| 75/75 [00:03<00:00, 19.98it/s]
DB superhero: 100%|██████████| 52/52 [00:02<00:00, 22.01it/s]
DB formula_1: 100%|██████████| 70/70 [00:03<00:00, 17.83it/s]
DB european_football_2: 100%|██████████| 52/52 [00:01<00:00, 33.47it/s]
DB thrombosis_prediction: 100%|██████████| 66/66 [00:01<00:00, 41.12it/s]
DB student_club: 100%|██████████| 64/64 [00:03<00:00, 19.99it/s]
DB debit_card_specializing: 100%|██████████| 26/26 [00:00<00:00, 39.34it/s]

In [18]:
import pickle 
with open(proj_path / 'data' / 'errors_bird.pkl', 'wb') as f:
    pickle.dump(error_ids, f)

with open(proj_path / 'data' / 'errors_bird.pkl', 'rb') as f:
    error_ids = pickle.load(f)

In [21]:
error_ids

[('tr', 12, 'too many values to unpack (expected 2)'),
 ('tr', 17, 'too many values to unpack (expected 2)'),
 ('tr', 21, 'too many values to unpack (expected 2)'),
 ('tr', 30, 'too many values to unpack (expected 2)'),
 ('tr', 38, 'too many values to unpack (expected 2)'),
 ('tr', 40, 'too many values to unpack (expected 2)'),
 ('tr', 44, 'too many values to unpack (expected 2)'),
 ('tr', 45, 'too many values to unpack (expected 2)'),
 ('tr', 48, 'too many values to unpack (expected 2)'),
 ('tr', 74, 'too many values to unpack (expected 2)'),
 ('dev', 151, 'too many values to unpack (expected 2)'),
 ('dev', 157, 'too many values to unpack (expected 2)'),
 ('dev', 158, 'too many values to unpack (expected 2)'),
 ('dev', 160, 'sequence item 0: expected str instance, tuple found'),
 ('dev', 162, 'too many values to unpack (expected 2)'),
 ('dev', 228, 'sequence item 0: expected str instance, tuple found'),
 ('dev', 229, 'sequence item 0: expected str instance, tuple found'),
 ('dev', 230, 'too many values to unpack (expected 2)'),
 ('dev', 231, 'sequence item 0: expected str instance, tuple found'),
 ('dev', 232, 'sequence item 0: expected str instance, tuple found'),
 ('dev', 239, 'sequence item 0: expected str instance, tuple found'),
 ('dev',
  340,
  'Invalid expression / Unexpected token. Line 1, Col: 796.\n   0 END) AS elderAverageMins FROM client AS T1 INNER JOIN callcenterlogs AS T2 ON T1.client_id = T2.`\x1b[4mrand\x1b[0m client`'),
 ('tr',
  240,
  'Invalid expression / Unexpected token. Line 1, Col: 21.\n  SELECT `Date \x1b[4mreceived\x1b[0m` FROM callcenterlogs WHERE ser_time = ( SELECT MAX(ser_time) FROM callcenterlogs )'),
 ('tr',
  241,
  "Invalid expression / Unexpected token. Line 1, Col: 52.\n  SELECT MIN(ser_time) FROM callcenterlogs WHERE `\x1b[4mDate\x1b[0m received` = '2017-03-22'"),
 ('tr',
  242,
  "Expected END after CASE. Line 1, Col: 41.\n  SELECT CASE WHEN SUM(CASE WHEN `\x1b[4mComplaint\x1b[0m ID` = 'CR2400594' THEN priority END) > SUM(CASE WHEN `Complaint ID` = 'CR2405641' THEN priority END"),
 ('tr',
  245,
  "Invalid expression / Unexpected token. Line 1, Col: 15.\n  SELECT T2.`Sub\x1b[4m-\x1b[0mproduct` FROM client AS T1 INNER JOIN events AS T2 ON T1.client_id = T2.Client_ID WHERE T1.first = '"),
 ('tr',
  246,
  "Expected END after CASE. Line 1, Col: 29.\n  SELECT CASE WHEN T2.`\x1b[4mConsumer\x1b[0m consent provided?` IN (NULL, 'N/A', 'Empty') THEN 'No' ELSE 'Yes' END FROM client AS T1 INNER JOIN "),
 ('tr',
  247,
  "Expecting ). Line 1, Col: 37.\n  SELECT 365 * (strftime('%Y', T2.`\x1b[4mDate\x1b[0m sent to company`) - strftime('%Y', T2.`Date received`)) + 30 * (strftime('%M', T2.`Date sent to com"),
 ('tr',
  248,
  "Invalid expression / Unexpected token. Line 1, Col: 112.\n  1.first, T1.middle, T1.last FROM client AS T1 INNER JOIN callcenterlogs AS T2 ON T1.client_id = T2.`\x1b[4mrand\x1b[0m client` WHERE T2.`Date received` = '2017-03-27' AND T2.server = 'MICHAL'"),
 ('tr',
  249,
  "Invalid expression / Unexpected token. Line 1, Col: 95.\n  SELECT T2.ser_time FROM client AS T1 INNER JOIN callcenterlogs AS T2 ON T1.client_id = T2.`\x1b[4mrand\x1b[0m client` WHERE T1.first = 'Rachel' AND T1.last = 'Hicks' AND T2.`Date received` = '2017-03-27'"),
 ('tr',
  251,
  "Invalid expression / Unexpected token. Line 1, Col: 126.\n  .middle, T1.last FROM client AS T1 INNER JOIN events AS T2 ON T1.client_id = T2.Client_ID WHERE T2.`\x1b[4mCompany\x1b[0m response to consumer` = 'In progress'"),
 ('tr',
  252,
  "Invalid expression / Unexpected token. Line 1, Col: 111.\n  T COUNT(T1.city) FROM client AS T1 INNER JOIN events AS T2 ON T1.client_id = T2.Client_ID WHERE T2.`\x1b[4mTimely\x1b[0m response?` = 'No' AND T1.city = 'New York City'"),
 ('tr',
  253,
  "Expecting ). Line 1, Col: 123.\n  ) FROM client AS T1 INNER JOIN events AS T2 ON T1.client_id = T2.Client_ID WHERE strftime('%Y', T2.`\x1b[4mDate\x1b[0m received`) = '2016' AND T1.sex = 'Male' AND T2.Product = 'Credit card'"),
 ('tr',
  256,
  'Expecting ). Line 1, Col: 31.\n  SELECT CAST(COUNT(T2.`\x1b[4mComplaint\x1b[0m ID`) AS REAL) / 3 AS average FROM client AS T1 INNER JOIN events AS T2 ON T1.client_id = T2.Client_'),
 ('tr',
  257,
  "Expecting ). Line 1, Col: 53.\n  SELECT 100.0 * (SUM(CASE WHEN strftime('%Y', T2.`\x1b[4mDate\x1b[0m received`) = '2017' THEN 1 ELSE 0 END) - SUM(CASE WHEN strftime('%Y', T2.`Date received`) = '2016' "),
 ('tr',
  258,
  "Invalid expression / Unexpected token. Line 1, Col: 85.\n  SELECT T1.ser_time FROM callcenterlogs AS T1 INNER JOIN events AS T2 ON T1.`\x1b[4mComplaint\x1b[0m ID` = T2.`Complaint ID` WHERE T2.Client_ID = 'C00007127' AND T1.`Date received` = '2017-02-22'"),
 ('tr',
  260,
  "Invalid expression / Unexpected token. Line 1, Col: 24.\n  SELECT DISTINCT T2.`Sub\x1b[4m-\x1b[0mproduct` FROM client AS T1 INNER JOIN events AS T2 ON T1.client_id = T2.Client_ID WHERE T1.first = '"),
 ('tr',
  261,
  "Invalid expression / Unexpected token. Line 1, Col: 15.\n  SELECT T2.`Sub\x1b[4m-\x1b[0missue` FROM client AS T1 INNER JOIN events AS T2 ON T1.client_id = T2.Client_ID WHERE T1.first = 'Gu"),
 ('tr',
  262,
  "Expected END after CASE. Line 1, Col: 29.\n  SELECT CASE WHEN T2.`\x1b[4mConsumer\x1b[0m consent provided?` IN (NULL, 'N/A', '') THEN 'No' ELSE 'Yes' END FROM client AS T1 INNER JOIN event"),
 ('tr',
  263,
  "Expecting ). Line 1, Col: 37.\n  SELECT 365 * (strftime('%Y', T2.`\x1b[4mDate\x1b[0m sent to company`) - strftime('%Y', T2.`Date received`)) + 30 * (strftime('%M', T2.`Date sent to com"),
 ('tr',
  268,
  "Invalid expression / Unexpected token. Line 1, Col: 116.\n  T1.month, T1.day FROM client AS T1 INNER JOIN events AS T2 ON T1.client_id = T2.Client_ID WHERE T2.`\x1b[4mComplaint\x1b[0m ID` = 'CR0217298'"),
 ('tr',
  269,
  "Invalid expression / Unexpected token. Line 1, Col: 108.\n  SELECT T1.phone FROM client AS T1 INNER JOIN events AS T2 ON T1.client_id = T2.Client_ID WHERE T2.`\x1b[4mComplaint\x1b[0m ID` = 'CR0100432'"),
 ('tr',
  270,
  "Invalid expression / Unexpected token. Line 1, Col: 181.\n   / COUNT(T1.sex) FROM client AS T1 INNER JOIN events AS T2 ON T1.client_id = T2.Client_ID WHERE T2.`\x1b[4mDate\x1b[0m received` = '2017-03-27'"),
 ('tr',
  271,
  "Expected END after CASE. Line 1, Col: 38.\n  SELECT CAST(SUM(CASE WHEN T2.`\x1b[4mConsumer\x1b[0m consent provided?` = 'Consent provided' THEN 1 ELSE 0 END) AS REAL) * 100 / COUNT(T2.`Consumer cons"),
 ('tr',
  272,
  "Expecting ). Line 1, Col: 23.\n  SELECT COUNT(`\x1b[4mComplaint\x1b[0m ID`) FROM callcenterlogs WHERE `Date received` LIKE '2017-01%' AND priority = ( SELECT MAX(priority"),
 ('tr',
  276,
  "Invalid expression / Unexpected token. Line 1, Col: 92.\n  SELECT T1.email FROM client AS T1 INNER JOIN callcenterlogs AS T2 ON T1.client_id = T2.`\x1b[4mrand\x1b[0m client` WHERE T2.outcome = 'HANG'"),
 ('tr',
  278,
  "Invalid expression / Unexpected token. Line 1, Col: 138.\n  1.last, T1.phone FROM client AS T1 INNER JOIN events AS T2 ON T1.client_id = T2.Client_ID WHERE T2.`\x1b[4mSubmitted\x1b[0m via` = 'Fax'"),
 ('tr', 280, 'too many values to unpack (expected 2)'),
 ('tr',
  282,
  "Invalid expression / Unexpected token. Line 1, Col: 182.\n  S T2 ON T1.client_id = T2.Client_ID WHERE T1.year BETWEEN 1980 AND 2000 AND T1.sex = 'Male' AND T2.`\x1b[4mSubmitted\x1b[0m via` = 'Referral'"),
 ('tr',
  283,
  'Invalid expression / Unexpected token. Line 1, Col: 24.\n  SELECT T3.`Submitted \x1b[4mvia\x1b[0m` FROM callcenterlogs AS T1 INNER JOIN client AS T2 ON T1.`rand client` = T2.client_id INNER JOIN ev'),
 ('tr',
  284,
  "Expecting ). Line 1, Col: 30.\n  SELECT STRFTIME('%Y', T3.`\x1b[4mDate\x1b[0m received`) , CAST(SUM(CASE WHEN T3.`Company response to consumer` = 'Closed with explanation' THEN "),
 ('tr',
  285,
  "Expected END after CASE. Line 1, Col: 38.\n  SELECT CAST(SUM(CASE WHEN T2.`\x1b[4mConsumer\x1b[0m disputed?` = 'Yes' AND T1.city = 'Houston' THEN 1 ELSE 0 END) AS REAL) * 100 / COUNT(T1.client_id) "),
 ('tr',
  287,
  'Invalid expression / Unexpected token. Line 1, Col: 158.\n  0 END) AS REAL) * 100 / COUNT(T1.priority) FROM callcenterlogs AS T1 INNER JOIN client AS T2 ON T1.`\x1b[4mrand\x1b[0m client` = T2.client_id INNER JOIN district AS T3 ON T2.district_id = T3.district_id INNER JOIN stat'),
 ('tr',
  289,
  'Invalid expression / Unexpected token. Line 1, Col: 20.\n  SELECT `Complaint \x1b[4mID\x1b[0m` FROM callcenterlogs ORDER BY ser_time DESC LIMIT 3'),
 ('tr', 290, 'too many values to unpack (expected 2)'),
 ('tr',
  291,
  "Invalid expression / Unexpected token. Line 1, Col: 44.\n  SELECT Client_ID FROM events WHERE `\x1b[4mConsumer\x1b[0m consent provided?` = 'N/A' OR 'Consumer consent provided?' IS NULL OR 'Consumer consent provided?' "),
 ('tr',
  292,
  "Invalid expression / Unexpected token. Line 1, Col: 20.\n  SELECT `Complaint \x1b[4mID\x1b[0m` FROM events WHERE strftime('%J', `Date sent to company`) - strftime('%J', `Date received`) = ( SEL"),
 ('tr',
  293,
  'Invalid expression / Unexpected token. Line 1, Col: 29.\n  SELECT DISTINCT `Complaint \x1b[4mID\x1b[0m` FROM callcenterlogs WHERE priority = 2 ORDER BY `Date received` DESC'),
 ('tr',
  295,
  'Expecting ). Line 1, Col: 26.\n  SELECT COUNT(T1.`\x1b[4mComplaint\x1b[0m ID`) FROM callcenterlogs AS T1 INNER JOIN events AS T2 ON T1.`Complaint ID` = T2.`Complaint ID` WHE'),
 ('tr',
  297,
  "Invalid expression / Unexpected token. Line 1, Col: 101.\n  SELECT T1.year FROM client AS T1 INNER JOIN events AS T2 ON T1.client_id = T2.Client_ID WHERE T2.`\x1b[4mSub\x1b[0m-product` = '(CD) Certificate of deposit' GROUP BY T1.year ORDER BY COUNT(T1.year) DESC LIMIT 1"),
 ('tr',
  300,
  "Invalid expression / Unexpected token. Line 1, Col: 91.\n  SELECT t1.last FROM client AS T1 INNER JOIN callcenterlogs AS T2 ON T1.client_id = T2.`\x1b[4mrand\x1b[0m client` WHERE T2.type = 'PS' AND T2.server = 'TOVA'"),
 ('tr',
  302,
  "Invalid expression / Unexpected token. Line 1, Col: 97.\n  SELECT COUNT(T1.sex) FROM client AS T1 INNER JOIN callcenterlogs AS T2 ON T1.client_id = T2.`\x1b[4mrand\x1b[0m client` WHERE T1.sex = 'Male' AND T2.priority = 0 AND T1.year = 1997"),
 ('tr',
  303,
  "Invalid expression / Unexpected token. Line 1, Col: 158.\n   T1 INNER JOIN events AS T2 ON T1.client_id = T2.Client_ID WHERE T2.Tags = 'Older American' AND T2.`\x1b[4mConsumer\x1b[0m consent provided?` != 'N/A' AND T2.`Consumer consent provided?` IS NOT NULL AND T2.`Consumer consen"),
 ('tr',
  304,
  'Invalid expression / Unexpected token. Line 1, Col: 77.\n  SELECT T2.state FROM callcenterlogs AS T1 INNER JOIN client AS T2 ON T1.`\x1b[4mrand\x1b[0m client` = T2.client_id INNER JOIN district AS T3 ON T2.district_id = T3.district_id INNER JOIN stat'),
 ('tr',
  305,
  'Expecting ). Line 1, Col: 26.\n  SELECT COUNT(T1.`\x1b[4mComplaint\x1b[0m ID`) FROM callcenterlogs AS T1 INNER JOIN client AS T2 ON T1.`rand client` = T2.client_id INNER JOI'),
 ('tr',
  306,
  'Expecting ). Line 1, Col: 26.\n  SELECT COUNT(T1.`\x1b[4mComplaint\x1b[0m ID`) FROM callcenterlogs AS T1 INNER JOIN events AS T2 ON T1.`Complaint ID` = T2.`Complaint ID` WHE'),
 ('tr', 308, 'too many values to unpack (expected 2)'),
 ('tr',
  309,
  "Invalid expression / Unexpected token. Line 1, Col: 123.\n  _1, T1.address_2 FROM client AS T1 INNER JOIN events AS T2 ON T1.client_id = T2.Client_ID WHERE T2.`\x1b[4mTimely\x1b[0m response?` = 'Yes' AND T2.`Consumer disputed?` = 'Yes'"),
 ('tr',
  310,
  "Expecting ). Line 1, Col: 26.\n  SELECT COUNT(T2.`\x1b[4mSubmitted\x1b[0m via`) FROM client AS T1 INNER JOIN events AS T2 ON T1.client_id = T2.Client_ID WHERE T1.sex = 'Fema"),
 ('tr',
  311,
  'Invalid expression / Unexpected token. Line 1, Col: 29.\n  SELECT T2.`Consumer \x1b[4mcomplaint\x1b[0m narrative` FROM client AS T1 INNER JOIN events AS T2 ON T1.client_id = T2.Client_ID WHERE T1.first '),
 ('tr',
  312,
  "Invalid expression / Unexpected token. Line 1, Col: 99.\n  SELECT COUNT(T1.email) FROM client AS T1 INNER JOIN callcenterlogs AS T2 ON T1.client_id = T2.`\x1b[4mrand\x1b[0m client` WHERE (T2.`Date received` LIKE '2017-02%' OR T2.`Date received` LIKE '2017-01%') AND T1.ema"),
 ('tr',
  314,
  'Expecting ). Line 1, Col: 93.\n  SELECT CAST(SUM(CASE WHEN T1.age > 50 THEN 1 ELSE 0 END) AS REAL) * 100 / COUNT(T2.`\x1b[4mSubmitted\x1b[0m via`) FROM client AS T1 INNER JOIN events AS T2 ON T1.client_id = T2.Client_ID WHERE T2.`Submitted '),
 ('tr',
  319,
  "Invalid expression / Unexpected token. Line 1, Col: 33.\n  SELECT DISTINCT T2.`Submitted \x1b[4mvia\x1b[0m` FROM client AS T1 INNER JOIN events AS T2 ON T1.client_id = T2.Client_ID WHERE T1.first = 'Kyran' "),
 ('tr',
  321,
  "Invalid expression / Unexpected token. Line 1, Col: 140.\n  AS T1 INNER JOIN client AS T2 ON T1.Client_ID = T2.client_id INNER JOIN callcenterlogs AS T3 ON T1.`\x1b[4mComplaint\x1b[0m ID` = T3.`Complaint ID` WHERE T2.first = 'Kendall' AND T2.last = 'Allen' AND T2.sex = 'Female' AND "),
 ('tr',
  322,
  'Invalid expression / Unexpected token. Line 1, Col: 82.\n  SELECT T2.Issue FROM callcenterlogs AS T1 INNER JOIN events AS T2 ON T1.`\x1b[4mComplaint\x1b[0m ID` = T2.`Complaint ID` WHERE T1.ser_time = ( SELECT MAX(ser_time) FROM callcenterlogs )'),
 ('tr',
  323,
  "Invalid expression / Unexpected token. Line 1, Col: 149.\n  S T1 INNER JOIN events AS T2 ON T1.client_id = T2.Client_ID WHERE T1.city = 'New York City' AND T2.`\x1b[4mSubmitted\x1b[0m via` = 'Fax'"),
 ('tr',
  325,
  "Invalid expression / Unexpected token. Line 1, Col: 158.\n   T1 INNER JOIN events AS T2 ON T1.client_id = T2.Client_ID WHERE T2.Tags = 'Older American' AND T2.`\x1b[4mConsumer\x1b[0m consent provided?` IN (NULL, 'N/A', '') LIMIT 2"),
 ('tr',
  327,
  "Expecting ). Line 1, Col: 20.\n  SELECT COUNT(`\x1b[4mTimely\x1b[0m response?`) FROM events WHERE `Timely response?` = 'No' AND `Consumer disputed?` = 'No'"),
 ('tr',
  329,
  'Invalid expression / Unexpected token. Line 1, Col: 82.\n  SELECT T1.Issue FROM events AS T1 INNER JOIN callcenterlogs AS T2 ON T1.`\x1b[4mComplaint\x1b[0m ID` = T2.`Complaint ID` WHERE T2.priority = 2 GROUP BY T1.Issue ORDER BY COUNT(T1.Issue) DESC LIMIT'),
 ('tr',
  333,
  "Invalid expression / Unexpected token. Line 1, Col: 121.\n  _1, T1.address_2 FROM client AS T1 INNER JOIN events AS T2 ON T1.client_id = T2.Client_ID WHERE T2.`\x1b[4mDate\x1b[0m received` = '2012-03-14' AND T2.`Submitted via` = 'Postal mail'"),
 ('tr',
  334,
  "Invalid expression / Unexpected token. Line 1, Col: 103.\n  SELECT COUNT(T1.client_id) FROM client AS T1 INNER JOIN callcenterlogs AS T2 ON T1.client_id = T2.`\x1b[4mrand\x1b[0m client` WHERE T1.sex = 'Female' AND T2.priority = 1"),
 ('tr',
  335,
  "Invalid expression / Unexpected token. Line 1, Col: 92.\n  SELECT DISTINCT T2.server FROM events AS T1 INNER JOIN callcenterlogs AS T2 ON T1.`\x1b[4mComplaint\x1b[0m ID` = T2.`Complaint ID` WHERE T1.`Submitted via` = 'Phone' AND T1.`Timely response?` = 'No'"),
 ('tr',
  339,
  "Invalid expression / Unexpected token. Line 1, Col: 112.\n  1.first, T1.middle, T1.last FROM client AS T1 INNER JOIN callcenterlogs AS T2 ON T1.client_id = T2.`\x1b[4mrand\x1b[0m client` WHERE T2.server = 'MORIAH' AND T2.`Date received` = '2013-09-11'"),
 ('dev', 343, 'too many values to unpack (expected 2)'),
 ('dev',
  345,
  'Invalid expression / Unexpected token. Line 1, Col: 92.\n  SELECT T1.first FROM client AS T1 INNER JOIN callcenterlogs AS T2 ON T1.client_id = T2.`\x1b[4mrand\x1b[0m client` WHERE T2.priority = ( SELECT MAX(priority) FROM callcenterlogs )'),
 ('dev',
  346,
  "Invalid expression / Unexpected token. Line 1, Col: 92.\n  SELECT T1.email FROM client AS T1 INNER JOIN callcenterlogs AS T2 ON T1.client_id = T2.`\x1b[4mrand\x1b[0m client` WHERE T2.type = 'PS'"),
 ('dev',
  347,
  "Invalid expression / Unexpected token. Line 1, Col: 91.\n  SELECT T1.last FROM client AS T1 INNER JOIN callcenterlogs AS T2 ON T1.client_id = T2.`\x1b[4mrand\x1b[0m client` WHERE T1.age > 65 AND T2.server = 'YIFAT'"),
 ('dev',
  348,
  'Expecting ). Line 1, Col: 21.\n  SELECT COUNT(T2.`\x1b[4mrand\x1b[0m client`) FROM client AS T1 INNER JOIN callcenterlogs AS T2 ON T1.client_id = T2.`rand client` WHERE'),
 ('dev',
  349,
  "Invalid expression / Unexpected token. Line 1, Col: 127.\n  .middle, T1.last FROM client AS T1 INNER JOIN events AS T2 ON T1.client_id = T2.Client_ID WHERE T2.`\x1b[4mConsumer\x1b[0m disputed?` = 'Yes'"),
 ('dev',
  350,
  'Invalid expression / Unexpected token. Line 1, Col: 23.\n  SELECT T2.`Complaint \x1b[4mID\x1b[0m` FROM client AS T1 INNER JOIN callcenterlogs AS T2 ON T1.client_id = T2.`rand client` WHERE T1.year'),
 ('dev',
  351,
  "Invalid expression / Unexpected token. Line 1, Col: 182.\n  AL) * 100 / COUNT(T1.email) FROM client AS T1 INNER JOIN callcenterlogs AS T2 ON T1.client_id = T2.`\x1b[4mrand\x1b[0m client` WHERE T2.server = 'ZOHARI'"),
 ('dev',
  352,
  "Invalid expression / Unexpected token. Line 1, Col: 112.\n  1.first, T1.middle, T1.last FROM client AS T1 INNER JOIN callcenterlogs AS T2 ON T1.client_id = T2.`\x1b[4mrand\x1b[0m client` WHERE strftime('%M', T2.ser_time) > '20'"),
 ('dev',
  353,
  'Invalid expression / Unexpected token. Line 1, Col: 91.\n  SELECT T1.last FROM client AS T1 INNER JOIN callcenterlogs AS T2 ON T1.client_id = T2.`\x1b[4mrand\x1b[0m client` WHERE T2.priority = 0 LIMIT 5'),
 ('dev',
  354,
  "Invalid expression / Unexpected token. Line 1, Col: 94.\n  SELECT T2.call_id FROM client AS T1 INNER JOIN callcenterlogs AS T2 ON T1.client_id = T2.`\x1b[4mrand\x1b[0m client` WHERE T1.first LIKE 'B%'"),
 ('dev',
  356,
  "Invalid expression / Unexpected token. Line 1, Col: 105.\n  SELECT T1.first FROM client AS T1 INNER JOIN events AS T2 ON T1.client_id = T2.Client_ID WHERE T2.`\x1b[4mTimely\x1b[0m response?` = 'No' AND T1.sex = 'Male'"),
 ('dev',
  359,
  "Invalid expression / Unexpected token. Line 1, Col: 82.\n  SELECT T2.Issue FROM callcenterlogs AS T1 INNER JOIN events AS T2 ON T1.`\x1b[4mComplaint\x1b[0m ID` = T2.`Complaint ID` WHERE strftime('%M', T1.ser_time) < '10'"),
 ('dev',
  360,
  'Invalid expression / Unexpected token. Line 1, Col: 24.\n  SELECT T1.`Date \x1b[4mreceived\x1b[0m` FROM callcenterlogs AS T1 INNER JOIN events AS T2 ON T1.`Complaint ID` = T2.`Complaint ID` WHERE T'),
 ('dev',
  362,
  "Invalid expression / Unexpected token. Line 1, Col: 108.\n  SELECT T1.email FROM client AS T1 INNER JOIN events AS T2 ON T1.client_id = T2.Client_ID WHERE T2.`\x1b[4mSubmitted\x1b[0m via` = 'Postal mail'"),
 ('dev',
  363,
  "Invalid expression / Unexpected token. Line 1, Col: 109.\n  LECT AVG(T1.age) FROM client AS T1 INNER JOIN events AS T2 ON T1.client_id = T2.Client_ID WHERE T2.`\x1b[4mCompany\x1b[0m response to consumer` = 'Closed with relief'"),
 ('dev',
  364,
  "Invalid expression / Unexpected token. Line 1, Col: 95.\n  SELECT AVG(T1.age) FROM client AS T1 INNER JOIN callcenterlogs AS T2 ON T1.client_id = T2.`\x1b[4mrand\x1b[0m client` WHERE T2.type = 'TT'"),
 ('dev',
  365,
  "Invalid expression / Unexpected token. Line 1, Col: 20.\n  SELECT `Complaint \x1b[4mID\x1b[0m`, call_id, phonefinal FROM callcenterlogs WHERE strftime('%Y', `Date received`) = '2014' AND server"),
 ('dev',
  366,
  "Invalid expression / Unexpected token. Line 1, Col: 80.\n  SELECT AVG(CAST(SUBSTR(ser_time, 4, 2) AS REAL)) FROM callcenterlogs WHERE `\x1b[4mDate\x1b[0m received` BETWEEN '2017-01-01' AND '2017-04-01'"),
 ('dev',
  367,
  "Expecting ). Line 1, Col: 27.\n  SELECT strftime('%Y', `\x1b[4mDate\x1b[0m received`), COUNT(`Date received`) FROM events WHERE product = 'Credit card' AND issue = 'Overlimit"),
 ('dev',
  371,
  "Invalid expression / Unexpected token. Line 1, Col: 90.\n  SELECT MAX(T1.ser_time) FROM callcenterlogs AS T1 INNER JOIN events AS T2 ON T1.`\x1b[4mComplaint\x1b[0m ID` = T2.`Complaint ID` WHERE T2.issue = 'Arbitration'"),
 ('dev',
  374,
  "Expecting ). Line 1, Col: 49.\n  SELECT T1.social , 365 * (strftime('%Y', T2.`\x1b[4mDate\x1b[0m sent to company`) - strftime('%Y', T2.`Date received`)) + 30 * (strftime('%M', T2.`Date sent to com"),
 ('dev',

In [25]:
sql = """SELECT 'Date received' FROM callcenterlogs WHERE ser_time = ( SELECT MAX(ser_time) FROM callcenterlogs )"""
sqlglot.parse_one(sql)

Select(
  expressions=[
    Literal(this=Date received, is_string=True)],
  from=From(
    this=Table(
      this=Identifier(this=callcenterlogs, quoted=False))),
  where=Where(
    this=EQ(
      this=Column(
        this=Identifier(this=ser_time, quoted=False)),
      expression=Subquery(
        this=Select(
          expressions=[
            Max(
              this=Column(
                this=Identifier(this=ser_time, quoted=False)))],
          from=From(
            this=Table(
              this=Identifier(this=callcenterlogs, quoted=False))))))))

In [37]:
from src.parsing_sql import (
    extract_aliases,
    get_subqueries,
    extract_selection,
    extract_aggregation,
    extract_condition,
    extract_others, 
    _extract_conditions
)

In [54]:
sql = df_train.loc[df_train['sample_id'] == 17, 'sql'].values[0]
print(sql)
parsed_query = sqlglot.parse_one(sql)
# results = extract_all(parsed_query, schema)
aliases = extract_aliases(parsed_query)
subqueries = get_subqueries(parsed_query)
results = defaultdict(set)
nested = len(subqueries)

SELECT list_url FROM lists WHERE list_update_timestamp_utc LIKE '2012%' AND list_followers BETWEEN 1 AND 2 ORDER BY list_update_timestamp_utc DESC LIMIT 1

In [55]:
for query in subqueries:
    sel_cols, sel_types  = extract_selection(query, aliases, schema)
    conds, op_types = extract_condition(query, aliases, schema)
    agg_cols, agg_types  = extract_aggregation(query, aliases, schema)
    others = extract_others(query, aliases, schema)

ValueError: too many values to unpack (expected 2)

In [56]:
conditions = set()
operator_types = set()

for clause_name in ("where", "having"):
    clause = query.args.get(clause_name)
    if clause:
        break
clause

Where(
  this=And(
    this=Like(
      this=Column(
        this=Identifier(this=list_update_timestamp_utc, quoted=False)),
      expression=Literal(this=2012%, is_string=True)),
    expression=Between(
      this=Column(
        this=Identifier(this=list_followers, quoted=False)),
      low=Literal(this=1, is_string=False),
      high=Literal(this=2, is_string=False))))

In [57]:
clause.this

And(
  this=Like(
    this=Column(
      this=Identifier(this=list_update_timestamp_utc, quoted=False)),
    expression=Literal(this=2012%, is_string=True)),
  expression=Between(
    this=Column(
      this=Identifier(this=list_followers, quoted=False)),
    low=Literal(this=1, is_string=False),
    high=Literal(this=2, is_string=False)))

In [58]:
ops, conds = _extract_conditions(clause.this, aliases, schema)

ValueError: too many values to unpack (expected 2)

In [53]:
expr = clause.this

operations = []
conditions = []
left = expr.args.get('this')
right = expr.args.get('expression')
if left:
    ops, conds = _extract_conditions(left, aliases, schema)
    operations.extend(ops)
    conditions.extend(conds)
if right:
    ops, conds = _extract_conditions(right, aliases, schema)
    operations.extend(ops)
    conditions.extend(conds)

ValueError: too many values to unpack (expected 2)

In [50]:
right

Between(
  this=Column(
    this=Identifier(this=list_followers, quoted=False)),
  low=Literal(this=1, is_string=False),
  high=Literal(this=2, is_string=False))

In [51]:
type(exp.Between).__bases__

(type,)

In [43]:
from langchain_openai import ChatOpenAI
from langchain_core.documents import Document
from langchain_core.runnables import RunnableSequence
from langchain_community.vectorstores import FAISS
from langchain_community.vectorstores.utils import DistanceStrategy
from langchain_openai.embeddings import OpenAIEmbeddings
from langchain_core.prompts import PromptTemplate
from langchain_core.output_parsers import JsonOutputParser
from src.pymodels import SQLResponse
   
prompt = PromptTemplate(
    template=Prompts.zero_shot_inference_bird,
    input_variables=['schema', 'input_query', 'evidence']
)
model_name = 'gpt-4o-mini'
model_openai = ChatOpenAI(
    model=model_name,
    temperature=0.0,
    logprobs=True,
    top_logprobs=5
)

# model = model_openai.with_structured_output(SQLResponse, include_raw=True)
chain = (prompt | model_openai)

In [ ]:
eval_path = proj_path / 'experiments' / 'zero_shot' / 'bird'
if not eval_path.exists():
    eval_path.mkdir(parents=True)

# run zero-shot SQL generation
results = {}
iterator = tqdm(samples, total=len(samples))
for i, sample in enumerate(iterator):
    db_id = sample.db_id
    iterator.set_description(f"Processing {db_id} - {sample.sample_id}")
    schema = get_schema_str(
        schema=bird_tables[db_id].db_schema,
        foreign_keys=bird_tables[db_id].foreign_keys,
        primary_keys=bird_tables[db_id].primary_keys,
        col_explanation=all_descriptions[db_id]    
    )
    output = chain.invoke(input={
        'schema': schema,
        'input_query': sample.final.question,
        'evidence': sample.evidence
    })
    o = SQLResponse(**json.loads(output.content))
    usage = output.usage_metadata
    logprobs = output.response_metadata['logprobs']['content']
    results[sample.sample_id] = {
        'sample_id': sample.sample_id,
        'output': {
            'sql': o.full_sql_query,
            'rationale': o.rationale,
        },
        'usage': usage,
        'logprobs': logprobs
    }

Processing movie_platform - 8:   0%|          | 8/8731 [00:41<12:42:35,  5.25s/it]

KeyboardInterrupt:

In [ ]:
# detect token indices after `full_sql_query`
txt = ''
sql_tokens = []
start = False
for i, x in enumerate(logprobs):
    txt += x['token']
    if 'full_sql_query' in txt:
        if x['token'] == 'SELECT':
            start = True
            txt = ''

    if start:
        sql_tokens.append(x)

In [83]:
''.join([x['token'] for x in sql_tokens][:-1])

'SELECT movie_title FROM movies WHERE movie_release_year = 1945 ORDER BY movie_popularity DESC;"\n'