In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
from pathlib import Path
proj_path = Path('.').resolve()
sys.path.append(str(proj_path))

import sqlglot
import numpy as np
from sqlglot import expressions as exp
from src.parsing_sql import Schema, extract_all
from src.eval_utils import (
    partial_match, 
    compute_tsed
)

from src.parsing_sql import (
    extract_aliases,
    extract_condition,
    get_subqueries,
    _extract_conditions,
    _extract_columns_from_expression,
    _determine_tag,
    _format_expression,
    _get_full_column_name,
    extract_aliases,
    extract_selection,
    extract_aggregation,
    extract_orderby,
    extract_others,
    
    _extract_aliases_from_select,
    _handle_table_or_subquery
)

# from warnings import catch_warnings, simplefilter
# #with warnings.catch_warnings(action='ignore'):
# with catch_warnings():
#     simplefilter("ignore")

In [3]:
schema_dict = {'PART': {'P_PARTKEY': 'integer',
  'P_NAME': 'text',
  'P_MFGR': 'text',
  'P_BRAND': 'text',
  'P_TYPE': 'text',
  'P_SIZE': 'text',
  'P_CONTAINER': 'text',
  'P_RETAILPRICE': 'text',
  'P_COMMENT': 'text'},
 'REGION': {'R_REGIONKEY': 'integer',
  'R_NAME': 'text',
  'R_COMMENT': 'text'},
 'NATION': {'N_NATIONKEY': 'integer',
  'N_NAME': 'text',
  'N_REGIONKEY': 'integer',
  'N_COMMENT': 'text'},
 'SUPPLIER': {'S_SUPPKEY': 'integer',
  'S_NAME': 'text',
  'S_ADDRESS': 'text',
  'S_NATIONKEY': 'integer',
  'S_PHONE': 'text',
  'S_ACCTBAL': 'text',
  'S_COMMENT': 'text'},
 'CUSTOMER': {'C_CUSTKEY': 'integer',
  'C_NAME': 'text',
  'C_ADDRESS': 'text',
  'C_NATIONKEY': 'integer',
  'C_PHONE': 'text',
  'C_ACCTBAL': 'integer',
  'C_MKTSEGMENT': 'text',
  'C_COMMENT': 'text'},
 'PARTSUPP': {'PS_PARTKEY': 'integer',
  'PS_SUPPKEY': 'integer',
  'PS_AVAILQTY': 'integer',
  'PS_SUPPLYCOST': 'integer',
  'PS_COMMENT': 'text'},
 'ORDERS': {'O_ORDERKEY': 'integer',
  'O_CUSTKEY': 'integer',
  'O_ORDERSTATUS': 'text',
  'O_TOTALPRICE': 'integer',
  'O_ORDERDATE': 'text',
  'O_ORDERPRIORITY': 'text',
  'O_CLERK': 'text',
  'O_SHIPPRIORITY': 'integer',
  'O_COMMENT': 'text'},
 'LINEITEM': {'L_ORDERKEY': 'integer',
  'L_PARTKEY': 'integer',
  'L_SUPPKEY': 'integer',
  'L_LINENUMBER': 'integer',
  'L_QUANTITY': 'integer',
  'L_EXTENDEDPRICE': 'integer',
  'L_DISCOUNT': 'integer',
  'L_TAX': 'integer',
  'L_RETURNFLAG': 'text',
  'L_LINESTATUS': 'text',
  'L_SHIPDATE': 'text',
  'L_COMMITDATE': 'text',
  'L_RECEIPTDATE': 'text',
  'L_SHIPINSTRUCT': 'text',
  'L_SHIPMODE': 'text',
  'L_COMMENT': 'text'}
}

def lowercase_json_keys(data):
    """
    Recursively lowercases all keys in a JSON-like dictionary.
    
    :param data: JSON object (dictionary or list)
    :return: JSON object with all keys in lowercase
    """
    if isinstance(data, dict):
        return {key.lower(): lowercase_json_keys(value) for key, value in data.items()}
    elif isinstance(data, list):
        return [lowercase_json_keys(item) for item in data]
    else:
        return data

schema_dict = lowercase_json_keys(schema_dict)
print(schema_dict)
    
schema = Schema(schema_dict)

{'part': {'p_partkey': 'integer', 'p_name': 'text', 'p_mfgr': 'text', 'p_brand': 'text', 'p_type': 'text', 'p_size': 'text', 'p_container': 'text', 'p_retailprice': 'text', 'p_comment': 'text'}, 'region': {'r_regionkey': 'integer', 'r_name': 'text', 'r_comment': 'text'}, 'nation': {'n_nationkey': 'integer', 'n_name': 'text', 'n_regionkey': 'integer', 'n_comment': 'text'}, 'supplier': {'s_suppkey': 'integer', 's_name': 'text', 's_address': 'text', 's_nationkey': 'integer', 's_phone': 'text', 's_acctbal': 'text', 's_comment': 'text'}, 'customer': {'c_custkey': 'integer', 'c_name': 'text', 'c_address': 'text', 'c_nationkey': 'integer', 'c_phone': 'text', 'c_acctbal': 'integer', 'c_mktsegment': 'text', 'c_comment': 'text'}, 'partsupp': {'ps_partkey': 'integer', 'ps_suppkey': 'integer', 'ps_availqty': 'integer', 'ps_supplycost': 'integer', 'ps_comment': 'text'}, 'orders': {'o_orderkey': 'integer', 'o_custkey': 'integer', 'o_orderstatus': 'text', 'o_totalprice': 'integer', 'o_orderdate': 'text', 'o_orderpriority': 'text', 'o_clerk': 'text', 'o_shippriority': 'integer', 'o_comment': 'text'}, 'lineitem': {'l_orderkey': 'integer', 'l_partkey': 'integer', 'l_suppkey': 'integer', 'l_linenumber': 'integer', 'l_quantity': 'integer', 'l_extendedprice': 'integer', 'l_discount': 'integer', 'l_tax': 'integer', 'l_returnflag': 'text', 'l_linestatus': 'text', 'l_shipdate': 'text', 'l_commitdate': 'text', 'l_receiptdate': 'text', 'l_shipinstruct': 'text', 'l_shipmode': 'text', 'l_comment': 'text'}}

# Measurement of Structural Similarity between Source and Target SQLs

In [7]:
import sqlglot

def compute_score(sql1, sql2):
    print(sql1)
    print(sql2)
    output1 = extract_all(sql1, schema)
    output2 = extract_all(sql2, schema)

    formatted_sql1 = output1['subqueries'][0]
    formatted_sql2 = output2['subqueries'][0]
    tsed, distance = compute_tsed(formatted_sql1, formatted_sql2, build_type='apted')  # apted or zss
    print('[SQL1]\n', formatted_sql1.sql(pretty=True))
    print()
    print('[SQL2]\n', formatted_sql2.sql(pretty=True))
    print()
    print(f'TSED: {tsed:.4f}')
    print(f'Tree Edit Distance: {distance}')

    # partial match
    print('Partial Match Score')
    from src.eval_utils import get_all_partial_score

    results, overall_score = get_all_partial_score(
        output1, output2, 
        build_type='apted', 
        criteria='tsed', 
        penalty=0.01, 
        use_bert=True, 
        rescale_with_baseline=True)
    for k, v in results.items():
        if v[-1]:
            print(f'- {k}: {v[-1]:.4f}')
        else:
            print(f'- {k}: {v[-1]}')
    print('Average score')
    for k, v in overall_score.items():
        print(f'- {k}: {v:.4f}')
    return overall_score['structural'], overall_score['semantic'], overall_score['overall']

### Read pred SQL, gold SQL

In [8]:
import os
import json
question_path = 'data/tpch/questions_new.json'
test_queries = ['q12', 'q13', 'q14', 'q15', 'q16', 'q17', 'q18', 'q19', 'q20', 'q21']

def read_results(result_path):
    with open(question_path, 'r') as f:
        questions = json.load(f)

    for question in questions:
        ref_id = question['ref_id']
        if ref_id not in test_queries:
            continue
        with open(os.path.join(result_path, question['instance_id'])+"_gold.sql", 'r') as f:
            question['gold_sql'] = f.read()
        with open(os.path.join(result_path, question['instance_id'])+"_pred.sql", 'r') as f:
            question['pred_sql'] = f.read()

    NLsamples = []
    for i in range(len(questions)):
        q = questions[i]
        ref_id = q['ref_id']
        if ref_id not in test_queries:
            continue
        NLsamples.append({'instance_id': q['instance_id'],
                          'ref_id': q['ref_id'],
                          'question': q['question'], 
                          'gold_sql': q['gold_sql'],
                          'pred_sql': q['pred_sql'],
                         })        

    return NLsamples

def print_scores(result_path):
    scores = []
    NLsamples = read_results(result_path)
    for sample in NLsamples:
        sql1 = sample['pred_sql']
        sql2 = sample['gold_sql']
        tsed, distance, overall_score = compute_score(sql1, sql2)
        scores.append([tsed, distance, overall_score])
    scores = np.array(scores)
    print(np.mean(scores, axis=0))

### GPT-4o

In [9]:
result_path = 'data/tpch/outputs/gpt-4o_0_all/results/'
print_scores(result_path)

SELECT COUNT(*) AS late_line_items_count FROM LINEITEM WHERE L_RECEIPTDATE > L_COMMITDATE AND strftime('%Y', L_RECEIPTDATE) = '1993';
select
	count(*) as count
from
	orders,
	lineitem
where
	o_orderkey = l_orderkey
	and l_commitdate < l_receiptdate
	and l_receiptdate >= '1993-01-01'
	and l_receiptdate < '1994-01-01';
[SQL1]
 SELECT
  COUNT(*)
FROM lineitem
WHERE
  lineitem.l_receiptdate > lineitem.l_commitdate
  AND STRFTIME('%Y', lineitem.l_receiptdate) = '1993'

[SQL2]
 SELECT
  COUNT(*)
FROM orders, lineitem
WHERE
  orders.o_orderkey = lineitem.l_orderkey
  AND lineitem.l_commitdate < lineitem.l_receiptdate
  AND lineitem.l_receiptdate >= '1993-01-01'
  AND lineitem.l_receiptdate < '1994-01-01'

TSED: 0.2432
Tree Edit Distance: 28
Partial Match Score
- table_asts: 0.4950
- sel_asts: 1.0000
- cond_asts: 0.2956
- agg_asts: None
- orderby_asts: None
- subqueries: None
- distinct: None
- limit: None
Average score
- structural: 0.5800
- semantic: 0.6226
- overall: 0.5969
SELECT T1.C_CUSTKEY, COUNT(T2.O_ORDERKEY) AS order_count FROM CUSTOMER T1 LEFT JOIN ORDERS T2 ON T1.C_CUSTKEY = T2.O_CUSTKEY GROUP BY T1.C_CUSTKEY;
select
	c_count,
	count(*) as custdist
from
	(
		select
			c_custkey,
			count(o_orderkey) as c_count
		from
			customer left outer join orders on
				c_custkey = o_custkey
		group by
			c_custkey
	) as c_orders
group by
	c_count
order by
	custdist desc,
	c_count desc;
[SQL1]
 SELECT
  customer.c_custkey,
  COUNT(orders.o_orderkey)
FROM customer
LEFT JOIN ORDERS AS T2
  ON T1.C_CUSTKEY = T2.O_CUSTKEY
GROUP BY
  customer.c_custkey

[SQL2]
 SELECT
  subquery_c_orders.c_count,
  COUNT(*)
FROM (
  SELECT
    customer.c_custkey,
    COUNT(orders.o_orderkey)
  FROM customer
  LEFT OUTER JOIN orders
    ON c_custkey = o_custkey
  GROUP BY
    c_custkey
) AS c_orders
GROUP BY
  subquery_c_orders.c_count
ORDER BY
  None.custdist,
  subquery_c_orders.c_count

TSED: 0.1628
Tree Edit Distance: 36
Partial Match Score
- table_asts: 0.6633
- sel_asts: 0.4950
- cond_asts: None
- agg_asts: 0.4950
- orderby_asts: 0.0
- subqueries: 0.0
- distinct: None
- limit: None
Average score
- structural: 0.3307
- semantic: 0.3307
- overall: 0.3307
SELECT (SUM(CASE WHEN P.P_TYPE LIKE 'PROMO%' THEN L.L_EXTENDEDPRICE ELSE 0 END) * 100.0 / SUM(L.L_EXTENDEDPRICE)) AS promo_revenue_percentage FROM LINEITEM L JOIN PART P ON L.L_PARTKEY = P.P_PARTKEY WHERE L.L_SHIPDATE BETWEEN '1993-09-01' AND '1993-09-30';
select
	100.00 * sum(case
		when p_type like 'PROMO%'
			then l_extendedprice * (1 - l_discount)
		else 0
	end) / sum(l_extendedprice * (1 - l_discount)) as promo_revenue
from
	lineitem,
	part
where
	l_partkey = p_partkey
	and l_shipdate >= '1993-09-01'
	and l_shipdate < date('1993-09-01', '+1 month');
[SQL1]
 SELECT
  (
    SUM(CASE WHEN part.p_type LIKE 'PROMO%' THEN lineitem.l_extendedprice ELSE 0 END) * 100.0 / SUM(lineitem.l_extendedprice)
  )
FROM lineitem
JOIN PART AS P
  ON L.L_PARTKEY = P.P_PARTKEY
WHERE
  lineitem.l_shipdate BETWEEN '1993-09-01' AND '1993-09-30'

[SQL2]
 SELECT
  100.00 * SUM(
    CASE
      WHEN part.p_type LIKE 'PROMO%'
      THEN lineitem.l_extendedprice * (
        1 - lineitem.l_discount
      )
      ELSE 0
    END
  ) / SUM(lineitem.l_extendedprice * (
    1 - lineitem.l_discount
  ))
FROM lineitem, part
WHERE
  lineitem.l_partkey = part.p_partkey
  AND lineitem.l_shipdate >= '1993-09-01'
  AND lineitem.l_shipdate < DATE('1993-09-01', '+1 month')

TSED: 0.2258
Tree Edit Distance: 48
Partial Match Score
- table_asts: 1.0000
- sel_asts: 0.4251
- cond_asts: 0.2250
- agg_asts: None
- orderby_asts: None
- subqueries: None
- distinct: None
- limit: None
Average score
- structural: 0.5115
- semantic: 0.6436
- overall: 0.5500
SELECT T2.S_NAME, SUM(T1.L_EXTENDEDPRICE) AS total_revenue FROM LINEITEM T1 JOIN SUPPLIER T2 ON T1.L_SUPPKEY = T2.S_SUPPKEY WHERE T1.L_SHIPDATE BETWEEN '1993-03-01' AND '1993-05-31' GROUP BY T2.S_SUPPKEY ORDER BY total_revenue DESC LIMIT 1;

with revenue0 as
	(select
		l_suppkey as supplier_no,
		sum(l_extendedprice * (1 - l_discount)) as total_revenue
	from
		lineitem
	where
		l_shipdate >= '1993-03-01'
		and l_shipdate < date('1993-03-01', '+3 months')
	group by
		l_suppkey)

select
	s_suppkey, s_name
from
	supplier,
	revenue0
where
	s_suppkey = supplier_no
	and total_revenue = (
		select
			max(total_revenue)
		from
			revenue0
	)
order by
	total_revenue desc
limit 1;
[SQL1]
 SELECT
  supplier.s_name,
  SUM(lineitem.l_extendedprice)
FROM lineitem
JOIN SUPPLIER AS T2
  ON T1.L_SUPPKEY = T2.S_SUPPKEY
WHERE
  lineitem.l_shipdate BETWEEN '1993-03-01' AND '1993-05-31'
GROUP BY
  supplier.s_suppkey
ORDER BY
  None.total_revenue
LIMIT 1

[SQL2]
 WITH revenue0 AS (
  SELECT
    l_suppkey AS supplier_no,
    SUM(l_extendedprice * (
      1 - l_discount
    )) AS total_revenue
  FROM lineitem
  WHERE
    l_shipdate >= '1993-03-01' AND l_shipdate < DATE('1993-03-01', '+3 months')
  GROUP BY
    l_suppkey
)
SELECT
  supplier.s_suppkey,
  supplier.s_name
FROM supplier, revenue0
WHERE
  supplier.s_suppkey = None.supplier_no
  AND None.total_revenue = (
    SELECT
      MAX(None.total_revenue)
    FROM revenue0
  )
ORDER BY
  None.total_revenue
LIMIT 1

TSED: 0.0127
Tree Edit Distance: 78
Partial Match Score
- table_asts: 0.4950
- sel_asts: 0.2712
- cond_asts: 0.1663
- agg_asts: 0.0
- orderby_asts: 1.0000
- subqueries: 0.0
- distinct: None
- limit: 1.0000
Average score
- structural: 0.4164
- semantic: 0.5206
- overall: 0.4189
SELECT COUNT(DISTINCT PS_SUPPKEY) AS supplier_count FROM PARTSUPP T1 JOIN PART T2 ON T1.PS_PARTKEY = T2.P_PARTKEY WHERE T2.P_SIZE = 49;
select
	count(distinct ps_suppkey) as supplier_cnt
from
	partsupp,
	part
where
	p_partkey = ps_partkey
	and p_size in (49);
[SQL1]
 SELECT
  COUNT(DISTINCT PS_SUPPKEY)
FROM partsupp
JOIN PART AS T2
  ON T1.PS_PARTKEY = T2.P_PARTKEY
WHERE
  part.p_size = 49

[SQL2]
 SELECT
  COUNT(DISTINCT ps_suppkey)
FROM partsupp, part
WHERE
  part.p_partkey = partsupp.ps_partkey AND part.p_size IN (49)

TSED: 0.1923
Tree Edit Distance: 21
Partial Match Score
- table_asts: 1.0000
- sel_asts: 0.0
- cond_asts: 0.3894
- agg_asts: None
- orderby_asts: None
- subqueries: None
- distinct: 1.0000
- limit: None
Average score
- structural: 0.5988
- semantic: 0.7839
- overall: 0.5974
SELECT strftime('%Y', O_ORDERDATE) AS year, SUM(L.L_EXTENDEDPRICE) AS gross_revenue
FROM PART AS P
JOIN LINEITEM AS L ON P.P_PARTKEY = L.L_PARTKEY
JOIN ORDERS AS O ON L.L_ORDERKEY = O.O_ORDERKEY
WHERE P.P_BRAND = 'Brand#23'
GROUP BY year;
select
	sum(l_extendedprice) / (strftime('%Y', max(o_orderdate))-strftime('%Y', min(o_orderdate))) as avg_yearly
from
	lineitem,
    orders,
	part
where
	p_partkey = l_partkey
    and l_orderkey = o_orderkey
	and p_brand = 'Brand#23';
[SQL1]
 SELECT
  STRFTIME('%Y', orders.o_orderdate),
  SUM(lineitem.l_extendedprice)
FROM part
JOIN LINEITEM AS L
  ON P.P_PARTKEY = L.L_PARTKEY
JOIN ORDERS AS O
  ON L.L_ORDERKEY = O.O_ORDERKEY
WHERE
  part.p_brand = 'Brand#23'
GROUP BY
  None.year

[SQL2]
 SELECT
  SUM(lineitem.l_extendedprice) / (
    STRFTIME('%Y', MAX(orders.o_orderdate)) - STRFTIME('%Y', MIN(orders.o_orderdate))
  )
FROM lineitem, orders, part
WHERE
  part.p_partkey = lineitem.l_partkey
  AND lineitem.l_orderkey = orders.o_orderkey
  AND part.p_brand = 'Brand#23'

TSED: 0.0000
Tree Edit Distance: 53
Partial Match Score
- table_asts: 1.0000
- sel_asts: 0.1331
- cond_asts: 0.3267
- agg_asts: 0.0
- orderby_asts: None
- subqueries: None
- distinct: None
- limit: None
Average score
- structural: 0.3567
- semantic: 0.3812
- overall: 0.3649
SELECT COUNT(DISTINCT T1.C_CUSTKEY) AS large_volume_customers
FROM CUSTOMER T1
JOIN ORDERS T2 ON T1.C_CUSTKEY = T2.O_CUSTKEY
WHERE T2.O_ORDERKEY IN (
    SELECT T3.O_ORDERKEY
    FROM LINEITEM T3
    GROUP BY T3.O_ORDERKEY
    HAVING SUM(T3.L_QUANTITY) > 300
);
select
	count(distinct c_custkey)
from
	customer,
	orders,
	lineitem
where
	o_orderkey in (
		select
			l_orderkey
		from
			lineitem
		group by
			l_orderkey having
				sum(l_quantity) > 300
	)
	and c_custkey = o_custkey
	and o_orderkey = l_orderkey;
[SQL1]
 SELECT
  COUNT(DISTINCT T1.C_CUSTKEY)
FROM customer
JOIN ORDERS AS T2
  ON T1.C_CUSTKEY = T2.O_CUSTKEY
WHERE
  orders.o_orderkey IN (
    SELECT
      lineitem.o_orderkey
    FROM LINEITEM AS T3
    GROUP BY
      T3.O_ORDERKEY
    HAVING
      SUM(T3.L_QUANTITY) > 300
  )

[SQL2]
 SELECT
  COUNT(DISTINCT c_custkey)
FROM customer, orders, lineitem
WHERE
  orders.o_orderkey IN (
    SELECT
      lineitem.l_orderkey
    FROM lineitem
    GROUP BY
      l_orderkey
    HAVING
      SUM(l_quantity) > 300
  )
  AND customer.c_custkey = orders.o_custkey
  AND orders.o_orderkey = lineitem.l_orderkey

TSED: 0.0000
Tree Edit Distance: 55
Partial Match Score

- table_asts: 0.7475
- sel_asts: 0.2751
- cond_asts: 0.3412
- agg_asts: 0.4873
- orderby_asts: None
- subqueries: 0.7812
- distinct: 1.0000
- limit: None
Average score
- structural: 0.5349
- semantic: 0.7981
- overall: 0.6054
SELECT SUM(L.L_EXTENDEDPRICE * (1 - L.L_DISCOUNT)) AS total_discounted_revenue
FROM LINEITEM L
JOIN PART P ON L.L_PARTKEY = P.P_PARTKEY
WHERE L.L_SHIPMODE = 'AIR' AND P.P_BRAND = 'Brand#12';
select
	sum(l_extendedprice* (1 - l_discount)) as revenue
from
	lineitem,
	part
where
	(
		p_partkey = l_partkey
        and p_brand = 'Brand#12'
		and l_shipmode in ('AIR', 'AIR REG')
	);
[SQL1]
 SELECT
  SUM(lineitem.l_extendedprice * (
    1 - lineitem.l_discount
  ))
FROM lineitem
JOIN PART AS P
  ON L.L_PARTKEY = P.P_PARTKEY
WHERE
  lineitem.l_shipmode = 'AIR' AND part.p_brand = 'Brand#12'

[SQL2]
 SELECT
  SUM(lineitem.l_extendedprice * (
    1 - lineitem.l_discount
  ))
FROM lineitem, part
WHERE
  (
    part.p_partkey = lineitem.l_partkey
    AND part.p_brand = 'Brand#12'
    AND lineitem.l_shipmode IN ('AIR', 'AIR REG')
  )

TSED: 0.2500
Tree Edit Distance: 30
Partial Match Score
- table_asts: 1.0000
- sel_asts: 1.0000
- cond_asts: 0.5537
- agg_asts: None
- orderby_asts: None
- subqueries: None
- distinct: None
- limit: None
Average score
- structural: 0.8507
- semantic: 0.8517
- overall: 0.8512
SELECT COUNT(DISTINCT T1.S_SUPPKEY) AS supplier_count
FROM SUPPLIER T1
JOIN NATION T2 ON T1.S_NATIONKEY = T2.N_NATIONKEY
JOIN LINEITEM T3 ON T1.S_SUPPKEY = T3.L_SUPPKEY
JOIN PARTSUPP T4 ON T3.L_PARTKEY = T4.PS_PARTKEY AND T3.L_SUPPKEY = T4.PS_SUPPKEY
WHERE T2.N_NAME = 'CANADA'
  AND strftime('%Y', T3.L_SHIPDATE) = '1993'
  AND (T4.PS_AVAILQTY - T3.L_QUANTITY) > 0.5 * T3.L_QUANTITY;
select
	count(distinct s_name) as count
from
	supplier,
	nation
where
	s_suppkey in (
		select
			ps_suppkey
		from
			partsupp,
			(
				select
					l_partkey agg_partkey,
					l_suppkey agg_suppkey,
					0.5 * sum(l_quantity) AS agg_quantity
				from
					lineitem
				where
					l_shipdate >= '1993-01-01'
					and l_shipdate < '1994-01-01'
				group by
					l_partkey,
					l_suppkey
			) agg_lineitem
		where
			agg_partkey = ps_partkey
			and agg_suppkey = ps_suppkey
			and ps_availqty > agg_quantity
	)
	and s_nationkey = n_nationkey
	and n_name = 'CANADA';
[SQL1]
 SELECT
  COUNT(DISTINCT T1.S_SUPPKEY)
FROM supplier
JOIN NATION AS T2
  ON T1.S_NATIONKEY = T2.N_NATIONKEY
JOIN LINEITEM AS T3
  ON T1.S_SUPPKEY = T3.L_SUPPKEY
JOIN PARTSUPP AS T4
  ON T3.L_PARTKEY = T4.PS_PARTKEY AND T3.L_SUPPKEY = T4.PS_SUPPKEY
WHERE
  nation.n_name = 'CANADA'
  AND STRFTIME('%Y', lineitem.l_shipdate) = '1993'
  AND (
    partsupp.ps_availqty - lineitem.l_quantity
  ) > 0.5 * lineitem.l_quantity

[SQL2]
 SELECT
  COUNT(DISTINCT s_name)
FROM supplier, nation
WHERE
  supplier.s_suppkey IN (
    SELECT
      partsupp.ps_suppkey
    FROM partsupp, (
      SELECT
        l_partkey AS agg_partkey,
        l_suppkey AS agg_suppkey,
        0.5 * SUM(l_quantity) AS agg_quantity
      FROM lineitem
      WHERE
        l_shipdate >= '1993-01-01' AND l_shipdate < '1994-01-01'
      GROUP BY
        l_partkey,
        l_suppkey
    ) AS agg_lineitem
    WHERE
      agg_partkey = ps_partkey
      AND agg_suppkey = ps_suppkey
      AND ps_availqty > agg_quantity
  )
  AND supplier.s_nationkey = nation.n_nationkey
  AND nation.n_name = 'CANADA'

TSED: 0.0000
Tree Edit Distance: 110
Partial Match Score
- table_asts: 0.7980
- sel_asts: -0.0173
- cond_asts: 0.2304
- agg_asts: 0.0
- orderby_asts: None
- subqueries: 0.0
- distinct: 1.0000
- limit: None
Average score
- structural: 0.3345
- semantic: 0.3580
- overall: 0.3352
SELECT T2.S_NAME, COUNT(*) AS late_delivery_count
FROM SUPPLIER T2
JOIN NATION T1 ON T2.S_NATIONKEY = T1.N_NATIONKEY
JOIN LINEITEM T3 ON T2.S_SUPPKEY = T3.L_SUPPKEY
WHERE T1.N_NAME = 'GERMANY' AND T3.L_RECEIPTDATE > T3.L_COMMITDATE
GROUP BY T2.S_NAME
ORDER BY late_delivery_count DESC
LIMIT 100;
select
	s_name,
	count(*) as numwait
from
	supplier,
	lineitem l1,
	orders,
	nation
where
	s_suppkey = l1.l_suppkey
	and o_orderkey = l1.l_orderkey
	and l1.l_receiptdate > l1.l_commitdate
	and s_nationkey = n_nationkey
	and n_name = 'GERMANY'
group by
	s_name
order by
    numwait desc
limit 100;
[SQL1]
 SELECT
  supplier.s_name,
  COUNT(*)
FROM supplier
JOIN NATION AS T1
  ON T2.S_NATIONKEY = T1.N_NATIONKEY
JOIN LINEITEM AS T3
  ON T2.S_SUPPKEY = T3.L_SUPPKEY
WHERE
  nation.n_name = 'GERMANY' AND lineitem.l_receiptdate > lineitem.l_commitdate
GROUP BY
  supplier.s_name
ORDER BY
  None.late_delivery_count
LIMIT 100

[SQL2]
 SELECT
  supplier.s_name,
  COUNT(*)
FROM supplier, lineitem AS l1, orders, nation
WHERE
  supplier.s_suppkey = lineitem.l_suppkey
  AND orders.o_orderkey = lineitem.l_orderkey
  AND lineitem.l_receiptdate > lineitem.l_commitdate
  AND supplier.s_nationkey = nation.n_nationkey
  AND nation.n_name = 'GERMANY'
GROUP BY
  supplier.s_name
ORDER BY
  None.numwait
LIMIT 100

TSED: 0.1912
Tree Edit Distance: 55
Partial Match Score
- table_asts: 0.7475
- sel_asts: 1.0000
- cond_asts: 0.3940
- agg_asts: 1.0000
- orderby_asts: 0.3113
- subqueries: None
- distinct: None
- limit: 1.0000
Average score
- structural: 0.7458
- semantic: 0.7389
- overall: 0.7421
[0.526   0.60293 0.53927]

In [10]:
result_path = 'data/tpch/outputs/gpt-4o_2_all/results/'
print_scores(result_path)

SELECT COUNT(*) AS late_line_items_count
FROM LINEITEM
WHERE L_RECEIPTDATE > L_COMMITDATE
  AND strftime('%Y', L_RECEIPTDATE) = '1993';
select
	count(*) as count
from
	orders,
	lineitem
where
	o_orderkey = l_orderkey
	and l_commitdate < l_receiptdate
	and l_receiptdate >= '1993-01-01'
	and l_receiptdate < '1994-01-01';
[SQL1]
 SELECT
  COUNT(*)
FROM lineitem
WHERE
  lineitem.l_receiptdate > lineitem.l_commitdate
  AND STRFTIME('%Y', lineitem.l_receiptdate) = '1993'

[SQL2]
 SELECT
  COUNT(*)
FROM orders, lineitem
WHERE
  orders.o_orderkey = lineitem.l_orderkey
  AND lineitem.l_commitdate < lineitem.l_receiptdate
  AND lineitem.l_receiptdate >= '1993-01-01'
  AND lineitem.l_receiptdate < '1994-01-01'

TSED: 0.2432
Tree Edit Distance: 28
Partial Match Score
- table_asts: 0.4950
- sel_asts: 1.0000
- cond_asts: 0.2956
- agg_asts: None
- orderby_asts: None
- subqueries: None
- distinct: None
- limit: None
Average score
- structural: 0.5800
- semantic: 0.6226
- overall: 0.5969
SELECT T1.C_CUSTKEY, COUNT(T2.O_ORDERKEY) AS order_count
FROM CUSTOMER T1
LEFT JOIN ORDERS T2 ON T1.C_CUSTKEY = T2.O_CUSTKEY
GROUP BY T1.C_CUSTKEY;
select
	c_count,
	count(*) as custdist
from
	(
		select
			c_custkey,
			count(o_orderkey) as c_count
		from
			customer left outer join orders on
				c_custkey = o_custkey
		group by
			c_custkey
	) as c_orders
group by
	c_count
order by
	custdist desc,
	c_count desc;
[SQL1]
 SELECT
  customer.c_custkey,
  COUNT(orders.o_orderkey)
FROM customer
LEFT JOIN ORDERS AS T2
  ON T1.C_CUSTKEY = T2.O_CUSTKEY
GROUP BY
  customer.c_custkey

[SQL2]
 SELECT
  subquery_c_orders.c_count,
  COUNT(*)
FROM (
  SELECT
    customer.c_custkey,
    COUNT(orders.o_orderkey)
  FROM customer
  LEFT OUTER JOIN orders
    ON c_custkey = o_custkey
  GROUP BY
    c_custkey
) AS c_orders
GROUP BY
  subquery_c_orders.c_count
ORDER BY
  None.custdist,
  subquery_c_orders.c_count

TSED: 0.1628
Tree Edit Distance: 36
Partial Match Score
- table_asts: 0.6633
- sel_asts: 0.4950
- cond_asts: None
- agg_asts: 0.4950
- orderby_asts: 0.0
- subqueries: 0.0
- distinct: None
- limit: None
Average score
- structural: 0.3307
- semantic: 0.3307
- overall: 0.3307
SELECT (promo_revenue / total_revenue) * 100 AS promo_percentage
FROM (
    SELECT SUM(L_EXTENDEDPRICE * (1 - L_DISCOUNT)) AS total_revenue
    FROM LINEITEM
    JOIN ORDERS ON LINEITEM.L_ORDERKEY = ORDERS.O_ORDERKEY
    WHERE ORDERS.O_ORDERDATE >= '1993-09-01' AND ORDERS.O_ORDERDATE < '1993-10-01'
) AS total,
(
    SELECT SUM(L_EXTENDEDPRICE * (1 - L_DISCOUNT)) AS promo_revenue
    FROM LINEITEM
    JOIN PART ON LINEITEM.L_PARTKEY = PART.P_PARTKEY
    JOIN ORDERS ON LINEITEM.L_ORDERKEY = ORDERS.O_ORDERKEY
    WHERE PART.P_TYPE LIKE '%PROMO%'
    AND ORDERS.O_ORDERDATE >= '1993-09-01' AND ORDERS.O_ORDERDATE < '1993-10-01'
) AS promo;
select
	100.00 * sum(case
		when p_type like 'PROMO%'
			then l_extendedprice * (1 - l_discount)
		else 0
	end) / sum(l_extendedprice * (1 - l_discount)) as promo_revenue
from
	lineitem,
	part
where
	l_partkey = p_partkey
	and l_shipdate >= '1993-09-01'
	and l_shipdate < date('1993-09-01', '+1 month');
[SQL1]
 SELECT
  (
    subquery_promo.promo_revenue / subquery_total.total_revenue
  ) * 100
FROM (
  SELECT
    SUM(lineitem.l_extendedprice * (
      1 - lineitem.l_discount
    ))
  FROM LINEITEM
  JOIN ORDERS
    ON LINEITEM.L_ORDERKEY = ORDERS.O_ORDERKEY
  WHERE
    ORDERS.O_ORDERDATE >= '1993-09-01' AND ORDERS.O_ORDERDATE < '1993-10-01'
) AS total, (
  SELECT
    SUM(L_EXTENDEDPRICE * (
      1 - L_DISCOUNT
    )) AS promo_revenue
  FROM LINEITEM
  JOIN PART
    ON LINEITEM.L_PARTKEY = PART.P_PARTKEY
  JOIN ORDERS
    ON LINEITEM.L_ORDERKEY = ORDERS.O_ORDERKEY
  WHERE
    PART.P_TYPE LIKE '%PROMO%'
    AND ORDERS.O_ORDERDATE >= '1993-09-01'
    AND ORDERS.O_ORDERDATE < '1993-10-01'
) AS promo

[SQL2]
 SELECT
  100.00 * SUM(
    CASE
      WHEN part.p_type LIKE 'PROMO%'
      THEN lineitem.l_extendedprice * (
        1 - lineitem.l_discount
      )
      ELSE 0
    END
  ) / SUM(lineitem.l_extendedprice * (
    1 - lineitem.l_discount
  ))
FROM lineitem, part
WHERE
  lineitem.l_partkey = part.p_partkey
  AND lineitem.l_shipdate >= '1993-09-01'
  AND lineitem.l_shipdate < DATE('1993-09-01', '+1 month')

TSED: 0.0000
Tree Edit Distance: 109
Partial Match Score
- table_asts: 0.3940
- sel_asts: 0.1873
- cond_asts: 0.1887
- agg_asts: None
- orderby_asts: None
- subqueries: 0.0
- distinct: None
- limit: None
Average score
- structural: 0.1675
- semantic: 0.2893
- overall: 0.1925
SELECT T2.S_SUPPKEY, SUM(T1.L_EXTENDEDPRICE * (1 - T1.L_DISCOUNT)) AS total_revenue
FROM LINEITEM T1
JOIN SUPPLIER T2 ON T1.L_SUPPKEY = T2.S_SUPPKEY
JOIN PARTSUPP T3 ON T1.L_PARTKEY = T3.PS_PARTKEY AND T1.L_SUPPKEY = T3.PS_SUPPKEY
WHERE T1.L_SHIPDATE BETWEEN '1993-03-01' AND '1993-05-31'
GROUP BY T2.S_SUPPKEY
ORDER BY total_revenue DESC
LIMIT 1;

with revenue0 as
	(select
		l_suppkey as supplier_no,
		sum(l_extendedprice * (1 - l_discount)) as total_revenue
	from
		lineitem
	where
		l_shipdate >= '1993-03-01'
		and l_shipdate < date('1993-03-01', '+3 months')
	group by
		l_suppkey)

select
	s_suppkey, s_name
from
	supplier,
	revenue0
where
	s_suppkey = supplier_no
	and total_revenue = (
		select
			max(total_revenue)
		from
			revenue0
	)
order by
	total_revenue desc
limit 1;
[SQL1]
 SELECT
  supplier.s_suppkey,
  SUM(lineitem.l_extendedprice * (
    1 - lineitem.l_discount
  ))
FROM lineitem
JOIN SUPPLIER AS T2
  ON T1.L_SUPPKEY = T2.S_SUPPKEY
JOIN PARTSUPP AS T3
  ON T1.L_PARTKEY = T3.PS_PARTKEY AND T1.L_SUPPKEY = T3.PS_SUPPKEY
WHERE
  lineitem.l_shipdate BETWEEN '1993-03-01' AND '1993-05-31'
GROUP BY
  supplier.s_suppkey
ORDER BY
  None.total_revenue
LIMIT 1

[SQL2]
 WITH revenue0 AS (
  SELECT
    l_suppkey AS supplier_no,
    SUM(l_extendedprice * (
      1 - l_discount
    )) AS total_revenue
  FROM lineitem
  WHERE
    l_shipdate >= '1993-03-01' AND l_shipdate < DATE('1993-03-01', '+3 months')
  GROUP BY
    l_suppkey
)
SELECT
  supplier.s_suppkey,
  supplier.s_name
FROM supplier, revenue0
WHERE
  supplier.s_suppkey = None.supplier_no
  AND None.total_revenue = (
    SELECT
      MAX(None.total_revenue)
    FROM revenue0
  )
ORDER BY
  None.total_revenue
LIMIT 1

TSED: 0.0000
Tree Edit Distance: 89
Partial Match Score
- table_asts: 0.5133
- sel_asts: 0.3940
- cond_asts: 0.1663
- agg_asts: 0.0
- orderby_asts: 1.0000
- subqueries: 0.0
- distinct: None
- limit: 1.0000
Average score
- structural: 0.4375
- semantic: 0.5393
- overall: 0.4391
SELECT COUNT(DISTINCT S_SUPPKEY) AS supplier_count
FROM PART AS T1
JOIN PARTSUPP AS T2 ON T1.P_PARTKEY = T2.PS_PARTKEY
JOIN SUPPLIER AS T3 ON T2.PS_SUPPKEY = T3.S_SUPPKEY
WHERE T1.P_SIZE = 49;
select
	count(distinct ps_suppkey) as supplier_cnt
from
	partsupp,
	part
where
	p_partkey = ps_partkey
	and p_size in (49);
[SQL1]
 SELECT
  COUNT(DISTINCT S_SUPPKEY)
FROM part
JOIN PARTSUPP AS T2
  ON T1.P_PARTKEY = T2.PS_PARTKEY
JOIN SUPPLIER AS T3
  ON T2.PS_SUPPKEY = T3.S_SUPPKEY
WHERE
  part.p_size = 49

[SQL2]
 SELECT
  COUNT(DISTINCT ps_suppkey)
FROM partsupp, part
WHERE
  part.p_partkey = partsupp.ps_partkey AND part.p_size IN (49)

TSED: 0.0526
Tree Edit Distance: 36
Partial Match Score
- table_asts: 0.6633
- sel_asts: 0.0
- cond_asts: 0.3894
- agg_asts: None
- orderby_asts: None
- subqueries: None
- distinct: 1.0000
- limit: None
Average score
- structural: 0.5146
- semantic: 0.6811
- overall: 0.5132
SELECT strftime('%Y', L_SHIPDATE) AS year, SUM(L_EXTENDEDPRICE) AS total_revenue FROM LINEITEM AS T1 JOIN PART AS T2 ON T1.L_PARTKEY = T2.P_PARTKEY WHERE T2.P_BRAND = 'Brand#23' GROUP BY year;
select
	sum(l_extendedprice) / (strftime('%Y', max(o_orderdate))-strftime('%Y', min(o_orderdate))) as avg_yearly
from
	lineitem,
    orders,
	part
where
	p_partkey = l_partkey
    and l_orderkey = o_orderkey
	and p_brand = 'Brand#23';
[SQL1]
 SELECT
  STRFTIME('%Y', lineitem.l_shipdate),
  SUM(lineitem.l_extendedprice)
FROM lineitem
JOIN PART AS T2
  ON T1.L_PARTKEY = T2.P_PARTKEY
WHERE
  part.p_brand = 'Brand#23'
GROUP BY
  None.year

[SQL2]
 SELECT
  SUM(lineitem.l_extendedprice) / (
    STRFTIME('%Y', MAX(orders.o_orderdate)) - STRFTIME('%Y', MIN(orders.o_orderdate))
  )
FROM lineitem, orders, part
WHERE
  part.p_partkey = lineitem.l_partkey
  AND lineitem.l_orderkey = orders.o_orderkey
  AND part.p_brand = 'Brand#23'

TSED: 0.0784
Tree Edit Distance: 47
Partial Match Score

- table_asts: 0.6633
- sel_asts: 0.1331
- cond_asts: 0.3267
- agg_asts: 0.0
- orderby_asts: None
- subqueries: None
- distinct: None
- limit: None
Average score
- structural: 0.2726
- semantic: 0.2970
- overall: 0.2808
SELECT COUNT(DISTINCT C.C_CUSTKEY) AS large_volume_customers_count
FROM CUSTOMER C
JOIN ORDERS O ON C.C_CUSTKEY = O.O_CUSTKEY
JOIN LINEITEM L ON O.O_ORDERKEY = L.L_ORDERKEY
GROUP BY C.C_CUSTKEY
HAVING SUM(L.L_QUANTITY) > 300;
select
	count(distinct c_custkey)
from
	customer,
	orders,
	lineitem
where
	o_orderkey in (
		select
			l_orderkey
		from
			lineitem
		group by
			l_orderkey having
				sum(l_quantity) > 300
	)
	and c_custkey = o_custkey
	and o_orderkey = l_orderkey;
[SQL1]
 SELECT
  COUNT(DISTINCT C.C_CUSTKEY)
FROM customer
JOIN ORDERS AS O
  ON C.C_CUSTKEY = O.O_CUSTKEY
JOIN LINEITEM AS L
  ON O.O_ORDERKEY = L.L_ORDERKEY
GROUP BY
  customer.c_custkey
HAVING
  SUM(lineitem.l_quantity) > 300

[SQL2]
 SELECT
  COUNT(DISTINCT c_custkey)
FROM customer, orders, lineitem
WHERE
  orders.o_orderkey IN (
    SELECT
      lineitem.l_orderkey
    FROM lineitem
    GROUP BY
      l_orderkey
    HAVING
      SUM(l_quantity) > 300
  )
  AND customer.c_custkey = orders.o_custkey
  AND orders.o_orderkey = lineitem.l_orderkey

TSED: 0.0000
Tree Edit Distance: 56
Partial Match Score
- table_asts: 0.7475
- sel_asts: -0.0101
- cond_asts: 0.2425
- agg_asts: 0.0
- orderby_asts: None
- subqueries: 0.0
- distinct: 1.0000
- limit: None
Average score
- structural: 0.3308
- semantic: 0.4594
- overall: 0.3300
SELECT SUM(L_EXTENDEDPRICE * (1 - L_DISCOUNT)) AS total_discounted_revenue FROM LINEITEM AS T1 JOIN PART AS T2 ON T1.L_PARTKEY = T2.P_PARTKEY WHERE T1.L_SHIPMODE = 'AIR' AND T2.P_BRAND = 'Brand#12';
select
	sum(l_extendedprice* (1 - l_discount)) as revenue
from
	lineitem,
	part
where
	(
		p_partkey = l_partkey
        and p_brand = 'Brand#12'
		and l_shipmode in ('AIR', 'AIR REG')
	);
[SQL1]
 SELECT
  SUM(lineitem.l_extendedprice * (
    1 - lineitem.l_discount
  ))
FROM lineitem
JOIN PART AS T2
  ON T1.L_PARTKEY = T2.P_PARTKEY
WHERE
  lineitem.l_shipmode = 'AIR' AND part.p_brand = 'Brand#12'

[SQL2]
 SELECT
  SUM(lineitem.l_extendedprice * (
    1 - lineitem.l_discount
  ))
FROM lineitem, part
WHERE
  (
    part.p_partkey = lineitem.l_partkey
    AND part.p_brand = 'Brand#12'
    AND lineitem.l_shipmode IN ('AIR', 'AIR REG')
  )

TSED: 0.2500
Tree Edit Distance: 30
Partial Match Score
- table_asts: 1.0000
- sel_asts: 1.0000
- cond_asts: 0.5537
- agg_asts: None
- orderby_asts: None
- subqueries: None
- distinct: None
- limit: None
Average score
- structural: 0.8507
- semantic: 0.8517
- overall: 0.8512
SELECT COUNT(DISTINCT T1.S_SUPPKEY) AS num_suppliers
FROM SUPPLIER T1
JOIN NATION T2 ON T1.S_NATIONKEY = T2.N_NATIONKEY
JOIN LINEITEM T3 ON T1.S_SUPPKEY = T3.L_SUPPKEY
JOIN PARTSUPP T4 ON T3.L_PARTKEY = T4.PS_PARTKEY AND T3.L_SUPPKEY = T4.PS_SUPPKEY
WHERE T2.N_NAME = 'CANADA'
  AND strftime('%Y', T3.L_SHIPDATE) = '1993'
  AND (SELECT SUM(L_QUANTITY) FROM LINEITEM WHERE L_SUPPKEY = T1.S_SUPPKEY AND L_PARTKEY = T4.PS_PARTKEY AND strftime('%Y', L_SHIPDATE) = '1993') * 0.5 < T4.PS_AVAILQTY;
select
	count(distinct s_name) as count
from
	supplier,
	nation
where
	s_suppkey in (
		select
			ps_suppkey
		from
			partsupp,
			(
				select
					l_partkey agg_partkey,
					l_suppkey agg_suppkey,
					0.5 * sum(l_quantity) AS agg_quantity
				from
					lineitem
				where
					l_shipdate >= '1993-01-01'
					and l_shipdate < '1994-01-01'
				group by
					l_partkey,
					l_suppkey
			) agg_lineitem
		where
			agg_partkey = ps_partkey
			and agg_suppkey = ps_suppkey
			and ps_availqty > agg_quantity
	)
	and s_nationkey = n_nationkey
	and n_name = 'CANADA';
[SQL1]
 SELECT
  COUNT(DISTINCT T1.S_SUPPKEY)
FROM supplier
JOIN NATION AS T2
  ON T1.S_NATIONKEY = T2.N_NATIONKEY
JOIN LINEITEM AS T3
  ON T1.S_SUPPKEY = T3.L_SUPPKEY
JOIN PARTSUPP AS T4
  ON T3.L_PARTKEY = T4.PS_PARTKEY AND T3.L_SUPPKEY = T4.PS_SUPPKEY
WHERE
  nation.n_name = 'CANADA'
  AND STRFTIME('%Y', lineitem.l_shipdate) = '1993'
  AND (
    SELECT
      SUM(lineitem.l_quantity)
    FROM LINEITEM
    WHERE
      L_SUPPKEY = T1.S_SUPPKEY
      AND L_PARTKEY = T4.PS_PARTKEY
      AND STRFTIME('%Y', L_SHIPDATE) = '1993'
  ) * 0.5 < partsupp.ps_availqty

[SQL2]
 SELECT
  COUNT(DISTINCT s_name)
FROM supplier, nation
WHERE
  supplier.s_suppkey IN (
    SELECT
      partsupp.ps_suppkey
    FROM partsupp, (
      SELECT
        l_partkey AS agg_partkey,
        l_suppkey AS agg_suppkey,
        0.5 * SUM(l_quantity) AS agg_quantity
      FROM lineitem
      WHERE
        l_shipdate >= '1993-01-01' AND l_shipdate < '1994-01-01'
      GROUP BY
        l_partkey,
        l_suppkey
    ) AS agg_lineitem
    WHERE
      agg_partkey = ps_partkey
      AND agg_suppkey = ps_suppkey
      AND ps_availqty > agg_quantity
  )
  AND supplier.s_nationkey = nation.n_nationkey
  AND nation.n_name = 'CANADA'

TSED: 0.0000
Tree Edit Distance: 124
Partial Match Score
- table_asts: 0.7636
- sel_asts: 0.1583
- cond_asts: 0.3134
- agg_asts: 0.0
- orderby_asts: None
- subqueries: 0.0226
- distinct: 1.0000
- limit: None
Average score
- structural: 0.3698
- semantic: 0.4063
- overall: 0.3763
SELECT S.S_NAME, COUNT(*) AS late_delivery_count
FROM SUPPLIER S
JOIN NATION N ON S.S_NATIONKEY = N.N_NATIONKEY
JOIN LINEITEM L ON S.S_SUPPKEY = L.L_SUPPKEY
WHERE N.N_NAME = 'GERMANY' AND L.L_COMMITDATE < L.L_RECEIPTDATE
GROUP BY S.S_NAME
ORDER BY late_delivery_count DESC
LIMIT 100;
select
	s_name,
	count(*) as numwait
from
	supplier,
	lineitem l1,
	orders,
	nation
where
	s_suppkey = l1.l_suppkey
	and o_orderkey = l1.l_orderkey
	and l1.l_receiptdate > l1.l_commitdate
	and s_nationkey = n_nationkey
	and n_name = 'GERMANY'
group by
	s_name
order by
    numwait desc
limit 100;
[SQL1]
 SELECT
  supplier.s_name,
  COUNT(*)
FROM supplier
JOIN NATION AS N
  ON S.S_NATIONKEY = N.N_NATIONKEY
JOIN LINEITEM AS L
  ON S.S_SUPPKEY = L.L_SUPPKEY
WHERE
  nation.n_name = 'GERMANY' AND lineitem.l_commitdate < lineitem.l_receiptdate
GROUP BY
  supplier.s_name
ORDER BY
  None.late_delivery_count
LIMIT 100

[SQL2]
 SELECT
  supplier.s_name,
  COUNT(*)
FROM supplier, lineitem AS l1, orders, nation
WHERE
  supplier.s_suppkey = lineitem.l_suppkey
  AND orders.o_orderkey = lineitem.l_orderkey
  AND lineitem.l_receiptdate > lineitem.l_commitdate
  AND supplier.s_nationkey = nation.n_nationkey
  AND nation.n_name = 'GERMANY'
GROUP BY
  supplier.s_name
ORDER BY
  None.numwait
LIMIT 100

TSED: 0.1471
Tree Edit Distance: 58
Partial Match Score
- table_asts: 0.7475
- sel_asts: 1.0000
- cond_asts: 0.3009
- agg_asts: 1.0000
- orderby_asts: 0.3113
- subqueries: None
- distinct: None
- limit: 1.0000
Average score
- structural: 0.7220
- semantic: 0.7358
- overall: 0.7266
[0.45762 0.52132 0.46373]

In [11]:
result_path = 'data/tpch/outputs/gpt-4o_3_all/results/'
print_scores(result_path)

SELECT COUNT(*) AS late_line_items_count
FROM LINEITEM
WHERE L_RECEIPTDATE > L_COMMITDATE
  AND L_RECEIPTDATE BETWEEN '1993-01-01' AND '1993-12-31';
select
	count(*) as count
from
	orders,
	lineitem
where
	o_orderkey = l_orderkey
	and l_commitdate < l_receiptdate
	and l_receiptdate >= '1993-01-01'
	and l_receiptdate < '1994-01-01';
[SQL1]
 SELECT
  COUNT(*)
FROM lineitem
WHERE
  lineitem.l_receiptdate > lineitem.l_commitdate
  AND lineitem.l_receiptdate BETWEEN '1993-01-01' AND '1993-12-31'

[SQL2]
 SELECT
  COUNT(*)
FROM orders, lineitem
WHERE
  orders.o_orderkey = lineitem.l_orderkey
  AND lineitem.l_commitdate < lineitem.l_receiptdate
  AND lineitem.l_receiptdate >= '1993-01-01'
  AND lineitem.l_receiptdate < '1994-01-01'

TSED: 0.2973
Tree Edit Distance: 26
Partial Match Score
- table_asts: 0.4950
- sel_asts: 1.0000
- cond_asts: 0.3204
- agg_asts: None
- orderby_asts: None
- subqueries: None
- distinct: None
- limit: None
Average score
- structural: 0.5879
- semantic: 0.6305
- overall: 0.6051
SELECT T1.C_CUSTKEY, COUNT(T2.O_ORDERKEY) AS order_count FROM CUSTOMER T1 LEFT JOIN ORDERS T2 ON T1.C_CUSTKEY = T2.O_CUSTKEY GROUP BY T1.C_CUSTKEY;
select
	c_count,
	count(*) as custdist
from
	(
		select
			c_custkey,
			count(o_orderkey) as c_count
		from
			customer left outer join orders on
				c_custkey = o_custkey
		group by
			c_custkey
	) as c_orders
group by
	c_count
order by
	custdist desc,
	c_count desc;
[SQL1]
 SELECT
  customer.c_custkey,
  COUNT(orders.o_orderkey)
FROM customer
LEFT JOIN ORDERS AS T2
  ON T1.C_CUSTKEY = T2.O_CUSTKEY
GROUP BY
  customer.c_custkey

[SQL2]
 SELECT
  subquery_c_orders.c_count,
  COUNT(*)
FROM (
  SELECT
    customer.c_custkey,
    COUNT(orders.o_orderkey)
  FROM customer
  LEFT OUTER JOIN orders
    ON c_custkey = o_custkey
  GROUP BY
    c_custkey
) AS c_orders
GROUP BY
  subquery_c_orders.c_count
ORDER BY
  None.custdist,
  subquery_c_orders.c_count

TSED: 0.1628
Tree Edit Distance: 36
Partial Match Score
- table_asts: 0.6633
- sel_asts: 0.4950
- cond_asts: None
- agg_asts: 0.4950
- orderby_asts: 0.0
- subqueries: 0.0
- distinct: None
- limit: None
Average score
- structural: 0.3307
- semantic: 0.3307
- overall: 0.3307
SELECT (SUM(CASE WHEN P.P_TYPE LIKE '%PROMO%' THEN L.L_EXTENDEDPRICE * (1 - L.L_DISCOUNT) ELSE 0 END) * 100.0 / SUM(L.L_EXTENDEDPRICE * (1 - L.L_DISCOUNT))) AS promo_revenue_percentage
FROM LINEITEM L
JOIN PART P ON L.L_PARTKEY = P.P_PARTKEY
WHERE L.L_SHIPDATE >= '1993-09-01' AND L.L_SHIPDATE < '1993-10-01';
select
	100.00 * sum(case
		when p_type like 'PROMO%'
			then l_extendedprice * (1 - l_discount)
		else 0
	end) / sum(l_extendedprice * (1 - l_discount)) as promo_revenue
from
	lineitem,
	part
where
	l_partkey = p_partkey
	and l_shipdate >= '1993-09-01'
	and l_shipdate < date('1993-09-01', '+1 month');
[SQL1]
 SELECT
  (
    SUM(
      CASE
        WHEN part.p_type LIKE '%PROMO%'
        THEN lineitem.l_extendedprice * (
          1 - lineitem.l_discount
        )
        ELSE 0
      END
    ) * 100.0 / SUM(lineitem.l_extendedprice * (
      1 - lineitem.l_discount
    ))
  )
FROM lineitem
JOIN PART AS P
  ON L.L_PARTKEY = P.P_PARTKEY
WHERE
  lineitem.l_shipdate >= '1993-09-01' AND lineitem.l_shipdate < '1993-10-01'

[SQL2]
 SELECT
  100.00 * SUM(
    CASE
      WHEN part.p_type LIKE 'PROMO%'
      THEN lineitem.l_extendedprice * (
        1 - lineitem.l_discount
      )
      ELSE 0
    END
  ) / SUM(lineitem.l_extendedprice * (
    1 - lineitem.l_discount
  ))
FROM lineitem, part
WHERE
  lineitem.l_partkey = part.p_partkey
  AND lineitem.l_shipdate >= '1993-09-01'
  AND lineitem.l_shipdate < DATE('1993-09-01', '+1 month')

TSED: 0.4839
Tree Edit Distance: 32
Partial Match Score
- table_asts: 1.0000
- sel_asts: 0.8578
- cond_asts: 0.5371
- agg_asts: None
- orderby_asts: None
- subqueries: None
- distinct: None
- limit: None
Average score
- structural: 0.7911
- semantic: 0.8059
- overall: 0.7983
SELECT T2.S_SUPPKEY, SUM(T1.L_EXTENDEDPRICE * (1 - T1.L_DISCOUNT)) AS total_revenue
FROM LINEITEM T1
JOIN SUPPLIER T2 ON T1.L_SUPPKEY = T2.S_SUPPKEY
WHERE T1.L_SHIPDATE >= '1993-03-01' AND T1.L_SHIPDATE < '1993-06-01'
GROUP BY T2.S_SUPPKEY
ORDER BY total_revenue DESC
LIMIT 1;

with revenue0 as
	(select
		l_suppkey as supplier_no,
		sum(l_extendedprice * (1 - l_discount)) as total_revenue
	from
		lineitem
	where
		l_shipdate >= '1993-03-01'
		and l_shipdate < date('1993-03-01', '+3 months')
	group by
		l_suppkey)

select
	s_suppkey, s_name
from
	supplier,
	revenue0
where
	s_suppkey = supplier_no
	and total_revenue = (
		select
			max(total_revenue)
		from
			revenue0
	)
order by
	total_revenue desc
limit 1;
[SQL1]
 SELECT
  supplier.s_suppkey,
  SUM(lineitem.l_extendedprice * (
    1 - lineitem.l_discount
  ))
FROM lineitem
JOIN SUPPLIER AS T2
  ON T1.L_SUPPKEY = T2.S_SUPPKEY
WHERE
  lineitem.l_shipdate >= '1993-03-01' AND lineitem.l_shipdate < '1993-06-01'
GROUP BY
  supplier.s_suppkey
ORDER BY
  None.total_revenue
LIMIT 1

[SQL2]
 WITH revenue0 AS (
  SELECT
    l_suppkey AS supplier_no,
    SUM(l_extendedprice * (
      1 - l_discount
    )) AS total_revenue
  FROM lineitem
  WHERE
    l_shipdate >= '1993-03-01' AND l_shipdate < DATE('1993-03-01', '+3 months')
  GROUP BY
    l_suppkey
)
SELECT
  supplier.s_suppkey,
  supplier.s_name
FROM supplier, revenue0
WHERE
  supplier.s_suppkey = None.supplier_no
  AND None.total_revenue = (
    SELECT
      MAX(None.total_revenue)
    FROM revenue0
  )
ORDER BY
  None.total_revenue
LIMIT 1

TSED: 0.0000
Tree Edit Distance: 83
Partial Match Score
- table_asts: 0.4950
- sel_asts: 0.3940
- cond_asts: 0.4003
- agg_asts: 0.0
- orderby_asts: 1.0000
- subqueries: 0.0
- distinct: None
- limit: 1.0000
Average score
- structural: 0.4681
- semantic: 0.5703
- overall: 0.4699
SELECT COUNT(DISTINCT S_SUPPKEY) AS supplier_count
FROM PART T1
JOIN PARTSUPP T2 ON T1.P_PARTKEY = T2.PS_PARTKEY
JOIN SUPPLIER T3 ON T2.PS_SUPPKEY = T3.S_SUPPKEY
WHERE T1.P_SIZE = 49;
select
	count(distinct ps_suppkey) as supplier_cnt
from
	partsupp,
	part
where
	p_partkey = ps_partkey
	and p_size in (49);
[SQL1]
 SELECT
  COUNT(DISTINCT S_SUPPKEY)
FROM part
JOIN PARTSUPP AS T2
  ON T1.P_PARTKEY = T2.PS_PARTKEY
JOIN SUPPLIER AS T3
  ON T2.PS_SUPPKEY = T3.S_SUPPKEY
WHERE
  part.p_size = 49

[SQL2]
 SELECT
  COUNT(DISTINCT ps_suppkey)
FROM partsupp, part
WHERE
  part.p_partkey = partsupp.ps_partkey AND part.p_size IN (49)

TSED: 0.0526
Tree Edit Distance: 36
Partial Match Score
- table_asts: 0.6633
- sel_asts: 0.0
- cond_asts: 0.3894
- agg_asts: None
- orderby_asts: None
- subqueries: None
- distinct: 1.0000
- limit: None
Average score
- structural: 0.5146
- semantic: 0.6811
- overall: 0.5132
SELECT strftime('%Y', L.L_SHIPDATE) AS year, SUM(L.L_EXTENDEDPRICE) AS gross_revenue
FROM LINEITEM L
JOIN PART P ON L.L_PARTKEY = P.P_PARTKEY
WHERE P.P_BRAND = 'Brand#23'
GROUP BY year;
select
	sum(l_extendedprice) / (strftime('%Y', max(o_orderdate))-strftime('%Y', min(o_orderdate))) as avg_yearly
from
	lineitem,
    orders,
	part
where
	p_partkey = l_partkey
    and l_orderkey = o_orderkey
	and p_brand = 'Brand#23';
[SQL1]
 SELECT
  STRFTIME('%Y', lineitem.l_shipdate),
  SUM(lineitem.l_extendedprice)
FROM lineitem
JOIN PART AS P
  ON L.L_PARTKEY = P.P_PARTKEY
WHERE
  part.p_brand = 'Brand#23'
GROUP BY
  None.year

[SQL2]
 SELECT
  SUM(lineitem.l_extendedprice) / (
    STRFTIME('%Y', MAX(orders.o_orderdate)) - STRFTIME('%Y', MIN(orders.o_orderdate))
  )
FROM lineitem, orders, part
WHERE
  part.p_partkey = lineitem.l_partkey
  AND lineitem.l_orderkey = orders.o_orderkey
  AND part.p_brand = 'Brand#23'

TSED: 0.0784
Tree Edit Distance: 47
Partial Match Score
- table_asts: 0.6633
- sel_asts: 0.1331
- cond_asts: 0.3267
- agg_asts: 0.0
- orderby_asts: None
- subqueries: None
- distinct: None
- limit: None
Average score
- structural: 0.2726
- semantic: 0.2970
- overall: 0.2808
SELECT COUNT(DISTINCT T1.O_CUSTKEY) AS num_customers
FROM ORDERS AS T1
JOIN (
    SELECT L_ORDERKEY
    FROM LINEITEM
    GROUP BY L_ORDERKEY
    HAVING SUM(L_QUANTITY) > 300
) AS T2 ON T1.O_ORDERKEY = T2.L_ORDERKEY;
select
	count(distinct c_custkey)
from
	customer,
	orders,
	lineitem
where
	o_orderkey in (
		select
			l_orderkey
		from
			lineitem
		group by
			l_orderkey having
				sum(l_quantity) > 300
	)
	and c_custkey = o_custkey
	and o_orderkey = l_orderkey;
[SQL1]
 SELECT
  COUNT(DISTINCT T1.O_CUSTKEY)
FROM orders
JOIN (
  SELECT
    L_ORDERKEY
  FROM LINEITEM
  GROUP BY
    L_ORDERKEY
  HAVING
    SUM(L_QUANTITY) > 300
) AS T2
  ON T1.O_ORDERKEY = T2.L_ORDERKEY

[SQL2]
 SELECT
  COUNT(DISTINCT c_custkey)
FROM customer, orders, lineitem
WHERE
  orders.o_orderkey IN (
    SELECT
      lineitem.l_orderkey
    FROM lineitem
    GROUP BY
      l_orderkey
    HAVING
      SUM(l_quantity) > 300
  )
  AND customer.c_custkey = orders.o_custkey
  AND orders.o_orderkey = lineitem.l_orderkey

TSED: 0.0385
Tree Edit Distance: 50
Partial Match Score

- table_asts: 0.4539
- sel_asts: 0.6178
- cond_asts: 0.2425
- agg_asts: 1.0000
- orderby_asts: None
- subqueries: 1.0000
- distinct: 1.0000
- limit: None
Average score
- structural: 0.7088
- semantic: 0.7432
- overall: 0.7190
SELECT SUM(L_EXTENDEDPRICE * (1 - L_DISCOUNT)) AS total_discounted_revenue FROM LINEITEM AS T1 JOIN PART AS T2 ON T1.L_PARTKEY = T2.P_PARTKEY WHERE T1.L_SHIPMODE = 'AIR' AND T2.P_BRAND = 'Brand#12';
select
	sum(l_extendedprice* (1 - l_discount)) as revenue
from
	lineitem,
	part
where
	(
		p_partkey = l_partkey
        and p_brand = 'Brand#12'
		and l_shipmode in ('AIR', 'AIR REG')
	);
[SQL1]
 SELECT
  SUM(lineitem.l_extendedprice * (
    1 - lineitem.l_discount
  ))
FROM lineitem
JOIN PART AS T2
  ON T1.L_PARTKEY = T2.P_PARTKEY
WHERE
  lineitem.l_shipmode = 'AIR' AND part.p_brand = 'Brand#12'

[SQL2]
 SELECT
  SUM(lineitem.l_extendedprice * (
    1 - lineitem.l_discount
  ))
FROM lineitem, part
WHERE
  (
    part.p_partkey = lineitem.l_partkey
    AND part.p_brand = 'Brand#12'
    AND lineitem.l_shipmode IN ('AIR', 'AIR REG')
  )

TSED: 0.2500
Tree Edit Distance: 30
Partial Match Score
- table_asts: 1.0000
- sel_asts: 1.0000
- cond_asts: 0.5537
- agg_asts: None
- orderby_asts: None
- subqueries: None
- distinct: None
- limit: None
Average score
- structural: 0.8507
- semantic: 0.8517
- overall: 0.8512
SELECT COUNT(DISTINCT T1.S_SUPPKEY) AS num_suppliers
FROM SUPPLIER T1
JOIN NATION T2 ON T1.S_NATIONKEY = T2.N_NATIONKEY
JOIN REGION T3 ON T2.N_REGIONKEY = T3.R_REGIONKEY
JOIN PARTSUPP T4 ON T1.S_SUPPKEY = T4.PS_SUPPKEY
JOIN LINEITEM T5 ON T4.PS_PARTKEY = T5.L_PARTKEY AND T4.PS_SUPPKEY = T5.L_SUPPKEY
WHERE T2.N_NAME = 'CANADA'
  AND strftime('%Y', T5.L_SHIPDATE) = '1993'
  AND T4.PS_AVAILQTY > SUM(T5.L_QUANTITY) * 0.5
GROUP BY T1.S_SUPPKEY;
select
	count(distinct s_name) as count
from
	supplier,
	nation
where
	s_suppkey in (
		select
			ps_suppkey
		from
			partsupp,
			(
				select
					l_partkey agg_partkey,
					l_suppkey agg_suppkey,
					0.5 * sum(l_quantity) AS agg_quantity
				from
					lineitem
				where
					l_shipdate >= '1993-01-01'
					and l_shipdate < '1994-01-01'
				group by
					l_partkey,
					l_suppkey
			) agg_lineitem
		where
			agg_partkey = ps_partkey
			and agg_suppkey = ps_suppkey
			and ps_availqty > agg_quantity
	)
	and s_nationkey = n_nationkey
	and n_name = 'CANADA';
[SQL1]
 SELECT
  COUNT(DISTINCT T1.S_SUPPKEY)
FROM supplier
JOIN NATION AS T2
  ON T1.S_NATIONKEY = T2.N_NATIONKEY
JOIN REGION AS T3
  ON T2.N_REGIONKEY = T3.R_REGIONKEY
JOIN PARTSUPP AS T4
  ON T1.S_SUPPKEY = T4.PS_SUPPKEY
JOIN LINEITEM AS T5
  ON T4.PS_PARTKEY = T5.L_PARTKEY AND T4.PS_SUPPKEY = T5.L_SUPPKEY
WHERE
  nation.n_name = 'CANADA'
  AND STRFTIME('%Y', lineitem.l_shipdate) = '1993'
  AND partsupp.ps_availqty > SUM(lineitem.l_quantity) * 0.5
GROUP BY
  supplier.s_suppkey

[SQL2]
 SELECT
  COUNT(DISTINCT s_name)
FROM supplier, nation
WHERE
  supplier.s_suppkey IN (
    SELECT
      partsupp.ps_suppkey
    FROM partsupp, (
      SELECT
        l_partkey AS agg_partkey,
        l_suppkey AS agg_suppkey,
        0.5 * SUM(l_quantity) AS agg_quantity
      FROM lineitem
      WHERE
        l_shipdate >= '1993-01-01' AND l_shipdate < '1994-01-01'
      GROUP BY
        l_partkey,
        l_suppkey
    ) AS agg_lineitem
    WHERE
      agg_partkey = ps_partkey
      AND agg_suppkey = ps_suppkey
      AND ps_availqty > agg_quantity
  )
  AND supplier.s_nationkey = nation.n_nationkey
  AND nation.n_name = 'CANADA'

TSED: 0.0000
Tree Edit Distance: 116
Partial Match Score
- table_asts: 0.7536
- sel_asts: -0.0173
- cond_asts: 0.2393
- agg_asts: -0.0101
- orderby_asts: None
- subqueries: 0.0
- distinct: 1.0000
- limit: None
Average score
- structural: 0.3358
- semantic: 0.4014
- overall: 0.3276
SELECT S.S_NAME, COUNT(*) AS late_delivery_count
FROM SUPPLIER S
JOIN NATION N ON S.S_NATIONKEY = N.N_NATIONKEY
JOIN LINEITEM L ON S.S_SUPPKEY = L.L_SUPPKEY
WHERE N.N_NAME = 'GERMANY' AND L.L_COMMITDATE < L.L_RECEIPTDATE
GROUP BY S.S_NAME
ORDER BY late_delivery_count DESC
LIMIT 100;
select
	s_name,
	count(*) as numwait
from
	supplier,
	lineitem l1,
	orders,
	nation
where
	s_suppkey = l1.l_suppkey
	and o_orderkey = l1.l_orderkey
	and l1.l_receiptdate > l1.l_commitdate
	and s_nationkey = n_nationkey
	and n_name = 'GERMANY'
group by
	s_name
order by
    numwait desc
limit 100;
[SQL1]
 SELECT
  supplier.s_name,
  COUNT(*)
FROM supplier
JOIN NATION AS N
  ON S.S_NATIONKEY = N.N_NATIONKEY
JOIN LINEITEM AS L
  ON S.S_SUPPKEY = L.L_SUPPKEY
WHERE
  nation.n_name = 'GERMANY' AND lineitem.l_commitdate < lineitem.l_receiptdate
GROUP BY
  supplier.s_name
ORDER BY
  None.late_delivery_count
LIMIT 100

[SQL2]
 SELECT
  supplier.s_name,
  COUNT(*)
FROM supplier, lineitem AS l1, orders, nation
WHERE
  supplier.s_suppkey = lineitem.l_suppkey
  AND orders.o_orderkey = lineitem.l_orderkey
  AND lineitem.l_receiptdate > lineitem.l_commitdate
  AND supplier.s_nationkey = nation.n_nationkey
  AND nation.n_name = 'GERMANY'
GROUP BY
  supplier.s_name
ORDER BY
  None.numwait
LIMIT 100

TSED: 0.1471
Tree Edit Distance: 58
Partial Match Score
- table_asts: 0.7475
- sel_asts: 1.0000
- cond_asts: 0.3009
- agg_asts: 1.0000
- orderby_asts: 0.3113
- subqueries: None
- distinct: None
- limit: 1.0000
Average score
- structural: 0.7220
- semantic: 0.7358
- overall: 0.7266
[0.55823 0.60476 0.56224]

In [12]:
result_path = 'data/tpch/outputs/gpt-4o_1_all/results/'
print_scores(result_path)

SELECT COUNT(*) AS late_lineitem_count FROM LINEITEM WHERE L_RECEIPTDATE > L_COMMITDATE AND strftime('%Y', L_RECEIPTDATE) = '1993';
select
	count(*) as count
from
	orders,
	lineitem
where
	o_orderkey = l_orderkey
	and l_commitdate < l_receiptdate
	and l_receiptdate >= '1993-01-01'
	and l_receiptdate < '1994-01-01';
[SQL1]
 SELECT
  COUNT(*)
FROM lineitem
WHERE
  lineitem.l_receiptdate > lineitem.l_commitdate
  AND STRFTIME('%Y', lineitem.l_receiptdate) = '1993'

[SQL2]
 SELECT
  COUNT(*)
FROM orders, lineitem
WHERE
  orders.o_orderkey = lineitem.l_orderkey
  AND lineitem.l_commitdate < lineitem.l_receiptdate
  AND lineitem.l_receiptdate >= '1993-01-01'
  AND lineitem.l_receiptdate < '1994-01-01'

TSED: 0.2432
Tree Edit Distance: 28
Partial Match Score
- table_asts: 0.4950
- sel_asts: 1.0000
- cond_asts: 0.2956
- agg_asts: None
- orderby_asts: None
- subqueries: None
- distinct: None
- limit: None
Average score
- structural: 0.5800
- semantic: 0.6226
- overall: 0.5969
SELECT C.C_CUSTKEY, C.C_NAME, COUNT(O.O_ORDERKEY) AS ORDER_COUNT FROM CUSTOMER C LEFT JOIN ORDERS O ON C.C_CUSTKEY = O.O_CUSTKEY GROUP BY C.C_CUSTKEY, C.C_NAME ORDER BY ORDER_COUNT;
select
	c_count,
	count(*) as custdist
from
	(
		select
			c_custkey,
			count(o_orderkey) as c_count
		from
			customer left outer join orders on
				c_custkey = o_custkey
		group by
			c_custkey
	) as c_orders
group by
	c_count
order by
	custdist desc,
	c_count desc;
[SQL1]
 SELECT
  customer.c_custkey,
  customer.c_name,
  COUNT(orders.o_orderkey)
FROM customer
LEFT JOIN ORDERS AS O
  ON C.C_CUSTKEY = O.O_CUSTKEY
GROUP BY
  customer.c_custkey,
  customer.c_name
ORDER BY
  None.order_count

[SQL2]
 SELECT
  subquery_c_orders.c_count,
  COUNT(*)
FROM (
  SELECT
    customer.c_custkey,
    COUNT(orders.o_orderkey)
  FROM customer
  LEFT OUTER JOIN orders
    ON c_custkey = o_custkey
  GROUP BY
    c_custkey
) AS c_orders
GROUP BY
  subquery_c_orders.c_count
ORDER BY
  None.custdist,
  subquery_c_orders.c_count

TSED: 0.0930
Tree Edit Distance: 39
Partial Match Score
- table_asts: 0.6633
- sel_asts: 0.5577
- cond_asts: None
- agg_asts: 0.6075
- orderby_asts: 0.2010
- subqueries: 0.0
- distinct: None
- limit: None
Average score
- structural: 0.3645
- semantic: 0.4674
- overall: 0.4059
SELECT SUM(L.L_EXTENDEDPRICE * (1 - L.L_DISCOUNT)) AS promo_revenue,
       (SELECT SUM(L2.L_EXTENDEDPRICE * (1 - L2.L_DISCOUNT))
        FROM LINEITEM L2
        WHERE L2.L_SHIPDATE >= '1993-09-01' AND L2.L_SHIPDATE < '1993-10-01') AS total_revenue,
       (SUM(L.L_EXTENDEDPRICE * (1 - L.L_DISCOUNT)) /
        (SELECT SUM(L2.L_EXTENDEDPRICE * (1 - L2.L_DISCOUNT))
         FROM LINEITEM L2
         WHERE L2.L_SHIPDATE >= '1993-09-01' AND L2.L_SHIPDATE < '1993-10-01')) * 100 AS promo_revenue_percentage
FROM LINEITEM L
JOIN PART P ON L.L_PARTKEY = P.P_PARTKEY
WHERE P.P_TYPE LIKE '%PROMO%'
  AND L.L_SHIPDATE >= '1993-09-01'
  AND L.L_SHIPDATE < '1993-10-01';
select
	100.00 * sum(case
		when p_type like 'PROMO%'
			then l_extendedprice * (1 - l_discount)
		else 0
	end) / sum(l_extendedprice * (1 - l_discount)) as promo_revenue
from
	lineitem,
	part
where
	l_partkey = p_partkey
	and l_shipdate >= '1993-09-01'
	and l_shipdate < date('1993-09-01', '+1 month');
[SQL1]
 SELECT
  SUM(lineitem.l_extendedprice * (
    1 - lineitem.l_discount
  )),
  (
    SELECT
      SUM(lineitem.l_extendedprice * (
        1 - lineitem.l_discount
      ))
    FROM LINEITEM AS L2
    WHERE
      L2.L_SHIPDATE >= '1993-09-01' AND L2.L_SHIPDATE < '1993-10-01'
  ),
  (
    SUM(lineitem.l_extendedprice * (
      1 - lineitem.l_discount
    )) / (
      SELECT
        SUM(lineitem.l_extendedprice * (
          1 - lineitem.l_discount
        ))
      FROM LINEITEM AS L2
      WHERE
        L2.L_SHIPDATE >= '1993-09-01' AND L2.L_SHIPDATE < '1993-10-01'
    )
  ) * 100
FROM lineitem
JOIN PART AS P
  ON L.L_PARTKEY = P.P_PARTKEY
WHERE
  part.p_type LIKE '%PROMO%'
  AND lineitem.l_shipdate >= '1993-09-01'
  AND lineitem.l_shipdate < '1993-10-01'

[SQL2]
 SELECT
  100.00 * SUM(
    CASE
      WHEN part.p_type LIKE 'PROMO%'
      THEN lineitem.l_extendedprice * (
        1 - lineitem.l_discount
      )
      ELSE 0
    END
  ) / SUM(lineitem.l_extendedprice * (
    1 - lineitem.l_discount
  ))
FROM lineitem, part
WHERE
  lineitem.l_partkey = part.p_partkey
  AND lineitem.l_shipdate >= '1993-09-01'
  AND lineitem.l_shipdate < DATE('1993-09-01', '+1 month')

TSED: 0.1833
Tree Edit Distance: 98
Partial Match Score
- table_asts: 1.0000
- sel_asts: 0.1214
- cond_asts: 0.5774
- agg_asts: None
- orderby_asts: None
- subqueries: 0.0
- distinct: None
- limit: None
Average score
- structural: 0.4071
- semantic: 0.4471
- overall: 0.4247
SELECT S.S_SUPPKEY, S.S_NAME, SUM(L.L_EXTENDEDPRICE * (1 - L.L_DISCOUNT)) AS TOTAL_REVENUE
FROM SUPPLIER S
JOIN LINEITEM L ON S.S_SUPPKEY = L.L_SUPPKEY
WHERE L.L_SHIPDATE >= '1993-03-01' AND L.L_SHIPDATE < '1993-06-01'
GROUP BY S.S_SUPPKEY, S.S_NAME
ORDER BY TOTAL_REVENUE DESC
LIMIT 1;
with revenue0 as
	(select
		l_suppkey as supplier_no,
		sum(l_extendedprice * (1 - l_discount)) as total_revenue
	from
		lineitem
	where
		l_shipdate >= '1993-03-01'
		and l_shipdate < date('1993-03-01', '+3 months')
	group by
		l_suppkey)

select
	s_suppkey, s_name
from
	supplier,
	revenue0
where
	s_suppkey = supplier_no
	and total_revenue = (
		select
			max(total_revenue)
		from
			revenue0
	)
order by
	total_revenue desc
limit 1;
[SQL1]
 SELECT
  supplier.s_suppkey,
  supplier.s_name,
  SUM(lineitem.l_extendedprice * (
    1 - lineitem.l_discount
  ))
FROM supplier
JOIN LINEITEM AS L
  ON S.S_SUPPKEY = L.L_SUPPKEY
WHERE
  lineitem.l_shipdate >= '1993-03-01' AND lineitem.l_shipdate < '1993-06-01'
GROUP BY
  supplier.s_suppkey,
  supplier.s_name
ORDER BY
  None.total_revenue
LIMIT 1

[SQL2]
 WITH revenue0 AS (
  SELECT
    l_suppkey AS supplier_no,
    SUM(l_extendedprice * (
      1 - l_discount
    )) AS total_revenue
  FROM lineitem
  WHERE
    l_shipdate >= '1993-03-01' AND l_shipdate < DATE('1993-03-01', '+3 months')
  GROUP BY
    l_suppkey
)
SELECT
  supplier.s_suppkey,
  supplier.s_name
FROM supplier, revenue0
WHERE
  supplier.s_suppkey = None.supplier_no
  AND None.total_revenue = (
    SELECT
      MAX(None.total_revenue)
    FROM revenue0
  )
ORDER BY
  None.total_revenue
LIMIT 1

TSED: 0.0000
Tree Edit Distance: 83
Partial Match Score
- table_asts: 0.4950
- sel_asts: 0.5960
- cond_asts: 0.4003
- agg_asts: -0.0101
- orderby_asts: 1.0000
- subqueries: 0.0
- distinct: None
- limit: 1.0000
Average score
- structural: 0.4963
- semantic: 0.5492
- overall: 0.4973
SELECT COUNT(DISTINCT PS_SUPPKEY) AS supplier_count FROM PARTSUPP JOIN PART ON PARTSUPP.PS_PARTKEY = PART.P_PARTKEY WHERE PART.P_SIZE = 49;
select
	count(distinct ps_suppkey) as supplier_cnt
from
	partsupp,
	part
where
	p_partkey = ps_partkey
	and p_size in (49);
[SQL1]
 SELECT
  COUNT(DISTINCT PS_SUPPKEY)
FROM partsupp
JOIN PART
  ON PARTSUPP.PS_PARTKEY = PART.P_PARTKEY
WHERE
  part.p_size = 49

[SQL2]
 SELECT
  COUNT(DISTINCT ps_suppkey)
FROM partsupp, part
WHERE
  part.p_partkey = partsupp.ps_partkey AND part.p_size IN (49)

TSED: 0.2000
Tree Edit Distance: 20
Partial Match Score
- table_asts: 1.0000
- sel_asts: 0.0
- cond_asts: 0.3894
- agg_asts: None
- orderby_asts: None
- subqueries: None
- distinct: 1.0000
- limit: None
Average score
- structural: 0.5988
- semantic: 0.7839
- overall: 0.5974
SELECT strftime('%Y', O_ORDERDATE) AS year, SUM(L_EXTENDEDPRICE) AS gross_undiscounted_revenue FROM LINEITEM AS T1 JOIN PART AS T2 ON T1.L_PARTKEY = T2.P_PARTKEY JOIN ORDERS AS T3 ON T1.L_ORDERKEY = T3.O_ORDERKEY WHERE T2.P_BRAND = 'Brand#23' GROUP BY year;
select
	sum(l_extendedprice) / (strftime('%Y', max(o_orderdate))-strftime('%Y', min(o_orderdate))) as avg_yearly
from
	lineitem,
    orders,
	part
where
	p_partkey = l_partkey
    and l_orderkey = o_orderkey
	and p_brand = 'Brand#23';
[SQL1]
 SELECT
  STRFTIME('%Y', orders.o_orderdate),
  SUM(lineitem.l_extendedprice)
FROM lineitem
JOIN PART AS T2
  ON T1.L_PARTKEY = T2.P_PARTKEY
JOIN ORDERS AS T3
  ON T1.L_ORDERKEY = T3.O_ORDERKEY
WHERE
  part.p_brand = 'Brand#23'
GROUP BY
  None.year

[SQL2]
 SELECT
  SUM(lineitem.l_extendedprice) / (
    STRFTIME('%Y', MAX(orders.o_orderdate)) - STRFTIME('%Y', MIN(orders.o_orderdate))
  )
FROM lineitem, orders, part
WHERE
  part.p_partkey = lineitem.l_partkey
  AND lineitem.l_orderkey = orders.o_orderkey
  AND part.p_brand = 'Brand#23'

TSED: 0.0196
Tree Edit Distance: 50
Partial Match Score

- table_asts: 1.0000
- sel_asts: 0.1331
- cond_asts: 0.3267
- agg_asts: 0.0
- orderby_asts: None
- subqueries: None
- distinct: None
- limit: None
Average score
- structural: 0.3567
- semantic: 0.3812
- overall: 0.3649
SELECT COUNT(DISTINCT O_CUSTKEY) AS large_volume_customers_count
FROM ORDERS
WHERE O_ORDERKEY IN (
    SELECT L_ORDERKEY
    FROM LINEITEM
    GROUP BY L_ORDERKEY
    HAVING SUM(L_QUANTITY) > 300
);
select
	count(distinct c_custkey)
from
	customer,
	orders,
	lineitem
where
	o_orderkey in (
		select
			l_orderkey
		from
			lineitem
		group by
			l_orderkey having
				sum(l_quantity) > 300
	)
	and c_custkey = o_custkey
	and o_orderkey = l_orderkey;
[SQL1]
 SELECT
  COUNT(DISTINCT O_CUSTKEY)
FROM orders
WHERE
  orders.o_orderkey IN (
    SELECT
      lineitem.l_orderkey
    FROM LINEITEM
    GROUP BY
      L_ORDERKEY
    HAVING
      SUM(L_QUANTITY) > 300
  )

[SQL2]
 SELECT
  COUNT(DISTINCT c_custkey)
FROM customer, orders, lineitem
WHERE
  orders.o_orderkey IN (
    SELECT
      lineitem.l_orderkey
    FROM lineitem
    GROUP BY
      l_orderkey
    HAVING
      SUM(l_quantity) > 300
  )
  AND customer.c_custkey = orders.o_custkey
  AND orders.o_orderkey = lineitem.l_orderkey

TSED: 0.1731
Tree Edit Distance: 43
Partial Match Score
- table_asts: 0.4950
- sel_asts: 0.6335
- cond_asts: 0.3761
- agg_asts: 1.0000
- orderby_asts: None
- subqueries: 1.0000
- distinct: 1.0000
- limit: None
Average score
- structural: 0.7206
- semantic: 0.7999
- overall: 0.7508
SELECT SUM(L_EXTENDEDPRICE * (1 - L_DISCOUNT)) AS total_discounted_revenue
FROM LINEITEM AS T1
JOIN PART AS T2 ON T1.L_PARTKEY = T2.P_PARTKEY
WHERE T2.P_BRAND = 'Brand#12' AND T1.L_SHIPMODE = 'AIR';
select
	sum(l_extendedprice* (1 - l_discount)) as revenue
from
	lineitem,
	part
where
	(
		p_partkey = l_partkey
        and p_brand = 'Brand#12'
		and l_shipmode in ('AIR', 'AIR REG')
	);
[SQL1]
 SELECT
  SUM(lineitem.l_extendedprice * (
    1 - lineitem.l_discount
  ))
FROM lineitem
JOIN PART AS T2
  ON T1.L_PARTKEY = T2.P_PARTKEY
WHERE
  part.p_brand = 'Brand#12' AND lineitem.l_shipmode = 'AIR'

[SQL2]
 SELECT
  SUM(lineitem.l_extendedprice * (
    1 - lineitem.l_discount
  ))
FROM lineitem, part
WHERE
  (
    part.p_partkey = lineitem.l_partkey
    AND part.p_brand = 'Brand#12'
    AND lineitem.l_shipmode IN ('AIR', 'AIR REG')
  )

TSED: 0.4750
Tree Edit Distance: 21
Partial Match Score
- table_asts: 1.0000
- sel_asts: 1.0000
- cond_asts: 0.5537
- agg_asts: None
- orderby_asts: None
- subqueries: None
- distinct: None
- limit: None
Average score
- structural: 0.8507
- semantic: 0.8517
- overall: 0.8512
SELECT COUNT(DISTINCT s.S_SUPPKEY) AS supplier_count
FROM SUPPLIER s
JOIN NATION n ON s.S_NATIONKEY = n.N_NATIONKEY
JOIN REGION r ON n.N_REGIONKEY = r.R_REGIONKEY
JOIN PARTSUPP ps ON s.S_SUPPKEY = ps.PS_SUPPKEY
JOIN LINEITEM l ON ps.PS_PARTKEY = l.L_PARTKEY AND ps.PS_SUPPKEY = l.L_SUPPKEY
JOIN ORDERS o ON l.L_ORDERKEY = o.O_ORDERKEY
JOIN CUSTOMER c ON o.O_CUSTKEY = c.C_CUSTKEY
WHERE r.R_NAME = 'CANADA'
  AND o.O_ORDERDATE BETWEEN '1993-01-01' AND '1993-12-31'
GROUP BY ps.PS_PARTKEY, s.S_SUPPKEY, ps.PS_AVAILQTY
HAVING ps.PS_AVAILQTY > SUM(l.L_QUANTITY) * 1.5;
select
	count(distinct s_name) as count
from
	supplier,
	nation
where
	s_suppkey in (
		select
			ps_suppkey
		from
			partsupp,
			(
				select
					l_partkey agg_partkey,
					l_suppkey agg_suppkey,
					0.5 * sum(l_quantity) AS agg_quantity
				from
					lineitem
				where
					l_shipdate >= '1993-01-01'
					and l_shipdate < '1994-01-01'
				group by
					l_partkey,
					l_suppkey
			) agg_lineitem
		where
			agg_partkey = ps_partkey
			and agg_suppkey = ps_suppkey
			and ps_availqty > agg_quantity
	)
	and s_nationkey = n_nationkey
	and n_name = 'CANADA';
[SQL1]
 SELECT
  COUNT(DISTINCT s.S_SUPPKEY)
FROM supplier
JOIN NATION AS n
  ON s.S_NATIONKEY = n.N_NATIONKEY
JOIN REGION AS r
  ON n.N_REGIONKEY = r.R_REGIONKEY
JOIN PARTSUPP AS ps
  ON s.S_SUPPKEY = ps.PS_SUPPKEY
JOIN LINEITEM AS l
  ON ps.PS_PARTKEY = l.L_PARTKEY AND ps.PS_SUPPKEY = l.L_SUPPKEY
JOIN ORDERS AS o
  ON l.L_ORDERKEY = o.O_ORDERKEY
JOIN CUSTOMER AS c
  ON o.O_CUSTKEY = c.C_CUSTKEY
WHERE
  region.r_name = 'CANADA'
  AND orders.o_orderdate BETWEEN '1993-01-01' AND '1993-12-31'
GROUP BY
  partsupp.ps_partkey,
  supplier.s_suppkey,
  partsupp.ps_availqty
HAVING
  partsupp.ps_availqty > SUM(lineitem.l_quantity) * 1.5

[SQL2]
 SELECT
  COUNT(DISTINCT s_name)
FROM supplier, nation
WHERE
  supplier.s_suppkey IN (
    SELECT
      partsupp.ps_suppkey
    FROM partsupp, (
      SELECT
        l_partkey AS agg_partkey,
        l_suppkey AS agg_suppkey,
        0.5 * SUM(l_quantity) AS agg_quantity
      FROM lineitem
      WHERE
        l_shipdate >= '1993-01-01' AND l_shipdate < '1994-01-01'
      GROUP BY
        l_partkey,
        l_suppkey
    ) AS agg_lineitem
    WHERE
      agg_partkey = ps_partkey
      AND agg_suppkey = ps_suppkey
      AND ps_availqty > agg_quantity
  )
  AND supplier.s_nationkey = nation.n_nationkey
  AND nation.n_name = 'CANADA'

TSED: 0.0000
Tree Edit Distance: 136
Partial Match Score
- table_asts: 0.5354
- sel_asts: -0.0172
- cond_asts: 0.1169
- agg_asts: -0.0067
- orderby_asts: None
- subqueries: 0.0
- distinct: 1.0000
- limit: None
Average score
- structural: 0.2724
- semantic: 0.3850
- overall: 0.2714
SELECT S.S_NAME AS SupplierName, COUNT(*) AS LateDeliveryCount
FROM SUPPLIER S
JOIN NATION N ON S.S_NATIONKEY = N.N_NATIONKEY
JOIN LINEITEM L ON S.S_SUPPKEY = L.L_SUPPKEY
WHERE N.N_NAME = 'GERMANY' AND L.L_RECEIPTDATE > L.L_COMMITDATE
GROUP BY S.S_NAME
ORDER BY LateDeliveryCount DESC
LIMIT 100;
select
	s_name,
	count(*) as numwait
from
	supplier,
	lineitem l1,
	orders,
	nation
where
	s_suppkey = l1.l_suppkey
	and o_orderkey = l1.l_orderkey
	and l1.l_receiptdate > l1.l_commitdate
	and s_nationkey = n_nationkey
	and n_name = 'GERMANY'
group by
	s_name
order by
    numwait desc
limit 100;
[SQL1]
 SELECT
  supplier.s_name,
  COUNT(*)
FROM supplier
JOIN NATION AS N
  ON S.S_NATIONKEY = N.N_NATIONKEY
JOIN LINEITEM AS L
  ON S.S_SUPPKEY = L.L_SUPPKEY
WHERE
  nation.n_name = 'GERMANY' AND lineitem.l_receiptdate > lineitem.l_commitdate
GROUP BY
  supplier.s_name
ORDER BY
  None.latedeliverycount
LIMIT 100

[SQL2]
 SELECT
  supplier.s_name,
  COUNT(*)
FROM supplier, lineitem AS l1, orders, nation
WHERE
  supplier.s_suppkey = lineitem.l_suppkey
  AND orders.o_orderkey = lineitem.l_orderkey
  AND lineitem.l_receiptdate > lineitem.l_commitdate
  AND supplier.s_nationkey = nation.n_nationkey
  AND nation.n_name = 'GERMANY'
GROUP BY
  supplier.s_name
ORDER BY
  None.numwait
LIMIT 100

TSED: 0.1912
Tree Edit Distance: 55
Partial Match Score
- table_asts: 0.7475
- sel_asts: 1.0000
- cond_asts: 0.3940
- agg_asts: 1.0000
- orderby_asts: 0.2976
- subqueries: None
- distinct: None
- limit: 1.0000
Average score
- structural: 0.7458
- semantic: 0.7351
- overall: 0.7399
[0.53929 0.60231 0.55004]

### GPT-4o-mini

In [13]:
result_path = 'data/tpch/outputs/gpt-4o-mini_0_all/results/'
print_scores(result_path)

SELECT COUNT(*) AS late_line_items_count FROM LINEITEM T1 WHERE T1.L_RECEIPTDATE > T1.L_SHIPDATE AND strftime('%Y', T1.L_RECEIPTDATE) = '1993'
select
	count(*) as count
from
	orders,
	lineitem
where
	o_orderkey = l_orderkey
	and l_commitdate < l_receiptdate
	and l_receiptdate >= '1993-01-01'
	and l_receiptdate < '1994-01-01';
[SQL1]
 SELECT
  COUNT(*)
FROM lineitem
WHERE
  lineitem.l_receiptdate > lineitem.l_shipdate
  AND STRFTIME('%Y', lineitem.l_receiptdate) = '1993'

[SQL2]
 SELECT
  COUNT(*)
FROM orders, lineitem
WHERE
  orders.o_orderkey = lineitem.l_orderkey
  AND lineitem.l_commitdate < lineitem.l_receiptdate
  AND lineitem.l_receiptdate >= '1993-01-01'
  AND lineitem.l_receiptdate < '1994-01-01'

TSED: 0.2432
Tree Edit Distance: 28
Partial Match Score
- table_asts: 0.4950
- sel_asts: 1.0000
- cond_asts: 0.2914
- agg_asts: None
- orderby_asts: None
- subqueries: None
- distinct: None
- limit: None
Average score
- structural: 0.5800
- semantic: 0.6182
- overall: 0.5955
SELECT C.C_CUSTKEY, COUNT(O.O_ORDERKEY) AS order_count FROM CUSTOMER C LEFT JOIN ORDERS O ON C.C_CUSTKEY = O.O_CUSTKEY GROUP BY C.C_CUSTKEY
select
	c_count,
	count(*) as custdist
from
	(
		select
			c_custkey,
			count(o_orderkey) as c_count
		from
			customer left outer join orders on
				c_custkey = o_custkey
		group by
			c_custkey
	) as c_orders
group by
	c_count
order by
	custdist desc,
	c_count desc;
[SQL1]
 SELECT
  customer.c_custkey,
  COUNT(orders.o_orderkey)
FROM customer
LEFT JOIN ORDERS AS O
  ON C.C_CUSTKEY = O.O_CUSTKEY
GROUP BY
  customer.c_custkey

[SQL2]
 SELECT
  subquery_c_orders.c_count,
  COUNT(*)
FROM (
  SELECT
    customer.c_custkey,
    COUNT(orders.o_orderkey)
  FROM customer
  LEFT OUTER JOIN orders
    ON c_custkey = o_custkey
  GROUP BY
    c_custkey
) AS c_orders
GROUP BY
  subquery_c_orders.c_count
ORDER BY
  None.custdist,
  subquery_c_orders.c_count

TSED: 0.1628
Tree Edit Distance: 36
Partial Match Score
- table_asts: 0.6633
- sel_asts: 0.4950
- cond_asts: None
- agg_asts: 0.4950
- orderby_asts: 0.0
- subqueries: 0.0
- distinct: None
- limit: None
Average score
- structural: 0.3307
- semantic: 0.3307
- overall: 0.3307
SELECT (SUM(L.L_EXTENDEDPRICE) * 100.0 / (SELECT SUM(L2.L_EXTENDEDPRICE) FROM LINEITEM L2 WHERE L2.L_SHIPDATE BETWEEN '1993-09-01' AND '1993-09-30')) AS revenue_percentage FROM LINEITEM L JOIN PART P ON L.L_PARTKEY = P.P_PARTKEY WHERE P.P_TYPE LIKE 'PROMO' AND L.L_SHIPDATE BETWEEN '1993-09-01' AND '1993-09-30' AND L.L_EXTENDEDPRICE IS NOT NULL;
select
	100.00 * sum(case
		when p_type like 'PROMO%'
			then l_extendedprice * (1 - l_discount)
		else 0
	end) / sum(l_extendedprice * (1 - l_discount)) as promo_revenue
from
	lineitem,
	part
where
	l_partkey = p_partkey
	and l_shipdate >= '1993-09-01'
	and l_shipdate < date('1993-09-01', '+1 month');
[SQL1]
 SELECT
  (
    SUM(lineitem.l_extendedprice) * 100.0 / (
      SELECT
        SUM(lineitem.l_extendedprice)
      FROM LINEITEM AS L2
      WHERE
        L2.L_SHIPDATE BETWEEN '1993-09-01' AND '1993-09-30'
    )
  )
FROM lineitem
JOIN PART AS P
  ON L.L_PARTKEY = P.P_PARTKEY
WHERE
  part.p_type LIKE 'PROMO'
  AND lineitem.l_shipdate BETWEEN '1993-09-01' AND '1993-09-30'
  AND NOT lineitem.l_extendedprice IS NULL

[SQL2]
 SELECT
  100.00 * SUM(
    CASE
      WHEN part.p_type LIKE 'PROMO%'
      THEN lineitem.l_extendedprice * (
        1 - lineitem.l_discount
      )
      ELSE 0
    END
  ) / SUM(lineitem.l_extendedprice * (
    1 - lineitem.l_discount
  ))
FROM lineitem, part
WHERE
  lineitem.l_partkey = part.p_partkey
  AND lineitem.l_shipdate >= '1993-09-01'
  AND lineitem.l_shipdate < DATE('1993-09-01', '+1 month')

TSED: 0.0000
Tree Edit Distance: 67
Partial Match Score
- table_asts: 1.0000
- sel_asts: 0.0587
- cond_asts: 0.3913
- agg_asts: None
- orderby_asts: None
- subqueries: 0.0
- distinct: None
- limit: None
Average score
- structural: 0.3363
- semantic: 0.4133
- overall: 0.3625
SELECT T2.S_SUPPKEY FROM SUPPLIER T2 JOIN PARTSUPP T1 ON T2.S_SUPPKEY = T1.PS_SUPPKEY JOIN LINEITEM T3 ON T1.PS_PARTKEY = T3.L_PARTKEY WHERE T3.L_SHIPDATE >= '1993-03-01' AND T3.L_SHIPDATE < '1993-06-01' GROUP BY T2.S_SUPPKEY ORDER BY SUM(T3.L_EXTENDEDPRICE * (1 - T3.L_DISCOUNT)) DESC LIMIT 1
with revenue0 as
	(select
		l_suppkey as supplier_no,
		sum(l_extendedprice * (1 - l_discount)) as total_revenue
	from
		lineitem
	where
		l_shipdate >= '1993-03-01'
		and l_shipdate < date('1993-03-01', '+3 months')
	group by
		l_suppkey)

select
	s_suppkey, s_name
from
	supplier,
	revenue0
where
	s_suppkey = supplier_no
	and total_revenue = (
		select
			max(total_revenue)
		from
			revenue0
	)
order by
	total_revenue desc
limit 1;
[SQL1]
 SELECT
  supplier.s_suppkey
FROM supplier
JOIN PARTSUPP AS T1
  ON T2.S_SUPPKEY = T1.PS_SUPPKEY
JOIN LINEITEM AS T3
  ON T1.PS_PARTKEY = T3.L_PARTKEY
WHERE
  lineitem.l_shipdate >= '1993-03-01' AND lineitem.l_shipdate < '1993-06-01'
GROUP BY
  supplier.s_suppkey
ORDER BY
  SUM(lineitem.l_extendedprice * (
    1 - lineitem.l_discount
  ))
LIMIT 1

[SQL2]
 WITH revenue0 AS (
  SELECT
    l_suppkey AS supplier_no,
    SUM(l_extendedprice * (
      1 - l_discount
    )) AS total_revenue
  FROM lineitem
  WHERE
    l_shipdate >= '1993-03-01' AND l_shipdate < DATE('1993-03-01', '+3 months')
  GROUP BY
    l_suppkey
)
SELECT
  supplier.s_suppkey,
  supplier.s_name
FROM supplier, revenue0
WHERE
  supplier.s_suppkey = None.supplier_no
  AND None.total_revenue = (
    SELECT
      MAX(None.total_revenue)
    FROM revenue0
  )
ORDER BY
  None.total_revenue
LIMIT 1

TSED: 0.0000
Tree Edit Distance: 81
Partial Match Score
- table_asts: 0.5133
- sel_asts: 0.1920
- cond_asts: 0.4003
- agg_asts: 0.0
- orderby_asts: 0.0
- subqueries: 0.0
- distinct: None
- limit: 1.0000
Average score
- structural: 0.2968
- semantic: 0.4102
- overall: 0.3008
SELECT COUNT(DISTINCT T1.PS_SUPPKEY) FROM PARTSUPP T1 JOIN PART T2 ON T1.PS_PARTKEY = T2.P_PARTKEY WHERE T2.P_SIZE = 49
select
	count(distinct ps_suppkey) as supplier_cnt
from
	partsupp,
	part
where
	p_partkey = ps_partkey
	and p_size in (49);
[SQL1]
 SELECT
  COUNT(DISTINCT T1.PS_SUPPKEY)
FROM partsupp
JOIN PART AS T2
  ON T1.PS_PARTKEY = T2.P_PARTKEY
WHERE
  part.p_size = 49

[SQL2]
 SELECT
  COUNT(DISTINCT ps_suppkey)
FROM partsupp, part
WHERE
  part.p_partkey = partsupp.ps_partkey AND part.p_size IN (49)

TSED: 0.1852
Tree Edit Distance: 22
Partial Match Score
- table_asts: 1.0000
- sel_asts: 0.0
- cond_asts: 0.3894
- agg_asts: None
- orderby_asts: None
- subqueries: None
- distinct: 1.0000
- limit: None
Average score
- structural: 0.5988
- semantic: 0.7693
- overall: 0.5974
SELECT SUM(L_EXTENDEDPRICE) AS yearly_gross_revenue FROM LINEITEM T1 JOIN PART T2 ON T1.L_PARTKEY = T2.P_PARTKEY WHERE T2.P_BRAND = 'Brand#23'
select
	sum(l_extendedprice) / (strftime('%Y', max(o_orderdate))-strftime('%Y', min(o_orderdate))) as avg_yearly
from
	lineitem,
    orders,
	part
where
	p_partkey = l_partkey
    and l_orderkey = o_orderkey
	and p_brand = 'Brand#23';
[SQL1]
 SELECT
  SUM(lineitem.l_extendedprice)
FROM lineitem
JOIN PART AS T2
  ON T1.L_PARTKEY = T2.P_PARTKEY
WHERE
  part.p_brand = 'Brand#23'

[SQL2]
 SELECT
  SUM(lineitem.l_extendedprice) / (
    STRFTIME('%Y', MAX(orders.o_orderdate)) - STRFTIME('%Y', MIN(orders.o_orderdate))
  )
FROM lineitem, orders, part
WHERE
  part.p_partkey = lineitem.l_partkey
  AND lineitem.l_orderkey = orders.o_orderkey
  AND part.p_brand = 'Brand#23'

TSED: 0.2157
Tree Edit Distance: 40
Partial Match Score
- table_asts: 0.6633
- sel_asts: 0.2773
- cond_asts: 0.3267
- agg_asts: None
- orderby_asts: None
- subqueries: None
- distinct: None
- limit: None
Average score
- structural: 0.4002
- semantic: 0.4653
- overall: 0.4224
SELECT COUNT(DISTINCT O.O_CUSTKEY) AS customer_count FROM ORDERS O JOIN LINEITEM L ON O.O_ORDERKEY = L.L_ORDERKEY GROUP BY O.O_CUSTKEY HAVING SUM(L.L_QUANTITY) > 300
select
	count(distinct c_custkey)
from
	customer,
	orders,
	lineitem
where
	o_orderkey in (
		select
			l_orderkey
		from
			lineitem
		group by
			l_orderkey having
				sum(l_quantity) > 300
	)
	and c_custkey = o_custkey
	and o_orderkey = l_orderkey;
[SQL1]
 SELECT
  COUNT(DISTINCT O.O_CUSTKEY)
FROM orders
JOIN LINEITEM AS L
  ON O.O_ORDERKEY = L.L_ORDERKEY
GROUP BY
  orders.o_custkey
HAVING
  SUM(lineitem.l_quantity) > 300

[SQL2]
 SELECT
  COUNT(DISTINCT c_custkey)
FROM customer, orders, lineitem
WHERE
  orders.o_orderkey IN (
    SELECT
      lineitem.l_orderkey
    FROM lineitem
    GROUP BY
      l_orderkey
    HAVING
      SUM(l_quantity) > 300
  )
  AND customer.c_custkey = orders.o_custkey
  AND orders.o_orderkey = lineitem.l_orderkey

TSED: 0.0192
Tree Edit Distance: 51
Partial Match Score

- table_asts: 0.4950
- sel_asts: -0.0102
- cond_asts: 0.2425
- agg_asts: 0.0
- orderby_asts: None
- subqueries: 0.0
- distinct: 1.0000
- limit: None
Average score
- structural: 0.2888
- semantic: 0.4165
- overall: 0.2879
SELECT SUM(L_EXTENDEDPRICE * (1 - L_DISCOUNT)) AS total_discounted_revenue
FROM LINEITEM T1
JOIN PARTSUPP T2 ON T1.L_PARTKEY = T2.PS_PARTKEY
JOIN PART T3 ON T2.PS_PARTKEY = T3.P_PARTKEY
JOIN ORDERS T4 ON T1.L_ORDERKEY = T4.O_ORDERKEY
WHERE T3.P_BRAND = 'Brand#12' AND T1.L_SHIPMODE = 'AIR'
select
	sum(l_extendedprice* (1 - l_discount)) as revenue
from
	lineitem,
	part
where
	(
		p_partkey = l_partkey
        and p_brand = 'Brand#12'
		and l_shipmode in ('AIR', 'AIR REG')
	);
[SQL1]
 SELECT
  SUM(lineitem.l_extendedprice * (
    1 - lineitem.l_discount
  ))
FROM lineitem
JOIN PARTSUPP AS T2
  ON T1.L_PARTKEY = T2.PS_PARTKEY
JOIN PART AS T3
  ON T2.PS_PARTKEY = T3.P_PARTKEY
JOIN ORDERS AS T4
  ON T1.L_ORDERKEY = T4.O_ORDERKEY
WHERE
  part.p_brand = 'Brand#12' AND lineitem.l_shipmode = 'AIR'

[SQL2]
 SELECT
  SUM(lineitem.l_extendedprice * (
    1 - lineitem.l_discount
  ))
FROM lineitem, part
WHERE
  (
    part.p_partkey = lineitem.l_partkey
    AND part.p_brand = 'Brand#12'
    AND lineitem.l_shipmode IN ('AIR', 'AIR REG')
  )

TSED: 0.2857
Tree Edit Distance: 45
Partial Match Score
- table_asts: 0.4950
- sel_asts: 1.0000
- cond_asts: 0.5537
- agg_asts: None
- orderby_asts: None
- subqueries: None
- distinct: None
- limit: None
Average score
- structural: 0.6824
- semantic: 0.6834
- overall: 0.6829
SELECT COUNT(DISTINCT S.S_SUPPKEY) FROM SUPPLIER S JOIN NATION N ON S.S_NATIONKEY = N.N_NATIONKEY JOIN PARTSUPP PS ON S.S_SUPPKEY = PS.PS_SUPPKEY JOIN LINEITEM L ON PS.PS_PARTKEY = L.L_PARTKEY WHERE N.N_NAME = 'CANADA' AND L.L_SHIPDATE BETWEEN '1993-01-01' AND '1993-12-31' AND L.L_QUANTITY > (0.5 * PS.PS_AVAILQTY)
select
	count(distinct s_name) as count
from
	supplier,
	nation
where
	s_suppkey in (
		select
			ps_suppkey
		from
			partsupp,
			(
				select
					l_partkey agg_partkey,
					l_suppkey agg_suppkey,
					0.5 * sum(l_quantity) AS agg_quantity
				from
					lineitem
				where
					l_shipdate >= '1993-01-01'
					and l_shipdate < '1994-01-01'
				group by
					l_partkey,
					l_suppkey
			) agg_lineitem
		where
			agg_partkey = ps_partkey
			and agg_suppkey = ps_suppkey
			and ps_availqty > agg_quantity
	)
	and s_nationkey = n_nationkey
	and n_name = 'CANADA';
[SQL1]
 SELECT
  COUNT(DISTINCT S.S_SUPPKEY)
FROM supplier
JOIN NATION AS N
  ON S.S_NATIONKEY = N.N_NATIONKEY
JOIN PARTSUPP AS PS
  ON S.S_SUPPKEY = PS.PS_SUPPKEY
JOIN LINEITEM AS L
  ON PS.PS_PARTKEY = L.L_PARTKEY
WHERE
  nation.n_name = 'CANADA'
  AND lineitem.l_shipdate BETWEEN '1993-01-01' AND '1993-12-31'
  AND lineitem.l_quantity > (
    0.5 * partsupp.ps_availqty
  )

[SQL2]
 SELECT
  COUNT(DISTINCT s_name)
FROM supplier, nation
WHERE
  supplier.s_suppkey IN (
    SELECT
      partsupp.ps_suppkey
    FROM partsupp, (
      SELECT
        l_partkey AS agg_partkey,
        l_suppkey AS agg_suppkey,
        0.5 * SUM(l_quantity) AS agg_quantity
      FROM lineitem
      WHERE
        l_shipdate >= '1993-01-01' AND l_shipdate < '1994-01-01'
      GROUP BY
        l_partkey,
        l_suppkey
    ) AS agg_lineitem
    WHERE
      agg_partkey = ps_partkey
      AND agg_suppkey = ps_suppkey
      AND ps_availqty > agg_quantity
  )
  AND supplier.s_nationkey = nation.n_nationkey
  AND nation.n_name = 'CANADA'

TSED: 0.0000
Tree Edit Distance: 105
Partial Match Score
- table_asts: 0.7980
- sel_asts: -0.0171
- cond_asts: 0.2364
- agg_asts: 0.0
- orderby_asts: None
- subqueries: 0.0
- distinct: 1.0000
- limit: None
Average score
- structural: 0.3341
- semantic: 0.3638
- overall: 0.3362
SELECT S.S_SUPPKEY, COUNT(*) AS late_delivery_count
FROM SUPPLIER S
JOIN LINEITEM L ON S.S_SUPPKEY = L.L_SUPPKEY
WHERE S.S_NATIONKEY = (SELECT N.N_NATIONKEY FROM NATION N WHERE N.N_NAME = 'GERMANY')
AND L.L_COMMITDATE < L.L_RECEIPTDATE
GROUP BY S.S_SUPPKEY
ORDER BY late_delivery_count DESC
LIMIT 100;
select
	s_name,
	count(*) as numwait
from
	supplier,
	lineitem l1,
	orders,
	nation
where
	s_suppkey = l1.l_suppkey
	and o_orderkey = l1.l_orderkey
	and l1.l_receiptdate > l1.l_commitdate
	and s_nationkey = n_nationkey
	and n_name = 'GERMANY'
group by
	s_name
order by
    numwait desc
limit 100;
[SQL1]
 SELECT
  supplier.s_suppkey,
  COUNT(*)
FROM supplier
JOIN LINEITEM AS L
  ON S.S_SUPPKEY = L.L_SUPPKEY
WHERE
  supplier.s_nationkey = (
    SELECT
      nation.n_nationkey
    FROM NATION AS N
    WHERE
      N.N_NAME = 'GERMANY'
  )
  AND lineitem.l_commitdate < lineitem.l_receiptdate
GROUP BY
  supplier.s_suppkey
ORDER BY
  None.late_delivery_count
LIMIT 100

[SQL2]
 SELECT
  supplier.s_name,
  COUNT(*)
FROM supplier, lineitem AS l1, orders, nation
WHERE
  supplier.s_suppkey = lineitem.l_suppkey
  AND orders.o_orderkey = lineitem.l_orderkey
  AND lineitem.l_receiptdate > lineitem.l_commitdate
  AND supplier.s_nationkey = nation.n_nationkey
  AND nation.n_name = 'GERMANY'
GROUP BY
  supplier.s_name
ORDER BY
  None.numwait
LIMIT 100

TSED: 0.0441
Tree Edit Distance: 65
Partial Match Score
- table_asts: 0.7475
- sel_asts: 0.4815
- cond_asts: 0.3790
- agg_asts: 0.4286
- orderby_asts: 0.3113
- subqueries: 0.0
- distinct: None
- limit: 1.0000
Average score
- structural: 0.4526
- semantic: 0.5214
- overall: 0.4783
[0.43007 0.49921 0.43946]

In [14]:
result_path = 'data/tpch/outputs/gpt-4o-mini_2_all/results/'
print_scores(result_path)

SELECT COUNT(*) AS order_count
FROM ORDERS T1
WHERE T1.O_ORDERDATE >= '1993-01-01'
AND T1.O_ORDERDATE < '1993-04-01'
AND EXISTS (
    SELECT *
    FROM LINEITEM T2
    WHERE T2.L_ORDERKEY = T1.O_ORDERKEY
    AND T2.L_COMMITDATE < T2.L_RECEIPTDATE
);
select
	count(*) as count
from
	orders,
	lineitem
where
	o_orderkey = l_orderkey
	and l_commitdate < l_receiptdate
	and l_receiptdate >= '1993-01-01'
	and l_receiptdate < '1994-01-01';
[SQL1]
 SELECT
  COUNT(*)
FROM orders
WHERE
  orders.o_orderdate >= '1993-01-01'
  AND orders.o_orderdate < '1993-04-01'
  AND EXISTS(
    SELECT
      *
    FROM lineitem
    WHERE
      lineitem.l_orderkey = orders.o_orderkey
      AND lineitem.l_commitdate < lineitem.l_receiptdate
  )

[SQL2]
 SELECT
  COUNT(*)
FROM orders, lineitem
WHERE
  orders.o_orderkey = lineitem.l_orderkey
  AND lineitem.l_commitdate < lineitem.l_receiptdate
  AND lineitem.l_receiptdate >= '1993-01-01'
  AND lineitem.l_receiptdate < '1994-01-01'

TSED: 0.0488
Tree Edit Distance: 39
Partial Match Score
- table_asts: 1.0000
- sel_asts: 0.4950
- cond_asts: 0.4245
- agg_asts: None
- orderby_asts: None
- subqueries: 0.0
- distinct: None
- limit: None
Average score
- structural: 0.4523
- semantic: 0.5371
- overall: 0.4799
SELECT C.C_CUSTKEY
FROM CUSTOMER C
LEFT JOIN ORDERS O ON C.C_CUSTKEY = O.O_CUSTKEY
GROUP BY C.C_CUSTKEY
ORDER BY COUNT(O.O_ORDERKEY) DESC;
select
	c_count,
	count(*) as custdist
from
	(
		select
			c_custkey,
			count(o_orderkey) as c_count
		from
			customer left outer join orders on
				c_custkey = o_custkey
		group by
			c_custkey
	) as c_orders
group by
	c_count
order by
	custdist desc,
	c_count desc;
[SQL1]
 SELECT
  customer.c_custkey
FROM customer
LEFT JOIN ORDERS AS O
  ON C.C_CUSTKEY = O.O_CUSTKEY
GROUP BY
  customer.c_custkey
ORDER BY
  COUNT(orders.o_orderkey)

[SQL2]
 SELECT
  subquery_c_orders.c_count,
  COUNT(*)
FROM (
  SELECT
    customer.c_custkey,
    COUNT(orders.o_orderkey)
  FROM customer
  LEFT OUTER JOIN orders
    ON c_custkey = o_custkey
  GROUP BY
    c_custkey
) AS c_orders
GROUP BY
  subquery_c_orders.c_count
ORDER BY
  None.custdist,
  subquery_c_orders.c_count

TSED: 0.0233
Tree Edit Distance: 42
Partial Match Score
- table_asts: 0.6633
- sel_asts: 0.2425
- cond_asts: None
- agg_asts: 0.4950
- orderby_asts: -0.0103
- subqueries: 0.0
- distinct: None
- limit: None
Average score
- structural: 0.2792
- semantic: 0.3134
- overall: 0.2781
SELECT SUM(l_extendedprice * (1 - l_discount)) * 100.0 / (SELECT SUM(l_extendedprice * (1 - l_discount)) FROM lineitem l2 JOIN partsupp ps2 ON l2.l_partkey = ps2.ps_partkey JOIN part p2 ON ps2.ps_partkey = p2.p_partkey JOIN orders o2 ON l2.l_orderkey = o2.o_orderkey WHERE o2.o_orderdate BETWEEN '1993-09-01' AND '1993-09-30') AS revenue_percentage
FROM lineitem l
JOIN partsupp ps ON l.l_partkey = ps.ps_partkey
JOIN part p ON ps.ps_partkey = p.p_partkey
JOIN orders o ON l.l_orderkey = o.o_orderkey
WHERE p.p_type LIKE '%PROMO%' AND o.o_orderdate BETWEEN '1993-09-01' AND '1993-09-30';
select
	100.00 * sum(case
		when p_type like 'PROMO%'
			then l_extendedprice * (1 - l_discount)
		else 0
	end) / sum(l_extendedprice * (1 - l_discount)) as promo_revenue
from
	lineitem,
	part
where
	l_partkey = p_partkey
	and l_shipdate >= '1993-09-01'
	and l_shipdate < date('1993-09-01', '+1 month');
[SQL1]
 SELECT
  SUM(lineitem.l_extendedprice * (
    1 - lineitem.l_discount
  )) * 100.0 / (
    SELECT
      SUM(lineitem.l_extendedprice * (
        1 - lineitem.l_discount
      ))
    FROM lineitem AS l2
    JOIN partsupp AS ps2
      ON l2.l_partkey = ps2.ps_partkey
    JOIN part AS p2
      ON ps2.ps_partkey = p2.p_partkey
    JOIN orders AS o2
      ON l2.l_orderkey = o2.o_orderkey
    WHERE
      o2.o_orderdate BETWEEN '1993-09-01' AND '1993-09-30'
  )
FROM lineitem
JOIN partsupp AS ps
  ON l.l_partkey = ps.ps_partkey
JOIN part AS p
  ON ps.ps_partkey = p.p_partkey
JOIN orders AS o
  ON l.l_orderkey = o.o_orderkey
WHERE
  part.p_type LIKE '%PROMO%'
  AND orders.o_orderdate BETWEEN '1993-09-01' AND '1993-09-30'

[SQL2]
 SELECT
  100.00 * SUM(
    CASE
      WHEN part.p_type LIKE 'PROMO%'
      THEN lineitem.l_extendedprice * (
        1 - lineitem.l_discount
      )
      ELSE 0
    END
  ) / SUM(lineitem.l_extendedprice * (
    1 - lineitem.l_discount
  ))
FROM lineitem, part
WHERE
  lineitem.l_partkey = part.p_partkey
  AND lineitem.l_shipdate >= '1993-09-01'
  AND lineitem.l_shipdate < DATE('1993-09-01', '+1 month')

TSED: 0.1172
Tree Edit Distance: 113
Partial Match Score
- table_asts: 0.4950
- sel_asts: 0.1873
- cond_asts: 0.2237
- agg_asts: None
- orderby_asts: None
- subqueries: 0.0
- distinct: None
- limit: None
Average score
- structural: 0.2038
- semantic: 0.2742
- overall: 0.2265
SELECT s.s_suppkey
FROM supplier s
JOIN lineitem l ON s.s_suppkey = l.l_suppkey
JOIN orders o ON l.l_orderkey = o.o_orderkey
WHERE l.l_shipdate >= '1993-03-01' AND l.l_shipdate < '1993-06-01'
GROUP BY s.s_suppkey
ORDER BY SUM(l.l_extendedprice * (1 - l.l_discount)) DESC
LIMIT 1;

with revenue0 as
	(select
		l_suppkey as supplier_no,
		sum(l_extendedprice * (1 - l_discount)) as total_revenue
	from
		lineitem
	where
		l_shipdate >= '1993-03-01'
		and l_shipdate < date('1993-03-01', '+3 months')
	group by
		l_suppkey)

select
	s_suppkey, s_name
from
	supplier,
	revenue0
where
	s_suppkey = supplier_no
	and total_revenue = (
		select
			max(total_revenue)
		from
			revenue0
	)
order by
	total_revenue desc
limit 1;
[SQL1]
 SELECT
  supplier.s_suppkey
FROM supplier
JOIN lineitem AS l
  ON s.s_suppkey = l.l_suppkey
JOIN orders AS o
  ON l.l_orderkey = o.o_orderkey
WHERE
  lineitem.l_shipdate >= '1993-03-01' AND lineitem.l_shipdate < '1993-06-01'
GROUP BY
  supplier.s_suppkey
ORDER BY
  SUM(lineitem.l_extendedprice * (
    1 - lineitem.l_discount
  ))
LIMIT 1

[SQL2]
 WITH revenue0 AS (
  SELECT
    l_suppkey AS supplier_no,
    SUM(l_extendedprice * (
      1 - l_discount
    )) AS total_revenue
  FROM lineitem
  WHERE
    l_shipdate >= '1993-03-01' AND l_shipdate < DATE('1993-03-01', '+3 months')
  GROUP BY
    l_suppkey
)
SELECT
  supplier.s_suppkey,
  supplier.s_name
FROM supplier, revenue0
WHERE
  supplier.s_suppkey = None.supplier_no
  AND None.total_revenue = (
    SELECT
      MAX(None.total_revenue)
    FROM revenue0
  )
ORDER BY
  None.total_revenue
LIMIT 1

TSED: 0.0000
Tree Edit Distance: 80
Partial Match Score
- table_asts: 0.5223
- sel_asts: 0.1920
- cond_asts: 0.4003
- agg_asts: 0.0
- orderby_asts: 0.0
- subqueries: 0.0
- distinct: None
- limit: 1.0000
Average score
- structural: 0.2968
- semantic: 0.4130
- overall: 0.3021
SELECT COUNT(DISTINCT ps.PS_SUPPKEY) AS supplier_count
FROM PARTSUPP ps
JOIN PART p ON ps.PS_PARTKEY = p.P_PARTKEY
WHERE p.P_SIZE = 49;
select
	count(distinct ps_suppkey) as supplier_cnt
from
	partsupp,
	part
where
	p_partkey = ps_partkey
	and p_size in (49);
[SQL1]
 SELECT
  COUNT(DISTINCT ps.PS_SUPPKEY)
FROM partsupp
JOIN PART AS p
  ON ps.PS_PARTKEY = p.P_PARTKEY
WHERE
  part.p_size = 49

[SQL2]
 SELECT
  COUNT(DISTINCT ps_suppkey)
FROM partsupp, part
WHERE
  part.p_partkey = partsupp.ps_partkey AND part.p_size IN (49)

TSED: 0.1852
Tree Edit Distance: 22
Partial Match Score
- table_asts: 1.0000
- sel_asts: 0.0
- cond_asts: 0.3894
- agg_asts: None
- orderby_asts: None
- subqueries: None
- distinct: 1.0000
- limit: None
Average score
- structural: 0.5988
- semantic: 0.7917
- overall: 0.5974
select sum(l_extendedprice * (1 - l_discount)) as revenue
from lineitem l
join part p on l.l_partkey = p.p_partkey
where p.p_brand = 'Brand#23'
select
	sum(l_extendedprice) / (strftime('%Y', max(o_orderdate))-strftime('%Y', min(o_orderdate))) as avg_yearly
from
	lineitem,
    orders,
	part
where
	p_partkey = l_partkey
    and l_orderkey = o_orderkey
	and p_brand = 'Brand#23';
[SQL1]
 SELECT
  SUM(lineitem.l_extendedprice * (
    1 - lineitem.l_discount
  ))
FROM lineitem
JOIN part AS p
  ON l.l_partkey = p.p_partkey
WHERE
  part.p_brand = 'Brand#23'

[SQL2]
 SELECT
  SUM(lineitem.l_extendedprice) / (
    STRFTIME('%Y', MAX(orders.o_orderdate)) - STRFTIME('%Y', MIN(orders.o_orderdate))
  )
FROM lineitem, orders, part
WHERE
  part.p_partkey = lineitem.l_partkey
  AND lineitem.l_orderkey = orders.o_orderkey
  AND part.p_brand = 'Brand#23'

TSED: 0.1961
Tree Edit Distance: 41
Partial Match Score

- table_asts: 0.6633
- sel_asts: 0.1480
- cond_asts: 0.3267
- agg_asts: None
- orderby_asts: None
- subqueries: None
- distinct: None
- limit: None
Average score
- structural: 0.3651
- semantic: 0.4131
- overall: 0.3793
SELECT COUNT(DISTINCT c.C_CUSTKEY) AS customer_count
FROM CUSTOMER c
JOIN ORDERS o ON c.C_CUSTKEY = o.O_CUSTKEY
JOIN LINEITEM l ON o.O_ORDERKEY = l.L_ORDERKEY
GROUP BY c.C_CUSTKEY
HAVING SUM(l.L_QUANTITY) > 300;
select
	count(distinct c_custkey)
from
	customer,
	orders,
	lineitem
where
	o_orderkey in (
		select
			l_orderkey
		from
			lineitem
		group by
			l_orderkey having
				sum(l_quantity) > 300
	)
	and c_custkey = o_custkey
	and o_orderkey = l_orderkey;
[SQL1]
 SELECT
  COUNT(DISTINCT c.C_CUSTKEY)
FROM customer
JOIN ORDERS AS o
  ON c.C_CUSTKEY = o.O_CUSTKEY
JOIN LINEITEM AS l
  ON o.O_ORDERKEY = l.L_ORDERKEY
GROUP BY
  customer.c_custkey
HAVING
  SUM(lineitem.l_quantity) > 300

[SQL2]
 SELECT
  COUNT(DISTINCT c_custkey)
FROM customer, orders, lineitem
WHERE
  orders.o_orderkey IN (
    SELECT
      lineitem.l_orderkey
    FROM lineitem
    GROUP BY
      l_orderkey
    HAVING
      SUM(l_quantity) > 300
  )
  AND customer.c_custkey = orders.o_custkey
  AND orders.o_orderkey = lineitem.l_orderkey

TSED: 0.0000
Tree Edit Distance: 56
Partial Match Score
- table_asts: 0.7475
- sel_asts: -0.0101
- cond_asts: 0.2425
- agg_asts: 0.0
- orderby_asts: None
- subqueries: 0.0
- distinct: 1.0000
- limit: None
Average score
- structural: 0.3308
- semantic: 0.4604
- overall: 0.3300
SELECT SUM(L.L_EXTENDEDPRICE * L.L_DISCOUNT) AS revenue
FROM LINEITEM AS L
JOIN PARTSUPP AS PS ON L.L_PARTKEY = PS.PS_PARTKEY
JOIN PART AS P ON PS.PS_PARTKEY = P.P_PARTKEY
JOIN ORDERS AS O ON L.L_ORDERKEY = O.O_ORDERKEY
WHERE L.L_SHIPMODE = 'AIR' AND P.P_BRAND = 'Brand#12'
select
	sum(l_extendedprice* (1 - l_discount)) as revenue
from
	lineitem,
	part
where
	(
		p_partkey = l_partkey
        and p_brand = 'Brand#12'
		and l_shipmode in ('AIR', 'AIR REG')
	);
[SQL1]
 SELECT
  SUM(lineitem.l_extendedprice * lineitem.l_discount)
FROM lineitem
JOIN PARTSUPP AS PS
  ON L.L_PARTKEY = PS.PS_PARTKEY
JOIN PART AS P
  ON PS.PS_PARTKEY = P.P_PARTKEY
JOIN ORDERS AS O
  ON L.L_ORDERKEY = O.O_ORDERKEY
WHERE
  lineitem.l_shipmode = 'AIR' AND part.p_brand = 'Brand#12'

[SQL2]
 SELECT
  SUM(lineitem.l_extendedprice * (
    1 - lineitem.l_discount
  ))
FROM lineitem, part
WHERE
  (
    part.p_partkey = lineitem.l_partkey
    AND part.p_brand = 'Brand#12'
    AND lineitem.l_shipmode IN ('AIR', 'AIR REG')
  )

TSED: 0.1000
Tree Edit Distance: 54
Partial Match Score
- table_asts: 0.4950
- sel_asts: 0.6081
- cond_asts: 0.5537
- agg_asts: None
- orderby_asts: None
- subqueries: None
- distinct: None
- limit: None
Average score
- structural: 0.5309
- semantic: 0.5791
- overall: 0.5523
SELECT COUNT(DISTINCT s.s_suppkey) AS supplier_count
FROM supplier s
JOIN nation n ON s.s_nationkey = n.n_nationkey
JOIN partsupp ps ON s.s_suppkey = ps.ps_suppkey
JOIN lineitem l ON ps.ps_partkey = l.l_partkey AND ps.ps_suppkey = l.l_suppkey
JOIN orders o ON l.l_orderkey = o.o_orderkey
WHERE n.n_name = 'CANADA'
AND l.l_shipdate BETWEEN '1993-01-01' AND '1993-12-31'
AND l.l_quantity > 0.5 * ps.ps_availqty;
select
	count(distinct s_name) as count
from
	supplier,
	nation
where
	s_suppkey in (
		select
			ps_suppkey
		from
			partsupp,
			(
				select
					l_partkey agg_partkey,
					l_suppkey agg_suppkey,
					0.5 * sum(l_quantity) AS agg_quantity
				from
					lineitem
				where
					l_shipdate >= '1993-01-01'
					and l_shipdate < '1994-01-01'
				group by
					l_partkey,
					l_suppkey
			) agg_lineitem
		where
			agg_partkey = ps_partkey
			and agg_suppkey = ps_suppkey
			and ps_availqty > agg_quantity
	)
	and s_nationkey = n_nationkey
	and n_name = 'CANADA';
[SQL1]
 SELECT
  COUNT(DISTINCT s.s_suppkey)
FROM supplier
JOIN nation AS n
  ON s.s_nationkey = n.n_nationkey
JOIN partsupp AS ps
  ON s.s_suppkey = ps.ps_suppkey
JOIN lineitem AS l
  ON ps.ps_partkey = l.l_partkey AND ps.ps_suppkey = l.l_suppkey
JOIN orders AS o
  ON l.l_orderkey = o.o_orderkey
WHERE
  nation.n_name = 'CANADA'
  AND lineitem.l_shipdate BETWEEN '1993-01-01' AND '1993-12-31'
  AND lineitem.l_quantity > 0.5 * partsupp.ps_availqty

[SQL2]
 SELECT
  COUNT(DISTINCT s_name)
FROM supplier, nation
WHERE
  supplier.s_suppkey IN (
    SELECT
      partsupp.ps_suppkey
    FROM partsupp, (
      SELECT
        l_partkey AS agg_partkey,
        l_suppkey AS agg_suppkey,
        0.5 * SUM(l_quantity) AS agg_quantity
      FROM lineitem
      WHERE
        l_shipdate >= '1993-01-01' AND l_shipdate < '1994-01-01'
      GROUP BY
        l_partkey,
        l_suppkey
    ) AS agg_lineitem
    WHERE
      agg_partkey = ps_partkey
      AND agg_suppkey = ps_suppkey
      AND ps_availqty > agg_quantity
  )
  AND supplier.s_nationkey = nation.n_nationkey
  AND nation.n_name = 'CANADA'

TSED: 0.0000
Tree Edit Distance: 111
Partial Match Score
- table_asts: 0.7528
- sel_asts: -0.0170
- cond_asts: 0.2370
- agg_asts: 0.0
- orderby_asts: None
- subqueries: 0.0
- distinct: 1.0000
- limit: None
Average score
- structural: 0.3347
- semantic: 0.3519
- overall: 0.3288
SELECT S.S_SUPPKEY, COUNT(*) AS late_delivery_count
FROM SUPPLIER S
JOIN NATION N ON S.S_NATIONKEY = N.N_NATIONKEY
JOIN PARTSUPP PS ON S.S_SUPPKEY = PS.PS_SUPPKEY
JOIN LINEITEM L ON PS.PS_PARTKEY = L.L_PARTKEY
JOIN ORDERS O ON L.L_ORDERKEY = O.O_ORDERKEY
WHERE N.N_NAME = 'GERMANY' AND L.L_COMMITDATE < L.L_RECEIPTDATE
GROUP BY S.S_SUPPKEY
ORDER BY late_delivery_count DESC
LIMIT 100;
select
	s_name,
	count(*) as numwait
from
	supplier,
	lineitem l1,
	orders,
	nation
where
	s_suppkey = l1.l_suppkey
	and o_orderkey = l1.l_orderkey
	and l1.l_receiptdate > l1.l_commitdate
	and s_nationkey = n_nationkey
	and n_name = 'GERMANY'
group by
	s_name
order by
    numwait desc
limit 100;
[SQL1]
 SELECT
  supplier.s_suppkey,
  COUNT(*)
FROM supplier
JOIN NATION AS N
  ON S.S_NATIONKEY = N.N_NATIONKEY
JOIN PARTSUPP AS PS
  ON S.S_SUPPKEY = PS.PS_SUPPKEY
JOIN LINEITEM AS L
  ON PS.PS_PARTKEY = L.L_PARTKEY
JOIN ORDERS AS O
  ON L.L_ORDERKEY = O.O_ORDERKEY
WHERE
  nation.n_name = 'GERMANY' AND lineitem.l_commitdate < lineitem.l_receiptdate
GROUP BY
  supplier.s_suppkey
ORDER BY
  None.late_delivery_count
LIMIT 100

[SQL2]
 SELECT
  supplier.s_name,
  COUNT(*)
FROM supplier, lineitem AS l1, orders, nation
WHERE
  supplier.s_suppkey = lineitem.l_suppkey
  AND orders.o_orderkey = lineitem.l_orderkey
  AND lineitem.l_receiptdate > lineitem.l_commitdate
  AND supplier.s_nationkey = nation.n_nationkey
  AND nation.n_name = 'GERMANY'
GROUP BY
  supplier.s_name
ORDER BY
  None.numwait
LIMIT 100

TSED: 0.0864
Tree Edit Distance: 74
Partial Match Score
- table_asts: 0.7980
- sel_asts: 0.7273
- cond_asts: 0.3009
- agg_asts: 0.4286
- orderby_asts: 0.3113
- subqueries: None
- distinct: None
- limit: 1.0000
Average score
- structural: 0.5637
- semantic: 0.6442
- overall: 0.5943
[0.39561 0.47781 0.40687]

In [14]:
result_path = 'data/tpch/outputs/gpt-4o-mini_3_all/results/'
print_scores(result_path)

select count(*) as order_count
from orders o
where o.o_orderdate >= '1993-01-01'
  and o.o_orderdate < '1994-01-01'
  and exists (
    select *
    from lineitem l
    where l.l_orderkey = o.o_orderkey
      and l.l_commitdate < l.l_receiptdate
  );
select
	count(*) as count
from
	orders,
	lineitem
where
	o_orderkey = l_orderkey
	and l_commitdate < l_receiptdate
	and l_receiptdate >= '1993-01-01'
	and l_receiptdate < '1994-01-01';
[SQL1]
 SELECT
  COUNT(*)
FROM orders
WHERE
  orders.o_orderdate >= '[placeholder-type:string]'
  AND orders.o_orderdate < '[placeholder-type:string]'
  AND EXISTS(
    SELECT
      *
    FROM lineitem
    WHERE
      lineitem.l_orderkey = orders.o_orderkey
      AND lineitem.l_commitdate < lineitem.l_receiptdate
  )

[SQL2]
 SELECT
  COUNT(*)
FROM orders, lineitem
WHERE
  orders.o_orderkey = lineitem.l_orderkey
  AND lineitem.l_commitdate < lineitem.l_receiptdate
  AND lineitem.l_receiptdate >= '[placeholder-type:string]'
  AND lineitem.l_receiptdate < '[placeholder-type:string]'

TSED: 0.0488
Tree Edit Distance: 39
Partial Match Score
- table_asts: 0.9091
- sel_asts: 0.4950
- cond_asts: 0.4245
- agg_asts: None
- orderby_asts: None
- subqueries: 0.0
- distinct: None
- limit: None
Overall Score: 0.4571
SELECT C.C_CUSTKEY
FROM CUSTOMER C
LEFT JOIN ORDERS O ON C.C_CUSTKEY = O.O_CUSTKEY
GROUP BY C.C_CUSTKEY
ORDER BY COUNT(O.O_ORDERKEY) DESC;
select
	c_count,
	count(*) as custdist
from
	(
		select
			c_custkey,
			count(o_orderkey) as c_count
		from
			customer left outer join orders on
				c_custkey = o_custkey
		group by
			c_custkey
	) as c_orders
group by
	c_count
order by
	custdist desc,
	c_count desc;
[SQL1]
 SELECT
  customer.c_custkey
FROM customer
LEFT JOIN orders
  ON C.C_CUSTKEY = O.O_CUSTKEY
GROUP BY
  customer.c_custkey
ORDER BY
  COUNT(orders.o_orderkey)

[SQL2]
 SELECT
  subquery_c_orders.c_count,
  COUNT(*)
FROM (
  SELECT
    customer.c_custkey,
    COUNT(orders.o_orderkey)
  FROM customer
  LEFT OUTER JOIN orders
    ON c_custkey = o_custkey
  GROUP BY
    customer.c_custkey
) AS c_orders
GROUP BY
  subquery_c_orders.c_count
ORDER BY
  None.custdist,
  subquery_c_orders.c_count

TSED: 0.2045
Tree Edit Distance: 35
Partial Match Score
- table_asts: 0.6633
- sel_asts: 0.2425
- cond_asts: None
- agg_asts: 0.4950
- orderby_asts: -0.0103
- subqueries: 0.0
- distinct: None
- limit: None
Overall Score: 0.2781
SELECT SUM(l_extendedprice * (1 - l_discount)) AS revenue FROM lineitem T1 JOIN part T2 ON T1.L_PARTKEY = T2.P_PARTKEY WHERE T2.P_TYPE LIKE 'PROMO' AND T1.L_SHIPDATE >= '1993-09-01' AND T1.L_SHIPDATE < '1993-10-01';
select
	100.00 * sum(case
		when p_type like 'PROMO%'
			then l_extendedprice * (1 - l_discount)
		else 0
	end) / sum(l_extendedprice * (1 - l_discount)) as promo_revenue
from
	lineitem,
	part
where
	l_partkey = p_partkey
	and l_shipdate >= '1993-09-01'
	and l_shipdate < date('1993-09-01', '+1 month');
[SQL1]
 SELECT
  SUM(lineitem.l_extendedprice * (
    1 - lineitem.l_discount
  ))
FROM lineitem
JOIN part
  ON T1.L_PARTKEY = T2.P_PARTKEY
WHERE
  part.p_type LIKE '[placeholder-type:string]'
  AND lineitem.l_shipdate >= '[placeholder-type:string]'
  AND lineitem.l_shipdate < '[placeholder-type:string]'

[SQL2]
 SELECT
  100.00 * SUM(
    CASE
      WHEN part.p_type LIKE 'PROMO%'
      THEN lineitem.l_extendedprice * (
        1 - lineitem.l_discount
      )
      ELSE 0
    END
  ) / SUM(lineitem.l_extendedprice * (
    1 - lineitem.l_discount
  ))
FROM lineitem, part
WHERE
  lineitem.l_partkey = part.p_partkey
  AND lineitem.l_shipdate >= '[placeholder-type:string]'
  AND lineitem.l_shipdate < DATE('[placeholder-type:string]', '[placeholder-type:string]')

TSED: 0.2903
Tree Edit Distance: 44
Partial Match Score
- table_asts: 1.0000
- sel_asts: 0.3848
- cond_asts: 0.5774
- agg_asts: None
- orderby_asts: None
- subqueries: None
- distinct: None
- limit: None
Overall Score: 0.6541
select s.s_suppkey, sum(l.l_extendedprice * (1 - l.l_discount)) as revenue
from supplier s,
     lineitem l,
     orders o
where s.s_suppkey = l.l_suppkey
  and o.o_orderkey = l.l_orderkey
  and o.o_orderdate >= '1993-03-01'
  and o.o_orderdate < '1993-06-01'
group by s.s_suppkey
order by revenue desc
LIMIT 1;

with revenue0 as
	(select
		l_suppkey as supplier_no,
		sum(l_extendedprice * (1 - l_discount)) as total_revenue
	from
		lineitem
	where
		l_shipdate >= '1993-03-01'
		and l_shipdate < date('1993-03-01', '+3 months')
	group by
		l_suppkey)

select
	s_suppkey, s_name
from
	supplier,
	revenue0
where
	s_suppkey = supplier_no
	and total_revenue = (
		select
			max(total_revenue)
		from
			revenue0
	)
order by
	total_revenue desc
limit 1;
[SQL1]
 SELECT
  supplier.s_suppkey,
  SUM(lineitem.l_extendedprice * (
    1 - lineitem.l_discount
  ))
FROM supplier, lineitem, orders
WHERE
  supplier.s_suppkey = lineitem.l_suppkey
  AND orders.o_orderkey = lineitem.l_orderkey
  AND orders.o_orderdate >= '[placeholder-type:string]'
  AND orders.o_orderdate < '[placeholder-type:string]'
GROUP BY
  supplier.s_suppkey
ORDER BY
  None.revenue
LIMIT 1

[SQL2]
 WITH revenue0 AS (
  SELECT
    lineitem.l_suppkey,
    SUM(lineitem.l_extendedprice * (
      1 - lineitem.l_discount
    ))
  FROM lineitem
  WHERE
    lineitem.l_shipdate >= '[placeholder-type:string]'
    AND lineitem.l_shipdate < DATE('[placeholder-type:string]', '[placeholder-type:string]')
  GROUP BY
    lineitem.l_suppkey
)
SELECT
  supplier.s_suppkey,
  supplier.s_name
FROM supplier, revenue0
WHERE
  supplier.s_suppkey = None.supplier_no
  AND None.total_revenue = (
    SELECT
      MAX(None.total_revenue)
    FROM revenue0
  )
ORDER BY
  None.total_revenue
LIMIT 1

TSED: 0.0000
Tree Edit Distance: 82
Partial Match Score
- table_asts: 0.4724
- sel_asts: 0.3940
- cond_asts: 0.2852
- agg_asts: 0.0000
- orderby_asts: 0.4386
- subqueries: 0.0
- distinct: None
- limit: 1.0000
Overall Score: 0.3700
SELECT COUNT(DISTINCT S.S_SUPPKEY) AS supplier_count
FROM SUPPLIER S
JOIN PARTSUPP PS ON S.S_SUPPKEY = PS.PS_SUPPKEY
JOIN PART P ON PS.PS_PARTKEY = P.P_PARTKEY
WHERE P.P_SIZE = 49;
select
	count(distinct ps_suppkey) as supplier_cnt
from
	partsupp,
	part
where
	p_partkey = ps_partkey
	and p_size in (49);
[SQL1]
 SELECT
  COUNT(DISTINCT S.S_SUPPKEY)
FROM supplier
JOIN partsupp
  ON S.S_SUPPKEY = PS.PS_SUPPKEY
JOIN part
  ON PS.PS_PARTKEY = P.P_PARTKEY
WHERE
  part.p_size = [placeholder-type:numeric]

[SQL2]
 SELECT
  COUNT(DISTINCT ps_suppkey)
FROM partsupp, part
WHERE
  part.p_partkey = partsupp.ps_partkey
  AND part.p_size IN ([placeholder-type:numeric])

TSED: 0.1429
Tree Edit Distance: 30
Partial Match Score
- table_asts: 0.6027
- sel_asts: 0.0000
- cond_asts: 0.3894
- agg_asts: None
- orderby_asts: None
- subqueries: None
- distinct: 1.0000
- limit: None
Overall Score: 0.4980
SELECT SUM(L.L_EXTENDEDPRICE * L.L_DISCOUNT) AS revenue
FROM LINEITEM AS L
JOIN PARTSUPP AS PS ON L.L_PARTKEY = PS.PS_PARTKEY
JOIN PART AS P ON PS.PS_PARTKEY = P.P_PARTKEY
WHERE P.P_BRAND = 'Brand#23'
select
	sum(l_extendedprice) / (strftime('%Y', max(o_orderdate))-strftime('%Y', min(o_orderdate))) as avg_yearly
from
	lineitem,
    orders,
	part
where
	p_partkey = l_partkey
    and l_orderkey = o_orderkey
	and p_brand = 'Brand#23';
[SQL1]
 SELECT
  SUM(lineitem.l_extendedprice * lineitem.l_discount)
FROM lineitem
JOIN partsupp
  ON L.L_PARTKEY = PS.PS_PARTKEY
JOIN part
  ON PS.PS_PARTKEY = P.P_PARTKEY
WHERE
  part.p_brand = '[placeholder-type:string]'

[SQL2]
 SELECT
  SUM(lineitem.l_extendedprice) / (
    STRFTIME('%Y', MAX(orders.o_orderdate)) - STRFTIME('%Y', MIN(orders.o_orderdate))
  )
FROM lineitem, orders, part
WHERE
  part.p_partkey = lineitem.l_partkey
  AND lineitem.l_orderkey = orders.o_orderkey
  AND part.p_brand = '[placeholder-type:string]'

TSED: 0.0980
Tree Edit Distance: 46
Partial Match Score
- table_asts: 0.7466
- sel_asts: 0.1608
- cond_asts: 0.3267
- agg_asts: None
- orderby_asts: None
- subqueries: None
- distinct: None
- limit: None
Overall Score: 0.4114
SELECT COUNT(DISTINCT c.C_CUSTKEY) AS customer_count
FROM CUSTOMER c
JOIN ORDERS o ON c.C_CUSTKEY = o.O_CUSTKEY
JOIN LINEITEM l ON o.O_ORDERKEY = l.L_ORDERKEY
WHERE l.L_QUANTITY > 300;
select
	count(distinct c_custkey)
from
	customer,
	orders,
	lineitem
where
	o_orderkey in (
		select
			l_orderkey
		from
			lineitem
		group by
			l_orderkey having
				sum(l_quantity) > 300
	)
	and c_custkey = o_custkey
	and o_orderkey = l_orderkey;
[SQL1]
 SELECT
  COUNT(DISTINCT c.C_CUSTKEY)
FROM customer
JOIN orders
  ON c.C_CUSTKEY = o.O_CUSTKEY
JOIN lineitem
  ON o.O_ORDERKEY = l.L_ORDERKEY
WHERE
  lineitem.l_quantity > [placeholder-type:numeric]

[SQL2]
 SELECT
  COUNT(DISTINCT c_custkey)
FROM customer, orders, lineitem
WHERE
  orders.o_orderkey IN (
    SELECT
      lineitem.l_orderkey
    FROM lineitem
    GROUP BY
      lineitem.l_orderkey
    HAVING
      SUM(lineitem.l_quantity) > [placeholder-type:numeric]
  )
  AND customer.c_custkey = orders.o_custkey
  AND orders.o_orderkey = lineitem.l_orderkey

TSED: 0.0741
Tree Edit Distance: 50
Partial Match Score

- table_asts: 0.7475
- sel_asts: -0.0101
- cond_asts: 0.1753
- agg_asts: 0.0
- orderby_asts: None
- subqueries: 0.0
- distinct: 1.0000
- limit: None
Overall Score: 0.3188
SELECT SUM(L.L_EXTENDEDPRICE * L.L_DISCOUNT) AS revenue
FROM LINEITEM AS L
JOIN PARTSUPP AS PS ON L.L_PARTKEY = PS.PS_PARTKEY
JOIN PART AS P ON PS.PS_PARTKEY = P.P_PARTKEY
JOIN ORDERS AS O ON L.L_ORDERKEY = O.O_ORDERKEY
WHERE L.L_SHIPMODE = 'air' AND P.P_BRAND = 'Brand#12'
select
	sum(l_extendedprice* (1 - l_discount)) as revenue
from
	lineitem,
	part
where
	(
		p_partkey = l_partkey
        and p_brand = 'Brand#12'
		and l_shipmode in ('AIR', 'AIR REG')
	);
[SQL1]
 SELECT
  SUM(lineitem.l_extendedprice * lineitem.l_discount)
FROM lineitem
JOIN partsupp
  ON L.L_PARTKEY = PS.PS_PARTKEY
JOIN part
  ON PS.PS_PARTKEY = P.P_PARTKEY
JOIN orders
  ON L.L_ORDERKEY = O.O_ORDERKEY
WHERE
  lineitem.l_shipmode = '[placeholder-type:string]'
  AND part.p_brand = '[placeholder-type:string]'

[SQL2]
 SELECT
  SUM(lineitem.l_extendedprice * (
    1 - lineitem.l_discount
  ))
FROM lineitem, part
WHERE
  (
    part.p_partkey = lineitem.l_partkey
    AND part.p_brand = '[placeholder-type:string]'
    AND lineitem.l_shipmode IN ('[placeholder-type:string]', '[placeholder-type:string]')
  )

TSED: 0.1481
Tree Edit Distance: 46
Partial Match Score
- table_asts: 0.4950
- sel_asts: 0.6081
- cond_asts: 0.5537
- agg_asts: None
- orderby_asts: None
- subqueries: None
- distinct: None
- limit: None
Overall Score: 0.5523
SELECT COUNT(DISTINCT s.s_suppkey) AS supplier_count
FROM partsupp ps
JOIN supplier s ON ps.ps_suppkey = s.s_suppkey
JOIN nation n ON s.s_nationkey = n.n_nationkey
JOIN lineitem l ON ps.ps_partkey = l.l_partkey
WHERE n.n_name = 'CANADA'
AND l.l_shipdate BETWEEN '1993-01-01' AND '1993-12-31'
AND l.l_quantity > 0.5 * ps.ps_availqty;
select
	count(distinct s_name) as count
from
	supplier,
	nation
where
	s_suppkey in (
		select
			ps_suppkey
		from
			partsupp,
			(
				select
					l_partkey agg_partkey,
					l_suppkey agg_suppkey,
					0.5 * sum(l_quantity) AS agg_quantity
				from
					lineitem
				where
					l_shipdate >= '1993-01-01'
					and l_shipdate < '1994-01-01'
				group by
					l_partkey,
					l_suppkey
			) agg_lineitem
		where
			agg_partkey = ps_partkey
			and agg_suppkey = ps_suppkey
			and ps_availqty > agg_quantity
	)
	and s_nationkey = n_nationkey
	and n_name = 'CANADA';
[SQL1]
 SELECT
  COUNT(DISTINCT s.s_suppkey)
FROM partsupp
JOIN supplier
  ON ps.ps_suppkey = s.s_suppkey
JOIN nation
  ON s.s_nationkey = n.n_nationkey
JOIN lineitem
  ON ps.ps_partkey = l.l_partkey
WHERE
  nation.n_name = '[placeholder-type:string]'
  AND lineitem.l_shipdate BETWEEN '[placeholder-type:string]' AND '[placeholder-type:string]'
  AND lineitem.l_quantity > [placeholder-type:numeric] * partsupp.ps_availqty

[SQL2]
 SELECT
  COUNT(DISTINCT s_name)
FROM supplier, nation
WHERE
  supplier.s_suppkey IN (
    SELECT
      partsupp.ps_suppkey
    FROM partsupp, (
      SELECT
        lineitem.l_partkey,
        lineitem.l_suppkey,
        0.5 * SUM(lineitem.l_quantity)
      FROM lineitem
      WHERE
        lineitem.l_shipdate >= '[placeholder-type:string]'
        AND lineitem.l_shipdate < '[placeholder-type:string]'
      GROUP BY
        lineitem.l_partkey,
        lineitem.l_suppkey
    ) AS agg_lineitem
    WHERE
      subquery_agg_lineitem.agg_partkey = partsupp.ps_partkey
      AND subquery_agg_lineitem.agg_suppkey = partsupp.ps_suppkey
      AND partsupp.ps_availqty > subquery_agg_lineitem.agg_quantity
  )
  AND supplier.s_nationkey = nation.n_nationkey
  AND nation.n_name = '[placeholder-type:string]'

TSED: 0.0000
Tree Edit Distance: 105
Partial Match Score
- table_asts: 0.7253
- sel_asts: -0.0170
- cond_asts: 0.2370
- agg_asts: 0.0
- orderby_asts: None
- subqueries: 0.0
- distinct: 1.0000
- limit: None
Overall Score: 0.3242
SELECT S.S_SUPPKEY, COUNT(*) AS late_delivery_count
FROM SUPPLIER S
JOIN NATION N ON S.S_NATIONKEY = N.N_NATIONKEY
JOIN PARTSUPP PS ON S.S_SUPPKEY = PS.PS_SUPPKEY
JOIN LINEITEM L ON PS.PS_PARTKEY = L.L_PARTKEY
JOIN ORDERS O ON L.L_ORDERKEY = O.O_ORDERKEY
WHERE N.N_NAME = 'GERMANY' AND L.L_COMMITDATE < L.L_RECEIPTDATE
GROUP BY S.S_SUPPKEY
ORDER BY late_delivery_count DESC
LIMIT 100;
select
	s_name,
	count(*) as numwait
from
	supplier,
	lineitem l1,
	orders,
	nation
where
	s_suppkey = l1.l_suppkey
	and o_orderkey = l1.l_orderkey
	and l1.l_receiptdate > l1.l_commitdate
	and s_nationkey = n_nationkey
	and n_name = 'GERMANY'
group by
	s_name
order by
    numwait desc
limit 100;
[SQL1]
 SELECT
  supplier.s_suppkey,
  COUNT(*)
FROM supplier
JOIN nation
  ON S.S_NATIONKEY = N.N_NATIONKEY
JOIN partsupp
  ON S.S_SUPPKEY = PS.PS_SUPPKEY
JOIN lineitem
  ON PS.PS_PARTKEY = L.L_PARTKEY
JOIN orders
  ON L.L_ORDERKEY = O.O_ORDERKEY
WHERE
  nation.n_name = '[placeholder-type:string]'
  AND lineitem.l_commitdate < lineitem.l_receiptdate
GROUP BY
  supplier.s_suppkey
ORDER BY
  None.late_delivery_count
LIMIT 100

[SQL2]
 SELECT
  supplier.s_name,
  COUNT(*)
FROM supplier, lineitem, orders, nation
WHERE
  supplier.s_suppkey = lineitem.l_suppkey
  AND orders.o_orderkey = lineitem.l_orderkey
  AND lineitem.l_receiptdate > lineitem.l_commitdate
  AND supplier.s_nationkey = nation.n_nationkey
  AND nation.n_name = '[placeholder-type:string]'
GROUP BY
  supplier.s_name
ORDER BY
  None.numwait
LIMIT 100

TSED: 0.0685
Tree Edit Distance: 68
Partial Match Score
- table_asts: 0.7980
- sel_asts: 0.7273
- cond_asts: 0.3009
- agg_asts: 0.4286
- orderby_asts: 0.3113
- subqueries: None
- distinct: None
- limit: 1.0000
Overall Score: 0.5943
[ 0.10752603 54.5         0.4458362 ]

In [15]:
result_path = 'data/tpch/outputs/gpt-4o-mini_1_all/results/'
print_scores(result_path)

SELECT COUNT(*) AS late_lineitem_count FROM LINEITEM T1 WHERE strftime('%Y', T1.L_RECEIPTDATE) = '1993' AND T1.L_COMMITDATE < T1.L_RECEIPTDATE;
select
	count(*) as count
from
	orders,
	lineitem
where
	o_orderkey = l_orderkey
	and l_commitdate < l_receiptdate
	and l_receiptdate >= '1993-01-01'
	and l_receiptdate < '1994-01-01';
[SQL1]
 SELECT
  COUNT(*)
FROM lineitem
WHERE
  STRFTIME('%Y', lineitem.l_receiptdate) = '1993'
  AND lineitem.l_commitdate < lineitem.l_receiptdate

[SQL2]
 SELECT
  COUNT(*)
FROM orders, lineitem
WHERE
  orders.o_orderkey = lineitem.l_orderkey
  AND lineitem.l_commitdate < lineitem.l_receiptdate
  AND lineitem.l_receiptdate >= '1993-01-01'
  AND lineitem.l_receiptdate < '1994-01-01'

TSED: 0.2703
Tree Edit Distance: 27
Partial Match Score
- table_asts: 0.4950
- sel_asts: 1.0000
- cond_asts: 0.3920
- agg_asts: None
- orderby_asts: None
- subqueries: None
- distinct: None
- limit: None
Average score
- structural: 0.6276
- semantic: 0.6304
- overall: 0.6290
SELECT COALESCE(order_count.order_count, 0) AS number_of_orders, COUNT(customer.C_CUSTKEY) AS customer_count
FROM CUSTOMER AS customer
LEFT JOIN (SELECT O_CUSTKEY, COUNT(O_ORDERKEY) AS order_count
            FROM ORDERS
            GROUP BY O_CUSTKEY) AS order_count
ON customer.C_CUSTKEY = order_count.O_CUSTKEY
GROUP BY number_of_orders
ORDER BY number_of_orders;
select
	c_count,
	count(*) as custdist
from
	(
		select
			c_custkey,
			count(o_orderkey) as c_count
		from
			customer left outer join orders on
				c_custkey = o_custkey
		group by
			c_custkey
	) as c_orders
group by
	c_count
order by
	custdist desc,
	c_count desc;
[SQL1]
 SELECT
  COALESCE(
    (
      SELECT
        O_CUSTKEY,
        COUNT(O_ORDERKEY) AS order_count
      FROM ORDERS
      GROUP BY
        O_CUSTKEY
    ).order_count,
    0
  ),
  COUNT(customer.c_custkey)
FROM customer
LEFT JOIN (
  SELECT
    O_CUSTKEY,
    COUNT(O_ORDERKEY) AS order_count
  FROM ORDERS
  GROUP BY
    O_CUSTKEY
) AS order_count
  ON customer.C_CUSTKEY = order_count.O_CUSTKEY
GROUP BY
  None.number_of_orders
ORDER BY
  None.number_of_orders

[SQL2]
 SELECT
  subquery_c_orders.c_count,
  COUNT(*)
FROM (
  SELECT
    customer.c_custkey,
    COUNT(orders.o_orderkey)
  FROM customer
  LEFT OUTER JOIN orders
    ON c_custkey = o_custkey
  GROUP BY
    c_custkey
) AS c_orders
GROUP BY
  subquery_c_orders.c_count
ORDER BY
  None.custdist,
  subquery_c_orders.c_count

TSED: 0.0000
Tree Edit Distance: 63
Partial Match Score
- table_asts: 0.7805
- sel_asts: 0.4595
- cond_asts: None
- agg_asts: 0.0
- orderby_asts: 0.1817
- subqueries: 0.3756
- distinct: None
- limit: None
Average score
- structural: 0.3156
- semantic: 0.5701
- overall: 0.3595
SELECT (SUM(L.L_EXTENDEDPRICE * (1 - L.L_DISCOUNT)) / (SELECT SUM(L2.L_EXTENDEDPRICE * (1 - L2.L_DISCOUNT)) FROM LINEITEM L2 JOIN ORDERS O2 ON L2.L_ORDERKEY = O2.O_ORDERKEY WHERE O2.O_ORDERDATE >= '1993-09-01' AND O2.O_ORDERDATE < '1993-10-01')) * 100 AS promo_revenue_percentage
FROM LINEITEM L
JOIN PARTSUPP PS ON L.L_PARTKEY = PS.PS_PARTKEY AND L.L_SUPPKEY = PS.PS_SUPPKEY
JOIN PART P ON PS.PS_PARTKEY = P.P_PARTKEY
JOIN ORDERS O ON L.L_ORDERKEY = O.O_ORDERKEY
WHERE P.P_TYPE LIKE 'PROMO' AND O.O_ORDERDATE >= '1993-09-01' AND O.O_ORDERDATE < '1993-10-01';
select
	100.00 * sum(case
		when p_type like 'PROMO%'
			then l_extendedprice * (1 - l_discount)
		else 0
	end) / sum(l_extendedprice * (1 - l_discount)) as promo_revenue
from
	lineitem,
	part
where
	l_partkey = p_partkey
	and l_shipdate >= '1993-09-01'
	and l_shipdate < date('1993-09-01', '+1 month');
[SQL1]
 SELECT
  (
    SUM(lineitem.l_extendedprice * (
      1 - lineitem.l_discount
    )) / (
      SELECT
        SUM(lineitem.l_extendedprice * (
          1 - lineitem.l_discount
        ))
      FROM LINEITEM AS L2
      JOIN ORDERS AS O2
        ON L2.L_ORDERKEY = O2.O_ORDERKEY
      WHERE
        O2.O_ORDERDATE >= '1993-09-01' AND O2.O_ORDERDATE < '1993-10-01'
    )
  ) * 100
FROM lineitem
JOIN PARTSUPP AS PS
  ON L.L_PARTKEY = PS.PS_PARTKEY AND L.L_SUPPKEY = PS.PS_SUPPKEY
JOIN PART AS P
  ON PS.PS_PARTKEY = P.P_PARTKEY
JOIN ORDERS AS O
  ON L.L_ORDERKEY = O.O_ORDERKEY
WHERE
  part.p_type LIKE 'PROMO'
  AND orders.o_orderdate >= '1993-09-01'
  AND orders.o_orderdate < '1993-10-01'

[SQL2]
 SELECT
  100.00 * SUM(
    CASE
      WHEN part.p_type LIKE 'PROMO%'
      THEN lineitem.l_extendedprice * (
        1 - lineitem.l_discount
      )
      ELSE 0
    END
  ) / SUM(lineitem.l_extendedprice * (
    1 - lineitem.l_discount
  ))
FROM lineitem, part
WHERE
  lineitem.l_partkey = part.p_partkey
  AND lineitem.l_shipdate >= '1993-09-01'
  AND lineitem.l_shipdate < DATE('1993-09-01', '+1 month')

TSED: 0.0976
Tree Edit Distance: 111
Partial Match Score
- table_asts: 0.4950
- sel_asts: 0.1873
- cond_asts: 0.1887
- agg_asts: None
- orderby_asts: None
- subqueries: 0.0
- distinct: None
- limit: None
Average score
- structural: 0.1927
- semantic: 0.3146
- overall: 0.2177
SELECT S.S_SUPPKEY
FROM LINEITEM L
JOIN PARTSUPP PS ON L.L_PARTKEY = PS.PS_PARTKEY AND L.L_SUPPKEY = PS.PS_SUPPKEY
JOIN SUPPLIER S ON PS.PS_SUPPKEY = S.S_SUPPKEY
WHERE L.L_SHIPDATE >= '1993-03-01' AND L.L_SHIPDATE < '1993-06-01'
GROUP BY S.S_SUPPKEY
ORDER BY SUM(L.L_EXTENDEDPRICE) DESC
LIMIT 1;
with revenue0 as
	(select
		l_suppkey as supplier_no,
		sum(l_extendedprice * (1 - l_discount)) as total_revenue
	from
		lineitem
	where
		l_shipdate >= '1993-03-01'
		and l_shipdate < date('1993-03-01', '+3 months')
	group by
		l_suppkey)

select
	s_suppkey, s_name
from
	supplier,
	revenue0
where
	s_suppkey = supplier_no
	and total_revenue = (
		select
			max(total_revenue)
		from
			revenue0
	)
order by
	total_revenue desc
limit 1;
[SQL1]
 SELECT
  supplier.s_suppkey
FROM lineitem
JOIN PARTSUPP AS PS
  ON L.L_PARTKEY = PS.PS_PARTKEY AND L.L_SUPPKEY = PS.PS_SUPPKEY
JOIN SUPPLIER AS S
  ON PS.PS_SUPPKEY = S.S_SUPPKEY
WHERE
  lineitem.l_shipdate >= '1993-03-01' AND lineitem.l_shipdate < '1993-06-01'
GROUP BY
  supplier.s_suppkey
ORDER BY
  SUM(lineitem.l_extendedprice)
LIMIT 1

[SQL2]
 WITH revenue0 AS (
  SELECT
    l_suppkey AS supplier_no,
    SUM(l_extendedprice * (
      1 - l_discount
    )) AS total_revenue
  FROM lineitem
  WHERE
    l_shipdate >= '1993-03-01' AND l_shipdate < DATE('1993-03-01', '+3 months')
  GROUP BY
    l_suppkey
)
SELECT
  supplier.s_suppkey,
  supplier.s_name
FROM supplier, revenue0
WHERE
  supplier.s_suppkey = None.supplier_no
  AND None.total_revenue = (
    SELECT
      MAX(None.total_revenue)
    FROM revenue0
  )
ORDER BY
  None.total_revenue
LIMIT 1

TSED: 0.0000
Tree Edit Distance: 82
Partial Match Score
- table_asts: 0.5133
- sel_asts: 0.1920
- cond_asts: 0.4003
- agg_asts: 0.0
- orderby_asts: 0.0
- subqueries: 0.0
- distinct: None
- limit: 1.0000
Average score
- structural: 0.2968
- semantic: 0.4402
- overall: 0.3008
SELECT COUNT(DISTINCT S.S_SUPPKEY) AS SupplierCount
FROM SUPPLIER S
JOIN PARTSUPP PS ON S.S_SUPPKEY = PS.PS_SUPPKEY
JOIN PART P ON PS.PS_PARTKEY = P.P_PARTKEY
WHERE P.P_SIZE = 49;
select
	count(distinct ps_suppkey) as supplier_cnt
from
	partsupp,
	part
where
	p_partkey = ps_partkey
	and p_size in (49);
[SQL1]
 SELECT
  COUNT(DISTINCT S.S_SUPPKEY)
FROM supplier
JOIN PARTSUPP AS PS
  ON S.S_SUPPKEY = PS.PS_SUPPKEY
JOIN PART AS P
  ON PS.PS_PARTKEY = P.P_PARTKEY
WHERE
  part.p_size = 49

[SQL2]
 SELECT
  COUNT(DISTINCT ps_suppkey)
FROM partsupp, part
WHERE
  part.p_partkey = partsupp.ps_partkey AND part.p_size IN (49)

TSED: 0.0513
Tree Edit Distance: 37
Partial Match Score
- table_asts: 0.6633
- sel_asts: 0.0
- cond_asts: 0.3894
- agg_asts: None
- orderby_asts: None
- subqueries: None
- distinct: 1.0000
- limit: None
Average score
- structural: 0.5146
- semantic: 0.6850
- overall: 0.5132
SELECT strftime('%Y', O.O_ORDERDATE) AS order_year, SUM(L.L_EXTENDEDPRICE) AS gross_revenue
FROM LINEITEM L
JOIN PART P ON L.L_PARTKEY = P.P_PARTKEY
JOIN ORDERS O ON L.L_ORDERKEY = O.O_ORDERKEY
WHERE P.P_BRAND = 'Brand#23'
GROUP BY order_year
ORDER BY order_year;
select
	sum(l_extendedprice) / (strftime('%Y', max(o_orderdate))-strftime('%Y', min(o_orderdate))) as avg_yearly
from
	lineitem,
    orders,
	part
where
	p_partkey = l_partkey
    and l_orderkey = o_orderkey
	and p_brand = 'Brand#23';
[SQL1]
 SELECT
  STRFTIME('%Y', orders.o_orderdate),
  SUM(lineitem.l_extendedprice)
FROM lineitem
JOIN PART AS P
  ON L.L_PARTKEY = P.P_PARTKEY
JOIN ORDERS AS O
  ON L.L_ORDERKEY = O.O_ORDERKEY
WHERE
  part.p_brand = 'Brand#23'
GROUP BY
  None.order_year
ORDER BY
  None.order_year

[SQL2]
 SELECT
  SUM(lineitem.l_extendedprice) / (
    STRFTIME('%Y', MAX(orders.o_orderdate)) - STRFTIME('%Y', MIN(orders.o_orderdate))
  )
FROM lineitem, orders, part
WHERE
  part.p_partkey = lineitem.l_partkey
  AND lineitem.l_orderkey = orders.o_orderkey
  AND part.p_brand = 'Brand#23'

TSED: 0.0000
Tree Edit Distance: 54
Partial Match Score

- table_asts: 1.0000
- sel_asts: 0.1331
- cond_asts: 0.3267
- agg_asts: 0.0
- orderby_asts: 0.0
- subqueries: None
- distinct: None
- limit: None
Average score
- structural: 0.2854
- semantic: 0.3049
- overall: 0.2920
SELECT COUNT(DISTINCT C.C_CUSTKEY) AS CustomerCount
FROM CUSTOMER C
JOIN ORDERS O ON C.C_CUSTKEY = O.O_CUSTKEY
JOIN LINEITEM L ON O.O_ORDERKEY = L.L_ORDERKEY
GROUP BY C.C_CUSTKEY
HAVING SUM(L.L_QUANTITY) > 300;
select
	count(distinct c_custkey)
from
	customer,
	orders,
	lineitem
where
	o_orderkey in (
		select
			l_orderkey
		from
			lineitem
		group by
			l_orderkey having
				sum(l_quantity) > 300
	)
	and c_custkey = o_custkey
	and o_orderkey = l_orderkey;
[SQL1]
 SELECT
  COUNT(DISTINCT C.C_CUSTKEY)
FROM customer
JOIN ORDERS AS O
  ON C.C_CUSTKEY = O.O_CUSTKEY
JOIN LINEITEM AS L
  ON O.O_ORDERKEY = L.L_ORDERKEY
GROUP BY
  customer.c_custkey
HAVING
  SUM(lineitem.l_quantity) > 300

[SQL2]
 SELECT
  COUNT(DISTINCT c_custkey)
FROM customer, orders, lineitem
WHERE
  orders.o_orderkey IN (
    SELECT
      lineitem.l_orderkey
    FROM lineitem
    GROUP BY
      l_orderkey
    HAVING
      SUM(l_quantity) > 300
  )
  AND customer.c_custkey = orders.o_custkey
  AND orders.o_orderkey = lineitem.l_orderkey

TSED: 0.0000
Tree Edit Distance: 56
Partial Match Score
- table_asts: 0.7475
- sel_asts: -0.0101
- cond_asts: 0.2425
- agg_asts: 0.0
- orderby_asts: None
- subqueries: 0.0
- distinct: 1.0000
- limit: None
Average score
- structural: 0.3308
- semantic: 0.4594
- overall: 0.3300
SELECT SUM(l.l_extendedprice * l.l_discount) AS total_discounted_revenue
FROM LINEITEM AS l
JOIN ORDERS AS o ON l.l_orderkey = o.o_orderkey
JOIN PART AS p ON l.l_partkey = p.p_partkey
WHERE l.l_shipmode = 'AIR'
AND p.p_brand = 'Brand#12';
select
	sum(l_extendedprice* (1 - l_discount)) as revenue
from
	lineitem,
	part
where
	(
		p_partkey = l_partkey
        and p_brand = 'Brand#12'
		and l_shipmode in ('AIR', 'AIR REG')
	);
[SQL1]
 SELECT
  SUM(lineitem.l_extendedprice * lineitem.l_discount)
FROM lineitem
JOIN ORDERS AS o
  ON l.l_orderkey = o.o_orderkey
JOIN PART AS p
  ON l.l_partkey = p.p_partkey
WHERE
  lineitem.l_shipmode = 'AIR' AND part.p_brand = 'Brand#12'

[SQL2]
 SELECT
  SUM(lineitem.l_extendedprice * (
    1 - lineitem.l_discount
  ))
FROM lineitem, part
WHERE
  (
    part.p_partkey = lineitem.l_partkey
    AND part.p_brand = 'Brand#12'
    AND lineitem.l_shipmode IN ('AIR', 'AIR REG')
  )

TSED: 0.1250
Tree Edit Distance: 42
Partial Match Score
- table_asts: 0.6633
- sel_asts: 0.6081
- cond_asts: 0.5537
- agg_asts: None
- orderby_asts: None
- subqueries: None
- distinct: None
- limit: None
Average score
- structural: 0.5870
- semantic: 0.6352
- overall: 0.6084
SELECT COUNT(DISTINCT S.S_SUPPKEY) AS SupplierCount
FROM SUPPLIER S
JOIN PARTSUPP PS ON S.S_SUPPKEY = PS.PS_SUPPKEY
JOIN LINEITEM L ON PS.PS_PARTKEY = L.L_PARTKEY AND PS.PS_SUPPKEY = L.L_SUPPKEY
WHERE S.S_NATIONKEY = (SELECT N.N_NATIONKEY FROM NATION N WHERE N.N_NAME = 'CANADA')
AND L.L_SHIPDATE BETWEEN '1993-01-01' AND '1993-12-31'
AND PS.PS_AVAILQTY > 0.5 * L.L_QUANTITY;
select
	count(distinct s_name) as count
from
	supplier,
	nation
where
	s_suppkey in (
		select
			ps_suppkey
		from
			partsupp,
			(
				select
					l_partkey agg_partkey,
					l_suppkey agg_suppkey,
					0.5 * sum(l_quantity) AS agg_quantity
				from
					lineitem
				where
					l_shipdate >= '1993-01-01'
					and l_shipdate < '1994-01-01'
				group by
					l_partkey,
					l_suppkey
			) agg_lineitem
		where
			agg_partkey = ps_partkey
			and agg_suppkey = ps_suppkey
			and ps_availqty > agg_quantity
	)
	and s_nationkey = n_nationkey
	and n_name = 'CANADA';
[SQL1]
 SELECT
  COUNT(DISTINCT S.S_SUPPKEY)
FROM supplier
JOIN PARTSUPP AS PS
  ON S.S_SUPPKEY = PS.PS_SUPPKEY
JOIN LINEITEM AS L
  ON PS.PS_PARTKEY = L.L_PARTKEY AND PS.PS_SUPPKEY = L.L_SUPPKEY
WHERE
  supplier.s_nationkey = (
    SELECT
      nation.n_nationkey
    FROM NATION AS N
    WHERE
      N.N_NAME = 'CANADA'
  )
  AND lineitem.l_shipdate BETWEEN '1993-01-01' AND '1993-12-31'
  AND partsupp.ps_availqty > 0.5 * lineitem.l_quantity

[SQL2]
 SELECT
  COUNT(DISTINCT s_name)
FROM supplier, nation
WHERE
  supplier.s_suppkey IN (
    SELECT
      partsupp.ps_suppkey
    FROM partsupp, (
      SELECT
        l_partkey AS agg_partkey,
        l_suppkey AS agg_suppkey,
        0.5 * SUM(l_quantity) AS agg_quantity
      FROM lineitem
      WHERE
        l_shipdate >= '1993-01-01' AND l_shipdate < '1994-01-01'
      GROUP BY
        l_partkey,
        l_suppkey
    ) AS agg_lineitem
    WHERE
      agg_partkey = ps_partkey
      AND agg_suppkey = ps_suppkey
      AND ps_availqty > agg_quantity
  )
  AND supplier.s_nationkey = nation.n_nationkey
  AND nation.n_name = 'CANADA'

TSED: 0.0000
Tree Edit Distance: 110
Partial Match Score
- table_asts: 0.7980
- sel_asts: -0.0123
- cond_asts: 0.3095
- agg_asts: 0.0
- orderby_asts: None
- subqueries: -0.0152
- distinct: 1.0000
- limit: None
Average score
- structural: 0.3446
- semantic: 0.4057
- overall: 0.3467
SELECT S.S_SUPPKEY, COUNT(L.L_ORDERKEY) AS LateDeliveries
FROM SUPPLIER S
JOIN PARTSUPP PS ON S.S_SUPPKEY = PS.PS_SUPPKEY
JOIN LINEITEM L ON PS.PS_PARTKEY = L.L_PARTKEY AND PS.PS_SUPPKEY = L.L_SUPPKEY
WHERE S.S_NATIONKEY = (SELECT N.N_NATIONKEY FROM NATION N WHERE N.N_NAME = 'GERMANY')
AND L.L_COMMITDATE < L.L_RECEIPTDATE
GROUP BY S.S_SUPPKEY
ORDER BY LateDeliveries DESC
LIMIT 100;
select
	s_name,
	count(*) as numwait
from
	supplier,
	lineitem l1,
	orders,
	nation
where
	s_suppkey = l1.l_suppkey
	and o_orderkey = l1.l_orderkey
	and l1.l_receiptdate > l1.l_commitdate
	and s_nationkey = n_nationkey
	and n_name = 'GERMANY'
group by
	s_name
order by
    numwait desc
limit 100;
[SQL1]
 SELECT
  supplier.s_suppkey,
  COUNT(lineitem.l_orderkey)
FROM supplier
JOIN PARTSUPP AS PS
  ON S.S_SUPPKEY = PS.PS_SUPPKEY
JOIN LINEITEM AS L
  ON PS.PS_PARTKEY = L.L_PARTKEY AND PS.PS_SUPPKEY = L.L_SUPPKEY
WHERE
  supplier.s_nationkey = (
    SELECT
      nation.n_nationkey
    FROM NATION AS N
    WHERE
      N.N_NAME = 'GERMANY'
  )
  AND lineitem.l_commitdate < lineitem.l_receiptdate
GROUP BY
  supplier.s_suppkey
ORDER BY
  None.latedeliveries
LIMIT 100

[SQL2]
 SELECT
  supplier.s_name,
  COUNT(*)
FROM supplier, lineitem AS l1, orders, nation
WHERE
  supplier.s_suppkey = lineitem.l_suppkey
  AND orders.o_orderkey = lineitem.l_orderkey
  AND lineitem.l_receiptdate > lineitem.l_commitdate
  AND supplier.s_nationkey = nation.n_nationkey
  AND nation.n_name = 'GERMANY'
GROUP BY
  supplier.s_name
ORDER BY
  None.numwait
LIMIT 100

TSED: 0.0488
Tree Edit Distance: 78
Partial Match Score
- table_asts: 0.8124
- sel_asts: 0.1544
- cond_asts: 0.3790
- agg_asts: 0.4286
- orderby_asts: 0.2681
- subqueries: 0.0
- distinct: None
- limit: 1.0000
Average score
- structural: 0.4054
- semantic: 0.4946
- overall: 0.4346
[0.39005 0.49401 0.40319]

## Model-based method

In [22]:
import os
import json

question_path = 'data/tpch/questions_new.json'
root_path = 'data/tpch/gold_new/'
test_queries = ['q12', 'q13', 'q14', 'q15', 'q16', 'q17', 'q18', 'q19', 'q20', 'q21']

def read_results(result_path):
    with open(question_path, 'r') as f:
        questions = json.load(f)
    
    with open(result_path, 'r') as f:
        results = json.load(f)

    for question in questions:
        ref_id = question['ref_id']
        if ref_id not in test_queries:
            continue
        with open(os.path.join(root_path, question['instance_id'])+".sql", 'r') as f:
            question['gold_sql'] = f.read()
        question['pred_sql'] = results[ref_id]

    NLsamples = []
    for i in range(len(questions)):
        q = questions[i]
        ref_id = q['ref_id']
        if ref_id not in test_queries:
            continue
        NLsamples.append({'instance_id': q['instance_id'],
                          'ref_id': q['ref_id'],
                          'question': q['question'], 
                          'gold_sql': q['gold_sql'],
                          'pred_sql': q['pred_sql'],
                         })        
    return NLsamples

def print_scores(result_path):
    scores = []
    NLsamples = read_results(result_path)
    for sample in NLsamples:
        sql1 = sample['pred_sql']
        sql2 = sample['gold_sql']
        tsed, distance, overall_score = compute_score(sql1, sql2)
        scores.append([tsed, distance, overall_score])
    scores = np.array(scores)
    print(np.mean(scores, axis=0))

In [23]:
result_path = '../CHESS/results/dev/gpt-4o-mini/tpch_new_0/2025-01-07-11-19-33/-candidate_generation.json'
print_scores(result_path)

SELECT COUNT(*) FROM LINEITEM WHERE L_RECEIPTDATE > L_COMMITDATE AND strftime('%Y', L_RECEIPTDATE) = '1993';
select
	count(*) as count
from
	orders,
	lineitem
where
	o_orderkey = l_orderkey
	and l_commitdate < l_receiptdate
	and l_receiptdate >= '1993-01-01'
	and l_receiptdate < '1994-01-01';
[SQL1]
 SELECT
  COUNT(*)
FROM lineitem
WHERE
  lineitem.l_receiptdate > lineitem.l_commitdate
  AND STRFTIME('%Y', lineitem.l_receiptdate) = '1993'

[SQL2]
 SELECT
  COUNT(*)
FROM orders, lineitem
WHERE
  orders.o_orderkey = lineitem.l_orderkey
  AND lineitem.l_commitdate < lineitem.l_receiptdate
  AND lineitem.l_receiptdate >= '1993-01-01'
  AND lineitem.l_receiptdate < '1994-01-01'

TSED: 0.2432
Tree Edit Distance: 28
Partial Match Score
- table_asts: 0.4950
- sel_asts: 1.0000
- cond_asts: 0.2956
- agg_asts: None
- orderby_asts: None
- subqueries: None
- distinct: None
- limit: None
Average score
- structural: 0.5800
- semantic: 0.6226
- overall: 0.5969
SELECT COUNT(O.O_ORDERKEY) AS order_count, COUNT(T1.C_CUSTKEY) AS customer_count FROM CUSTOMER T1 LEFT JOIN ORDERS O ON T1.C_CUSTKEY = O.O_CUSTKEY GROUP BY order_count
select
	c_count,
	count(*) as custdist
from
	(
		select
			c_custkey,
			count(o_orderkey) as c_count
		from
			customer left outer join orders on
				c_custkey = o_custkey
		group by
			c_custkey
	) as c_orders
group by
	c_count
order by
	custdist desc,
	c_count desc;
[SQL1]
 SELECT
  COUNT(orders.o_orderkey),
  COUNT(customer.c_custkey)
FROM customer
LEFT JOIN ORDERS AS O
  ON T1.C_CUSTKEY = O.O_CUSTKEY
GROUP BY
  None.order_count

[SQL2]
 SELECT
  subquery_c_orders.c_count,
  COUNT(*)
FROM (
  SELECT
    customer.c_custkey,
    COUNT(orders.o_orderkey)
  FROM customer
  LEFT OUTER JOIN orders
    ON c_custkey = o_custkey
  GROUP BY
    c_custkey
) AS c_orders
GROUP BY
  subquery_c_orders.c_count
ORDER BY
  None.custdist,
  subquery_c_orders.c_count

TSED: 0.0465
Tree Edit Distance: 41
Partial Match Score
- table_asts: 0.6633
- sel_asts: 0.4024
- cond_asts: None
- agg_asts: -0.0102
- orderby_asts: 0.0
- subqueries: 0.0
- distinct: None
- limit: None
Average score
- structural: 0.2182
- semantic: 0.2610
- overall: 0.2111
SELECT (SUM(T2.L_EXTENDEDPRICE) * 100.0 / (SELECT SUM(L_EXTENDEDPRICE) FROM LINEITEM WHERE L_SHIPDATE BETWEEN '1993-09-01' AND '1993-09-30')) AS percentage FROM LINEITEM T2 JOIN PART T1 ON T2.L_PARTKEY = T1.P_PARTKEY WHERE T1.P_TYPE LIKE 'PROMO' AND T2.L_SHIPDATE BETWEEN '1993-09-01' AND '1993-09-30';
select
	100.00 * sum(case
		when p_type like 'PROMO%'
			then l_extendedprice * (1 - l_discount)
		else 0
	end) / sum(l_extendedprice * (1 - l_discount)) as promo_revenue
from
	lineitem,
	part
where
	l_partkey = p_partkey
	and l_shipdate >= '1993-09-01'
	and l_shipdate < date('1993-09-01', '+1 month');
[SQL1]
 SELECT
  (
    SUM(lineitem.l_extendedprice) * 100.0 / (
      SELECT
        SUM(lineitem.l_extendedprice)
      FROM LINEITEM
      WHERE
        L_SHIPDATE BETWEEN '1993-09-01' AND '1993-09-30'
    )
  )
FROM lineitem
JOIN PART AS T1
  ON T2.L_PARTKEY = T1.P_PARTKEY
WHERE
  part.p_type LIKE 'PROMO'
  AND lineitem.l_shipdate BETWEEN '1993-09-01' AND '1993-09-30'

[SQL2]
 SELECT
  100.00 * SUM(
    CASE
      WHEN part.p_type LIKE 'PROMO%'
      THEN lineitem.l_extendedprice * (
        1 - lineitem.l_discount
      )
      ELSE 0
    END
  ) / SUM(lineitem.l_extendedprice * (
    1 - lineitem.l_discount
  ))
FROM lineitem, part
WHERE
  lineitem.l_partkey = part.p_partkey
  AND lineitem.l_shipdate >= '1993-09-01'
  AND lineitem.l_shipdate < DATE('1993-09-01', '+1 month')

TSED: 0.0484
Tree Edit Distance: 59
Partial Match Score
- table_asts: 1.0000
- sel_asts: 0.0597
- cond_asts: 0.3509
- agg_asts: None
- orderby_asts: None
- subqueries: 0.0
- distinct: None
- limit: None
Average score
- structural: 0.3355
- semantic: 0.3834
- overall: 0.3526
SELECT T3.S_SUPPKEY, SUM(T1.L_EXTENDEDPRICE) AS total_revenue FROM LINEITEM T1 JOIN PARTSUPP T2 ON T1.L_PARTKEY = T2.PS_PARTKEY AND T1.L_SUPPKEY = T2.PS_SUPPKEY JOIN SUPPLIER T3 ON T2.PS_SUPPKEY = T3.S_SUPPKEY WHERE T1.L_SHIPDATE >= '1993-03-01' AND T1.L_SHIPDATE < '1993-06-01' GROUP BY T3.S_SUPPKEY ORDER BY total_revenue DESC LIMIT 1;
with revenue0 as
	(select
		l_suppkey as supplier_no,
		sum(l_extendedprice * (1 - l_discount)) as total_revenue
	from
		lineitem
	where
		l_shipdate >= '1993-03-01'
		and l_shipdate < date('1993-03-01', '+3 months')
	group by
		l_suppkey)

select
	s_suppkey, s_name
from
	supplier,
	revenue0
where
	s_suppkey = supplier_no
	and total_revenue = (
		select
			max(total_revenue)
		from
			revenue0
	)
order by
	total_revenue desc
limit 1;
[SQL1]
 SELECT
  supplier.s_suppkey,
  SUM(lineitem.l_extendedprice)
FROM lineitem
JOIN PARTSUPP AS T2
  ON T1.L_PARTKEY = T2.PS_PARTKEY AND T1.L_SUPPKEY = T2.PS_SUPPKEY
JOIN SUPPLIER AS T3
  ON T2.PS_SUPPKEY = T3.S_SUPPKEY
WHERE
  lineitem.l_shipdate >= '1993-03-01' AND lineitem.l_shipdate < '1993-06-01'
GROUP BY
  supplier.s_suppkey
ORDER BY
  None.total_revenue
LIMIT 1

[SQL2]
 WITH revenue0 AS (
  SELECT
    l_suppkey AS supplier_no,
    SUM(l_extendedprice * (
      1 - l_discount
    )) AS total_revenue
  FROM lineitem
  WHERE
    l_shipdate >= '1993-03-01' AND l_shipdate < DATE('1993-03-01', '+3 months')
  GROUP BY
    l_suppkey
)
SELECT
  supplier.s_suppkey,
  supplier.s_name
FROM supplier, revenue0
WHERE
  supplier.s_suppkey = None.supplier_no
  AND None.total_revenue = (
    SELECT
      MAX(None.total_revenue)
    FROM revenue0
  )
ORDER BY
  None.total_revenue
LIMIT 1

TSED: 0.0000
Tree Edit Distance: 82
Partial Match Score
- table_asts: 0.5133
- sel_asts: 0.2712
- cond_asts: 0.4003
- agg_asts: 0.0
- orderby_asts: 1.0000
- subqueries: 0.0
- distinct: None
- limit: 1.0000
Average score
- structural: 0.4477
- semantic: 0.5616
- overall: 0.4550
SELECT COUNT(DISTINCT T2.PS_SUPPKEY) FROM PART T1 JOIN PARTSUPP T2 ON T1.P_PARTKEY = T2.PS_PARTKEY WHERE T1.P_SIZE = 49;
select
	count(distinct ps_suppkey) as supplier_cnt
from
	partsupp,
	part
where
	p_partkey = ps_partkey
	and p_size in (49);
[SQL1]
 SELECT
  COUNT(DISTINCT T2.PS_SUPPKEY)
FROM part
JOIN PARTSUPP AS T2
  ON T1.P_PARTKEY = T2.PS_PARTKEY
WHERE
  part.p_size = 49

[SQL2]
 SELECT
  COUNT(DISTINCT ps_suppkey)
FROM partsupp, part
WHERE
  part.p_partkey = partsupp.ps_partkey AND part.p_size IN (49)

TSED: 0.0741
Tree Edit Distance: 25
Partial Match Score
- table_asts: 1.0000
- sel_asts: 0.0
- cond_asts: 0.3894
- agg_asts: None
- orderby_asts: None
- subqueries: None
- distinct: 1.0000
- limit: None
Average score
- structural: 0.5988
- semantic: 0.7696
- overall: 0.5974
SELECT SUM(L_EXTENDEDPRICE) FROM LINEITEM T1 JOIN PART T2 ON T1.L_PARTKEY = T2.P_PARTKEY WHERE T2.P_BRAND = 'Brand#23';
select
	sum(l_extendedprice) / (strftime('%Y', max(o_orderdate))-strftime('%Y', min(o_orderdate))) as avg_yearly
from
	lineitem,
    orders,
	part
where
	p_partkey = l_partkey
    and l_orderkey = o_orderkey
	and p_brand = 'Brand#23';
[SQL1]
 SELECT
  SUM(lineitem.l_extendedprice)
FROM lineitem
JOIN PART AS T2
  ON T1.L_PARTKEY = T2.P_PARTKEY
WHERE
  part.p_brand = 'Brand#23'

[SQL2]
 SELECT
  SUM(lineitem.l_extendedprice) / (
    STRFTIME('%Y', MAX(orders.o_orderdate)) - STRFTIME('%Y', MIN(orders.o_orderdate))
  )
FROM lineitem, orders, part
WHERE
  part.p_partkey = lineitem.l_partkey
  AND lineitem.l_orderkey = orders.o_orderkey
  AND part.p_brand = 'Brand#23'

TSED: 0.2157
Tree Edit Distance: 40
Partial Match Score
- table_asts: 0.6633
- sel_asts: 0.2773
- cond_asts: 0.3267
- agg_asts: None
- orderby_asts: None
- subqueries: None
- distinct: None
- limit: None
Average score
- structural: 0.4002
- semantic: 0.4653
- overall: 0.4224
SELECT COUNT(DISTINCT T1.O_CUSTKEY) FROM ORDERS AS T1 JOIN LINEITEM AS T2 ON T1.O_ORDERKEY = T2.L_ORDERKEY GROUP BY T1.O_CUSTKEY HAVING SUM(T2.L_QUANTITY) > 300;
select
	count(distinct c_custkey)
from
	customer,
	orders,
	lineitem
where
	o_orderkey in (
		select
			l_orderkey
		from
			lineitem
		group by
			l_orderkey having
				sum(l_quantity) > 300
	)
	and c_custkey = o_custkey
	and o_orderkey = l_orderkey;
[SQL1]
 SELECT
  COUNT(DISTINCT T1.O_CUSTKEY)
FROM orders
JOIN LINEITEM AS T2
  ON T1.O_ORDERKEY = T2.L_ORDERKEY
GROUP BY
  orders.o_custkey
HAVING
  SUM(lineitem.l_quantity) > 300

[SQL2]
 SELECT
  COUNT(DISTINCT c_custkey)
FROM customer, orders, lineitem
WHERE
  orders.o_orderkey IN (
    SELECT
      lineitem.l_orderkey
    FROM lineitem
    GROUP BY
      l_orderkey
    HAVING
      SUM(l_quantity) > 300
  )
  AND customer.c_custkey = orders.o_custkey
  AND orders.o_orderkey = lineitem.l_orderkey

TSED: 0.0192
Tree Edit Distance: 51
Partial Match Score

- table_asts: 0.4950
- sel_asts: -0.0102
- cond_asts: 0.2425
- agg_asts: 0.0
- orderby_asts: None
- subqueries: 0.0
- distinct: 1.0000
- limit: None
Average score
- structural: 0.2888
- semantic: 0.4123
- overall: 0.2879
SELECT SUM(L_EXTENDEDPRICE * (1 - L_DISCOUNT / 100)) AS total_discounted_revenue FROM LINEITEM T1 JOIN PART T2 ON T1.L_PARTKEY = T2.P_PARTKEY WHERE T1.L_SHIPMODE = 'air' AND T2.P_BRAND = 'Brand#12';
select
	sum(l_extendedprice* (1 - l_discount)) as revenue
from
	lineitem,
	part
where
	(
		p_partkey = l_partkey
        and p_brand = 'Brand#12'
		and l_shipmode in ('AIR', 'AIR REG')
	);
[SQL1]
 SELECT
  SUM(lineitem.l_extendedprice * (
    1 - lineitem.l_discount / 100
  ))
FROM lineitem
JOIN PART AS T2
  ON T1.L_PARTKEY = T2.P_PARTKEY
WHERE
  lineitem.l_shipmode = 'air' AND part.p_brand = 'Brand#12'

[SQL2]
 SELECT
  SUM(lineitem.l_extendedprice * (
    1 - lineitem.l_discount
  ))
FROM lineitem, part
WHERE
  (
    part.p_partkey = lineitem.l_partkey
    AND part.p_brand = 'Brand#12'
    AND lineitem.l_shipmode IN ('AIR', 'AIR REG')
  )

TSED: 0.1220
Tree Edit Distance: 36
Partial Match Score
- table_asts: 1.0000
- sel_asts: 0.6644
- cond_asts: 0.5537
- agg_asts: None
- orderby_asts: None
- subqueries: None
- distinct: None
- limit: None
Average score
- structural: 0.6969
- semantic: 0.8074
- overall: 0.7394
SELECT COUNT(DISTINCT T1.S_SUPPKEY) FROM SUPPLIER T1 JOIN NATION T2 ON T1.S_NATIONKEY = T2.N_NATIONKEY JOIN LINEITEM T3 ON T1.S_SUPPKEY = T3.L_SUPPKEY JOIN PARTSUPP T4 ON T3.L_PARTKEY = T4.PS_PARTKEY AND T3.L_SUPPKEY = T4.PS_SUPPKEY WHERE T2.N_NAME = 'CANADA' AND T3.L_SHIPDATE BETWEEN '1993-01-01' AND '1993-12-31' AND T3.L_QUANTITY > 0.5 * T4.PS_AVAILQTY;
select
	count(distinct s_name) as count
from
	supplier,
	nation
where
	s_suppkey in (
		select
			ps_suppkey
		from
			partsupp,
			(
				select
					l_partkey agg_partkey,
					l_suppkey agg_suppkey,
					0.5 * sum(l_quantity) AS agg_quantity
				from
					lineitem
				where
					l_shipdate >= '1993-01-01'
					and l_shipdate < '1994-01-01'
				group by
					l_partkey,
					l_suppkey
			) agg_lineitem
		where
			agg_partkey = ps_partkey
			and agg_suppkey = ps_suppkey
			and ps_availqty > agg_quantity
	)
	and s_nationkey = n_nationkey
	and n_name = 'CANADA';
[SQL1]
 SELECT
  COUNT(DISTINCT T1.S_SUPPKEY)
FROM supplier
JOIN NATION AS T2
  ON T1.S_NATIONKEY = T2.N_NATIONKEY
JOIN LINEITEM AS T3
  ON T1.S_SUPPKEY = T3.L_SUPPKEY
JOIN PARTSUPP AS T4
  ON T3.L_PARTKEY = T4.PS_PARTKEY AND T3.L_SUPPKEY = T4.PS_SUPPKEY
WHERE
  nation.n_name = 'CANADA'
  AND lineitem.l_shipdate BETWEEN '1993-01-01' AND '1993-12-31'
  AND lineitem.l_quantity > 0.5 * partsupp.ps_availqty

[SQL2]
 SELECT
  COUNT(DISTINCT s_name)
FROM supplier, nation
WHERE
  supplier.s_suppkey IN (
    SELECT
      partsupp.ps_suppkey
    FROM partsupp, (
      SELECT
        l_partkey AS agg_partkey,
        l_suppkey AS agg_suppkey,
        0.5 * SUM(l_quantity) AS agg_quantity
      FROM lineitem
      WHERE
        l_shipdate >= '1993-01-01' AND l_shipdate < '1994-01-01'
      GROUP BY
        l_partkey,
        l_suppkey
    ) AS agg_lineitem
    WHERE
      agg_partkey = ps_partkey
      AND agg_suppkey = ps_suppkey
      AND ps_availqty > agg_quantity
  )
  AND supplier.s_nationkey = nation.n_nationkey
  AND nation.n_name = 'CANADA'

TSED: 0.0000
Tree Edit Distance: 108
Partial Match Score
- table_asts: 0.7980
- sel_asts: -0.0173
- cond_asts: 0.2370
- agg_asts: 0.0
- orderby_asts: None
- subqueries: 0.0
- distinct: 1.0000
- limit: None
Average score
- structural: 0.3343
- semantic: 0.3609
- overall: 0.3363
SELECT S.S_NAME, COUNT(*) AS late_delivery_count FROM SUPPLIER S JOIN LINEITEM L ON S.S_SUPPKEY = L.L_SUPPKEY WHERE S.S_NATIONKEY = (SELECT NATIONKEY FROM NATIONS WHERE NAME = 'GERMANY') AND L.L_RECEIPTDATE > L.L_COMMITDATE GROUP BY S.S_NAME ORDER BY late_delivery_count DESC LIMIT 100;
select
	s_name,
	count(*) as numwait
from
	supplier,
	lineitem l1,
	orders,
	nation
where
	s_suppkey = l1.l_suppkey
	and o_orderkey = l1.l_orderkey
	and l1.l_receiptdate > l1.l_commitdate
	and s_nationkey = n_nationkey
	and n_name = 'GERMANY'
group by
	s_name
order by
    numwait desc
limit 100;
[SQL1]
 SELECT
  supplier.s_name,
  COUNT(*)
FROM supplier
JOIN LINEITEM AS L
  ON S.S_SUPPKEY = L.L_SUPPKEY
WHERE
  supplier.s_nationkey = (
    SELECT
      None.nationkey
    FROM NATIONS
    WHERE
      NAME = 'GERMANY'
  )
  AND lineitem.l_receiptdate > lineitem.l_commitdate
GROUP BY
  supplier.s_name
ORDER BY
  None.late_delivery_count
LIMIT 100

[SQL2]
 SELECT
  supplier.s_name,
  COUNT(*)
FROM supplier, lineitem AS l1, orders, nation
WHERE
  supplier.s_suppkey = lineitem.l_suppkey
  AND orders.o_orderkey = lineitem.l_orderkey
  AND lineitem.l_receiptdate > lineitem.l_commitdate
  AND supplier.s_nationkey = nation.n_nationkey
  AND nation.n_name = 'GERMANY'
GROUP BY
  supplier.s_name
ORDER BY
  None.numwait
LIMIT 100

TSED: 0.2059
Tree Edit Distance: 54
Partial Match Score
- table_asts: 0.5972
- sel_asts: 0.6633
- cond_asts: 0.3397
- agg_asts: 1.0000
- orderby_asts: 0.3113
- subqueries: 0.0
- distinct: None
- limit: 1.0000
Average score
- structural: 0.5379
- semantic: 0.5937
- overall: 0.5588
[0.44383 0.52378 0.45578]

In [24]:
result_path = '../CHESS/results/dev/gpt-4o-mini/tpch_new_1/2025-01-07-11-15-00/-candidate_generation.json'
print_scores(result_path)

select count(*) as late_lineitem_count from LINEITEM where year(L_RECEIPTDATE) = 1993 and L_COMMITDATE < L_RECEIPTDATE;
select
	count(*) as count
from
	orders,
	lineitem
where
	o_orderkey = l_orderkey
	and l_commitdate < l_receiptdate
	and l_receiptdate >= '1993-01-01'
	and l_receiptdate < '1994-01-01';
[SQL1]
 SELECT
  COUNT(*)
FROM lineitem
WHERE
  YEAR(lineitem.l_receiptdate) = 1993
  AND lineitem.l_commitdate < lineitem.l_receiptdate

[SQL2]
 SELECT
  COUNT(*)
FROM orders, lineitem
WHERE
  orders.o_orderkey = lineitem.l_orderkey
  AND lineitem.l_commitdate < lineitem.l_receiptdate
  AND lineitem.l_receiptdate >= '1993-01-01'
  AND lineitem.l_receiptdate < '1994-01-01'

TSED: 0.2703
Tree Edit Distance: 27
Partial Match Score
- table_asts: 0.4950
- sel_asts: 1.0000
- cond_asts: 0.3845
- agg_asts: None
- orderby_asts: None
- subqueries: None
- distinct: None
- limit: None
Average score
- structural: 0.6217
- semantic: 0.6318
- overall: 0.6265
SELECT c.c_custkey, COUNT(o.o_orderkey) AS order_count FROM CUSTOMER c LEFT JOIN ORDERS o ON c.c_custkey = o.o_custkey GROUP BY c.c_custkey ORDER BY order_count DESC;
select
	c_count,
	count(*) as custdist
from
	(
		select
			c_custkey,
			count(o_orderkey) as c_count
		from
			customer left outer join orders on
				c_custkey = o_custkey
		group by
			c_custkey
	) as c_orders
group by
	c_count
order by
	custdist desc,
	c_count desc;
[SQL1]
 SELECT
  customer.c_custkey,
  COUNT(orders.o_orderkey)
FROM customer
LEFT JOIN ORDERS AS o
  ON c.c_custkey = o.o_custkey
GROUP BY
  customer.c_custkey
ORDER BY
  None.order_count

[SQL2]
 SELECT
  subquery_c_orders.c_count,
  COUNT(*)
FROM (
  SELECT
    customer.c_custkey,
    COUNT(orders.o_orderkey)
  FROM customer
  LEFT OUTER JOIN orders
    ON c_custkey = o_custkey
  GROUP BY
    c_custkey
) AS c_orders
GROUP BY
  subquery_c_orders.c_count
ORDER BY
  None.custdist,
  subquery_c_orders.c_count

TSED: 0.2093
Tree Edit Distance: 34
Partial Match Score
- table_asts: 0.6633
- sel_asts: 0.4950
- cond_asts: None
- agg_asts: 0.4950
- orderby_asts: 0.2010
- subqueries: 0.0
- distinct: None
- limit: None
Average score
- structural: 0.3630
- semantic: 0.3838
- overall: 0.3709
SELECT SUM(L_EXTENDEDPRICE * (1 - L_DISCOUNT)) AS promo_revenue, (SELECT SUM(L_EXTENDEDPRICE * (1 - L_DISCOUNT)) FROM LINEITEM WHERE L_SHIPDATE >= '1993-09-01' AND L_SHIPDATE < '1993-10-01') AS total_revenue, (SUM(L_EXTENDEDPRICE * (1 - L_DISCOUNT)) / (SELECT SUM(L_EXTENDEDPRICE * (1 - L_DISCOUNT)) FROM LINEITEM WHERE L_SHIPDATE >= '1993-09-01' AND L_SHIPDATE < '1993-10-01')) * 100 AS promo_revenue_percentage FROM LINEITEM T1 JOIN PART T2 ON T1.L_PARTKEY = T2.P_PARTKEY WHERE T2.P_TYPE LIKE '%PROMO%' AND T1.L_SHIPDATE >= '1993-09-01' AND T1.L_SHIPDATE < '1993-10-01';
select
	100.00 * sum(case
		when p_type like 'PROMO%'
			then l_extendedprice * (1 - l_discount)
		else 0
	end) / sum(l_extendedprice * (1 - l_discount)) as promo_revenue
from
	lineitem,
	part
where
	l_partkey = p_partkey
	and l_shipdate >= '1993-09-01'
	and l_shipdate < date('1993-09-01', '+1 month');
[SQL1]
 SELECT
  SUM(lineitem.l_extendedprice * (
    1 - lineitem.l_discount
  )),
  (
    SELECT
      SUM(lineitem.l_extendedprice * (
        1 - lineitem.l_discount
      ))
    FROM LINEITEM
    WHERE
      L_SHIPDATE >= '1993-09-01' AND L_SHIPDATE < '1993-10-01'
  ),
  (
    SUM(lineitem.l_extendedprice * (
      1 - lineitem.l_discount
    )) / (
      SELECT
        SUM(lineitem.l_extendedprice * (
          1 - lineitem.l_discount
        ))
      FROM LINEITEM
      WHERE
        L_SHIPDATE >= '1993-09-01' AND L_SHIPDATE < '1993-10-01'
    )
  ) * 100
FROM lineitem
JOIN PART AS T2
  ON T1.L_PARTKEY = T2.P_PARTKEY
WHERE
  part.p_type LIKE '%PROMO%'
  AND lineitem.l_shipdate >= '1993-09-01'
  AND lineitem.l_shipdate < '1993-10-01'

[SQL2]
 SELECT
  100.00 * SUM(
    CASE
      WHEN part.p_type LIKE 'PROMO%'
      THEN lineitem.l_extendedprice * (
        1 - lineitem.l_discount
      )
      ELSE 0
    END
  ) / SUM(lineitem.l_extendedprice * (
    1 - lineitem.l_discount
  ))
FROM lineitem, part
WHERE
  lineitem.l_partkey = part.p_partkey
  AND lineitem.l_shipdate >= '1993-09-01'
  AND lineitem.l_shipdate < DATE('1993-09-01', '+1 month')

TSED: 0.1964
Tree Edit Distance: 90
Partial Match Score
- table_asts: 1.0000
- sel_asts: 0.1214
- cond_asts: 0.5774
- agg_asts: None
- orderby_asts: None
- subqueries: 0.0
- distinct: None
- limit: None
Average score
- structural: 0.4071
- semantic: 0.4471
- overall: 0.4247
SELECT S.S_SUPPKEY, SUM(L.L_EXTENDEDPRICE * (1 - L.L_DISCOUNT)) AS TOTAL_REVENUE FROM SUPPLIER S JOIN LINEITEM L ON S.S_SUPPKEY = L.L_ORDERKEY WHERE L.L_SHIPDATE >= '1993-03-01' AND L.L_SHIPDATE < '1993-06-01' GROUP BY S.S_SUPPKEY ORDER BY TOTAL_REVENUE DESC LIMIT 1;
with revenue0 as
	(select
		l_suppkey as supplier_no,
		sum(l_extendedprice * (1 - l_discount)) as total_revenue
	from
		lineitem
	where
		l_shipdate >= '1993-03-01'
		and l_shipdate < date('1993-03-01', '+3 months')
	group by
		l_suppkey)

select
	s_suppkey, s_name
from
	supplier,
	revenue0
where
	s_suppkey = supplier_no
	and total_revenue = (
		select
			max(total_revenue)
		from
			revenue0
	)
order by
	total_revenue desc
limit 1;
[SQL1]
 SELECT
  supplier.s_suppkey,
  SUM(lineitem.l_extendedprice * (
    1 - lineitem.l_discount
  ))
FROM supplier
JOIN LINEITEM AS L
  ON S.S_SUPPKEY = L.L_ORDERKEY
WHERE
  lineitem.l_shipdate >= '1993-03-01' AND lineitem.l_shipdate < '1993-06-01'
GROUP BY
  supplier.s_suppkey
ORDER BY
  None.total_revenue
LIMIT 1

[SQL2]
 WITH revenue0 AS (
  SELECT
    l_suppkey AS supplier_no,
    SUM(l_extendedprice * (
      1 - l_discount
    )) AS total_revenue
  FROM lineitem
  WHERE
    l_shipdate >= '1993-03-01' AND l_shipdate < DATE('1993-03-01', '+3 months')
  GROUP BY
    l_suppkey
)
SELECT
  supplier.s_suppkey,
  supplier.s_name
FROM supplier, revenue0
WHERE
  supplier.s_suppkey = None.supplier_no
  AND None.total_revenue = (
    SELECT
      MAX(None.total_revenue)
    FROM revenue0
  )
ORDER BY
  None.total_revenue
LIMIT 1

TSED: 0.0000
Tree Edit Distance: 81
Partial Match Score
- table_asts: 0.4950
- sel_asts: 0.3940
- cond_asts: 0.4003
- agg_asts: 0.0
- orderby_asts: 1.0000
- subqueries: 0.0
- distinct: None
- limit: 1.0000
Average score
- structural: 0.4681
- semantic: 0.5703
- overall: 0.4699
SELECT COUNT(DISTINCT PS_SUPPKEY) AS supplier_count FROM PARTSUPP T1 JOIN PART T2 ON T1.PS_PARTKEY = T2.P_PARTKEY WHERE T2.P_SIZE = 49;
select
	count(distinct ps_suppkey) as supplier_cnt
from
	partsupp,
	part
where
	p_partkey = ps_partkey
	and p_size in (49);
[SQL1]
 SELECT
  COUNT(DISTINCT PS_SUPPKEY)
FROM partsupp
JOIN PART AS T2
  ON T1.PS_PARTKEY = T2.P_PARTKEY
WHERE
  part.p_size = 49

[SQL2]
 SELECT
  COUNT(DISTINCT ps_suppkey)
FROM partsupp, part
WHERE
  part.p_partkey = partsupp.ps_partkey AND part.p_size IN (49)

TSED: 0.1923
Tree Edit Distance: 21
Partial Match Score
- table_asts: 1.0000
- sel_asts: 0.0
- cond_asts: 0.3894
- agg_asts: None
- orderby_asts: None
- subqueries: None
- distinct: 1.0000
- limit: None
Average score
- structural: 0.5988
- semantic: 0.7839
- overall: 0.5974
SELECT strftime('%Y', O_ORDERDATE) AS year, SUM(L_EXTENDEDPRICE) AS gross_undiscounted_revenue FROM LINEITEM T1 JOIN PART T2 ON T1.L_PARTKEY = T2.P_PARTKEY JOIN ORDERS T3 ON T1.L_ORDERKEY = T3.O_ORDERKEY WHERE T2.P_BRAND = 'Brand#23' GROUP BY year;
select
	sum(l_extendedprice) / (strftime('%Y', max(o_orderdate))-strftime('%Y', min(o_orderdate))) as avg_yearly
from
	lineitem,
    orders,
	part
where
	p_partkey = l_partkey
    and l_orderkey = o_orderkey
	and p_brand = 'Brand#23';
[SQL1]
 SELECT
  STRFTIME('%Y', orders.o_orderdate),
  SUM(lineitem.l_extendedprice)
FROM lineitem
JOIN PART AS T2
  ON T1.L_PARTKEY = T2.P_PARTKEY
JOIN ORDERS AS T3
  ON T1.L_ORDERKEY = T3.O_ORDERKEY
WHERE
  part.p_brand = 'Brand#23'
GROUP BY
  None.year

[SQL2]
 SELECT
  SUM(lineitem.l_extendedprice) / (
    STRFTIME('%Y', MAX(orders.o_orderdate)) - STRFTIME('%Y', MIN(orders.o_orderdate))
  )
FROM lineitem, orders, part
WHERE
  part.p_partkey = lineitem.l_partkey
  AND lineitem.l_orderkey = orders.o_orderkey
  AND part.p_brand = 'Brand#23'

TSED: 0.0196
Tree Edit Distance: 50
Partial Match Score

- table_asts: 1.0000
- sel_asts: 0.1331
- cond_asts: 0.3267
- agg_asts: 0.0
- orderby_asts: None
- subqueries: None
- distinct: None
- limit: None
Average score
- structural: 0.3567
- semantic: 0.3812
- overall: 0.3649
SELECT COUNT(DISTINCT T1.O_CUSTKEY) AS large_volume_customers_count FROM ORDERS AS T1 JOIN LINEITEM AS T2 ON T1.O_ORDERKEY = T2.L_ORDERKEY GROUP BY T1.O_ORDERKEY HAVING SUM(T2.L_QUANTITY) > 300;
select
	count(distinct c_custkey)
from
	customer,
	orders,
	lineitem
where
	o_orderkey in (
		select
			l_orderkey
		from
			lineitem
		group by
			l_orderkey having
				sum(l_quantity) > 300
	)
	and c_custkey = o_custkey
	and o_orderkey = l_orderkey;
[SQL1]
 SELECT
  COUNT(DISTINCT T1.O_CUSTKEY)
FROM orders
JOIN LINEITEM AS T2
  ON T1.O_ORDERKEY = T2.L_ORDERKEY
GROUP BY
  orders.o_orderkey
HAVING
  SUM(lineitem.l_quantity) > 300

[SQL2]
 SELECT
  COUNT(DISTINCT c_custkey)
FROM customer, orders, lineitem
WHERE
  orders.o_orderkey IN (
    SELECT
      lineitem.l_orderkey
    FROM lineitem
    GROUP BY
      l_orderkey
    HAVING
      SUM(l_quantity) > 300
  )
  AND customer.c_custkey = orders.o_custkey
  AND orders.o_orderkey = lineitem.l_orderkey

TSED: 0.0000
Tree Edit Distance: 52
Partial Match Score
- table_asts: 0.4950
- sel_asts: -0.0102
- cond_asts: 0.2425
- agg_asts: 0.0
- orderby_asts: None
- subqueries: 0.0
- distinct: 1.0000
- limit: None
Average score
- structural: 0.2888
- semantic: 0.4582
- overall: 0.2879
select sum(l_extendedprice * (1 - l_discount)) as total_discounted_revenue from LINEITEM T1 join PART T2 on T1.l_partkey = T2.p_partkey where T1.l_shipmode = 'AIR' and T2.p_brand = 'Brand#12';
select
	sum(l_extendedprice* (1 - l_discount)) as revenue
from
	lineitem,
	part
where
	(
		p_partkey = l_partkey
        and p_brand = 'Brand#12'
		and l_shipmode in ('AIR', 'AIR REG')
	);
[SQL1]
 SELECT
  SUM(lineitem.l_extendedprice * (
    1 - lineitem.l_discount
  ))
FROM lineitem
JOIN PART AS T2
  ON T1.l_partkey = T2.p_partkey
WHERE
  lineitem.l_shipmode = 'AIR' AND part.p_brand = 'Brand#12'

[SQL2]
 SELECT
  SUM(lineitem.l_extendedprice * (
    1 - lineitem.l_discount
  ))
FROM lineitem, part
WHERE
  (
    part.p_partkey = lineitem.l_partkey
    AND part.p_brand = 'Brand#12'
    AND lineitem.l_shipmode IN ('AIR', 'AIR REG')
  )

TSED: 0.2750
Tree Edit Distance: 29
Partial Match Score
- table_asts: 1.0000
- sel_asts: 1.0000
- cond_asts: 0.5537
- agg_asts: None
- orderby_asts: None
- subqueries: None
- distinct: None
- limit: None
Average score
- structural: 0.8507
- semantic: 0.8517
- overall: 0.8512
SELECT COUNT(DISTINCT s.S_SUPPKEY) AS supplier_count FROM SUPPLIER s JOIN NATION n ON s.S_NATIONKEY = n.N_NATIONKEY JOIN REGION r ON n.N_REGIONKEY = r.R_REGIONKEY JOIN PARTSUPP ps ON s.S_SUPPKEY = ps.PS_SUPPKEY JOIN LINEITEM l ON ps.PS_PARTKEY = l.L_PARTKEY AND ps.PS_SUPPKEY = l.L_SUPPKEY JOIN ORDERS o ON l.L_ORDERKEY = o.O_ORDERKEY WHERE r.R_NAME = 'CANADA' AND o.O_ORDERDATE BETWEEN '1993-01-01' AND '1993-12-31' GROUP BY ps.PS_PARTKEY, s.S_SUPPKEY HAVING SUM(l.L_QUANTITY) < ps.PS_AVAILQTY * 0.5;
select
	count(distinct s_name) as count
from
	supplier,
	nation
where
	s_suppkey in (
		select
			ps_suppkey
		from
			partsupp,
			(
				select
					l_partkey agg_partkey,
					l_suppkey agg_suppkey,
					0.5 * sum(l_quantity) AS agg_quantity
				from
					lineitem
				where
					l_shipdate >= '1993-01-01'
					and l_shipdate < '1994-01-01'
				group by
					l_partkey,
					l_suppkey
			) agg_lineitem
		where
			agg_partkey = ps_partkey
			and agg_suppkey = ps_suppkey
			and ps_availqty > agg_quantity
	)
	and s_nationkey = n_nationkey
	and n_name = 'CANADA';
[SQL1]
 SELECT
  COUNT(DISTINCT s.S_SUPPKEY)
FROM supplier
JOIN NATION AS n
  ON s.S_NATIONKEY = n.N_NATIONKEY
JOIN REGION AS r
  ON n.N_REGIONKEY = r.R_REGIONKEY
JOIN PARTSUPP AS ps
  ON s.S_SUPPKEY = ps.PS_SUPPKEY
JOIN LINEITEM AS l
  ON ps.PS_PARTKEY = l.L_PARTKEY AND ps.PS_SUPPKEY = l.L_SUPPKEY
JOIN ORDERS AS o
  ON l.L_ORDERKEY = o.O_ORDERKEY
WHERE
  region.r_name = 'CANADA'
  AND orders.o_orderdate BETWEEN '1993-01-01' AND '1993-12-31'
GROUP BY
  partsupp.ps_partkey,
  supplier.s_suppkey
HAVING
  SUM(lineitem.l_quantity) < partsupp.ps_availqty * 0.5

[SQL2]
 SELECT
  COUNT(DISTINCT s_name)
FROM supplier, nation
WHERE
  supplier.s_suppkey IN (
    SELECT
      partsupp.ps_suppkey
    FROM partsupp, (
      SELECT
        l_partkey AS agg_partkey,
        l_suppkey AS agg_suppkey,
        0.5 * SUM(l_quantity) AS agg_quantity
      FROM lineitem
      WHERE
        l_shipdate >= '1993-01-01' AND l_shipdate < '1994-01-01'
      GROUP BY
        l_partkey,
        l_suppkey
    ) AS agg_lineitem
    WHERE
      agg_partkey = ps_partkey
      AND agg_suppkey = ps_suppkey
      AND ps_availqty > agg_quantity
  )
  AND supplier.s_nationkey = nation.n_nationkey
  AND nation.n_name = 'CANADA'

TSED: 0.0000
Tree Edit Distance: 125
Partial Match Score
- table_asts: 0.6263
- sel_asts: -0.0172
- cond_asts: 0.0850
- agg_asts: 0.0
- orderby_asts: None
- subqueries: 0.0
- distinct: 1.0000
- limit: None
Average score
- structural: 0.2848
- semantic: 0.4355
- overall: 0.2824
SELECT S.S_NAME AS SupplierName, COUNT(*) AS LateDeliveryCount FROM SUPPLIER S JOIN NATION N ON S.S_NATIONKEY = N.N_NATIONKEY JOIN LINEITEM L ON S.S_SUPPKEY = L.L_SUPPKEY WHERE N.N_NAME = 'GERMANY' AND L.L_RECEIPTDATE > L.L_COMMITDATE GROUP BY S.S_NAME ORDER BY LateDeliveryCount DESC LIMIT 100;
select
	s_name,
	count(*) as numwait
from
	supplier,
	lineitem l1,
	orders,
	nation
where
	s_suppkey = l1.l_suppkey
	and o_orderkey = l1.l_orderkey
	and l1.l_receiptdate > l1.l_commitdate
	and s_nationkey = n_nationkey
	and n_name = 'GERMANY'
group by
	s_name
order by
    numwait desc
limit 100;
[SQL1]
 SELECT
  supplier.s_name,
  COUNT(*)
FROM supplier
JOIN NATION AS N
  ON S.S_NATIONKEY = N.N_NATIONKEY
JOIN LINEITEM AS L
  ON S.S_SUPPKEY = L.L_SUPPKEY
WHERE
  nation.n_name = 'GERMANY' AND lineitem.l_receiptdate > lineitem.l_commitdate
GROUP BY
  supplier.s_name
ORDER BY
  None.latedeliverycount
LIMIT 100

[SQL2]
 SELECT
  supplier.s_name,
  COUNT(*)
FROM supplier, lineitem AS l1, orders, nation
WHERE
  supplier.s_suppkey = lineitem.l_suppkey
  AND orders.o_orderkey = lineitem.l_orderkey
  AND lineitem.l_receiptdate > lineitem.l_commitdate
  AND supplier.s_nationkey = nation.n_nationkey
  AND nation.n_name = 'GERMANY'
GROUP BY
  supplier.s_name
ORDER BY
  None.numwait
LIMIT 100

TSED: 0.1912
Tree Edit Distance: 55
Partial Match Score
- table_asts: 0.7475
- sel_asts: 1.0000
- cond_asts: 0.3940
- agg_asts: 1.0000
- orderby_asts: 0.2976
- subqueries: None
- distinct: None
- limit: 1.0000
Average score
- structural: 0.7458
- semantic: 0.7351
- overall: 0.7399
[0.49855 0.56786 0.50157]